.hidden-block{position:absolute;left:-99999em;top:-99999em;}
/* base styles*/
*,*:before, *:after{box-sizing:border-box;outline:none;}
*,body,html{-webkit-text-size-adjust: none;-webkit-appearance: none;max-height: 9001em;}
html{height:100%; font-size: 16px;}
body{min-height:100%;width:100%;min-width:320px;font-family:'FuturaPT'; font-weight: 300;background:#fff;color:#000;position:relative;font-size: 16px;line-height: 1.27;}
img{vertical-align:bottom;border:0;max-width:100%;}

.mbox{max-width:1170px;width:100%;margin:0 auto;position:relative; padding: 0 15px;}
.footer_placeholder {}
.footer{position:absolute;bottom:0;left:0;width:100%;z-index:2;overflow:hidden;}

input, textarea{
    &::-webkit-input-placeholder {color:#7f7f7f; font-size: 13px;}
    &:-moz-placeholder {color:#7f7f7f; font-size: 13px;}
    &::-moz-placeholder {color:#7f7f7f; font-size: 13px;}
    &:-ms-input-placeholder {color:#7f7f7f; font-size: 13px;}
}

/*End Layout*/

/*fonts*/
@mixin font-face($style-name, $file:$style-name, $weight:normal, $style:normal) {
    $filepath: "../fonts/" + $file;
    @font-face {
        font-family: quote($style-name);
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'),
        url($filepath + ".woff") format('woff'),
        url($filepath + ".ttf")  format('truetype'),
        url($filepath + ".svg#" + $style-name + "") format('svg');
        font-weight: $weight;
        font-style: $style;
    }
}
@include font-face('FuturaPT', 'FuturaPTBold', 700);
@include font-face('FuturaPT', 'FuturaPTDemi', 600);
@include font-face('FuturaPT', 'FuturaPTMedium', 500);
@include font-face('FuturaPT', 'FuturaPTBook', 400);
@include font-face('ProximaNova', 'ProximaNovaLight', 300);
@include font-face('FuturaPT', 'FuturaPTLight', 300);
ul{list-style-type: none; margin: 0;padding: 0;}
a{text-decoration: none; color: #000;}
a:hover{text-decoration: underline;}
b{font-weight: 600;}
.gray{color: #7f7f7f;}
button{background-color: transparent; border:none; padding: 0;}
h1, h2 {font-size: 24px; color: #000000; font-weight: 400;}
h3{}
h4{}
h5{font-size: 17px;}
h1, h2, h3, h4, h5, h6 { line-height: 1.2em;   margin-bottom: .26em;  word-wrap: break-word;  font-weight: 700;  color: #333333; }
.title{text-align: center; margin-bottom: 30px;
    h1,h2{font-size: 60px; font-weight: 400;}
}
.about {
    &__content {display: flex; padding-bottom: 20px;}
    &__info {width: 50%;}
    &__img {width: 50%; margin-left: 50px;}
    h4 { font-size: 11px; line-height: 20px;  letter-spacing: 4px; text-transform: uppercase;  }
    img{margin-top: 20px;}
    p {line-height: 22px; }
}
.basket {
    h1 {letter-spacing: 1px;}
    &__box {padding: 11px 0 15px 0;}
    &__button {  }
    &__get {display: flex; align-items: center; justify-content:center; margin: 0;}
    &__head {display: flex; justify-content: space-between; align-items:center;}
    &__enter {display: flex; justify-content: flex-end; align-items: center;}
    &__ask {margin-right: 30px; font-size: 13px; font-weight: 300; text-align: right; max-width: 265px; letter-spacing: 0.6px;}
    &__dropdowns {padding-top: 40px;}
}
.breadcrumbs { line-height: 1;
    &__list {display: flex; align-items: flex-start; flex-wrap: wrap;}
    &__item {
        a {padding: 0 12px 0 0px; margin: 0 10px 0 0; text-transform: capitalize; text-decoration: underline; position: relative; font-size: 16px; letter-spacing: 1px;
            &:after { display: block; position: absolute; content: '>'; right: -4px; top: 50%; transform: translateY(-50%);}
        }
        &:first-child a {padding-left: 0;}
        &:last-child a { font-weight: 600;
            &:after { display: none;}
        }
        b {padding: 0 0px;font-size: 16px;  letter-spacing: 0.8px;}
    }
}
.btn{background-color: #000000; color: #fff; text-transform: uppercase; text-decoration: none; padding: 20px; transition: all 200ms; letter-spacing: 1px; max-width: 260px; width: 100%; text-align: center; display: inline-block; user-select: none;
    &:hover {opacity: 0.9; text-decoration: none;}
    &--small { padding: 10px 15px; letter-spacing: 0.2px; max-width: none; width: auto; }
    &--white {background-color: #fff; border: 1px solid #000; color: #000;}
}
.blog {margin: 0 -15px; column-count: 3; column-gap: 0;
    &__box {display: inline-block; position: relative; padding: 0 15px 15px;
      &:hover .blog__hover {display: inline-block;}
      &--active {width: 33.1%;}
    }
    &__hover {}
    &__social {padding: 15px 10px 10px; display: inline-block;
        svg {width: 20px; height: 20px;}
    }
    &__img {width: 100%; margin-bottom: 15px;
        img {width: 100%;}
    }
    &__title {margin-bottom: 15px; font-weight: 700; font-size: 17px;}
    &__text {margin-bottom: 15px; font-size: 15px; font-weight: 400; line-height: 23px;}
    &--active {display: flex; flex-wrap: wrap;}
}
.blog-detail {max-width: 740px; margin: 0 auto; padding: 40px 0;
    &__header {display: flex; justify-content: space-between; align-items: center;}
    &__social {width: 20px; height: 20px; margin-left: 20px;
        svg {width: 100%; height: 100%;}
        &-wrap {display: flex;}
    }
    &__date {font-size: 12px; font-style: italic;}
    &__title {padding-top: 20px;
        h2 {text-align: center;}
        p {}
    }
    &__post {
        p {line-height: 1.4;}
    }
    &__photo { padding: 15px 0; display: flex;flex-direction: column;
        &-wrap {display: flex; margin: 0 -15px;
            div {width: 50%; padding: 15px;}
        }
        img {display: block; width: 100%; height: 100%; object-fit: cover;}
        &--double {width: 100%!important;padding: 0!important;height: 50%;
            &:first-child {padding-bottom: 30px!important;}
        }
    }
    &__center {text-align: center;}
}
.card {width: 100%; display: flex;
    &__sliders {width: 551px; display: flex;}
    &__info { padding: 0 0px 0 28px; flex-grow: 1;}
    &__shower {}
    &__header {letter-spacing: 1.1px; margin: 17px 0 5px;}
    &__box {padding-top: 24px;
        .card__charact {margin-top: 0;}
    }
    &__mainslider {position: relative; width: calc(100% - 100px);}
    &__arrow {position: absolute; width: 30px; height: 30px; top: 50%; transform: translateY(-50%); background-color: transparent; z-index: 5; left: 18px; cursor: pointer;
        &:before {position: absolute; content: ''; width: 17px; height: 17px; transform-origin: 50% 50%; top: 50%; border-top:2px solid #000; border-left: 2px solid #000; display: block; left: 50%; transform: translate(-50%, -50% ) rotateZ(-45deg); transition: all 200ms; }
        &--next {transform: translateY(-50%) rotateZ(180deg); left: auto; right: 18px; }
        &:hover {
            &:before {opacity: 0.8;}
        }
    }
    &__slide { height: 100%;}
    &__content { position: relative; height: 0; padding-bottom: 132%;
        img {object-fit: cover; width: 100%; height: 100%; position: absolute;}
    }
    &__price {font-size: 30px; font-weight: 600; line-height: 30px; margin-top: 8px; letter-spacing: 1.9px; margin-bottom: 10px; }
    &__boxes { display: flex; align-items: flex-start; justify-content: flex-start; margin-right: 15px; flex-wrap: wrap;
        label { display: flex; align-items: center; justify-content:center;  text-align: center; margin: 5px 15px 0px 0; }
        input {display: none;}
        i{ font-style: normal; font-size: 18px; width: 55px; height: 40px; border: 1px solid #f2f2f2; display: flex; align-items: center; justify-content: center; cursor: pointer; }
        input:checked + i {font-weight: 600; background-color: #f2f2f2;}
    }
    &__by {display: flex; align-items: flex-start; justify-content: space-between; margin-top: 25px;
        .btn {margin-top: 5px;}
    }
    &__guide { text-align: center; padding-right: 30px; margin-top: 3px;
        a {font-size: 14px; font-weight: 300; text-decoration: underline; letter-spacing: 0.7px;
            &:hover {text-decoration: none;}
        }
    }
    &__charact { margin-top: 46px;
        span {font-size: 18px; letter-spacing: normal;}
        p { margin: 12px 0; letter-spacing: 0.8px;}
    }
    &__colors {display: flex; align-items: center; justify-content: flex-start; flex-wrap: wrap;}
    &__option {width: 98px; height: 110px; margin: 0 10px 10px 0;
        img {width: 100%; height: 100%; object-fit: cover;}
    }
    &__get {display: flex; align-items: center; justify-content: center; margin-top: 33px;}
    &__article {font-size: 13px; color: #999;}
}
.catalog{display: flex;
    &__nav{width: 200px; flex-shrink: 0; }
    &__links{line-height: 2; padding-top: 12px;}
    &__right{padding-left: 30px; width: 100%;}
    &__top{display: flex; flex-wrap: wrap; margin: 0 -10px;   }
    &__size{display: flex;
        label{position: relative;display: block; cursor: pointer;margin: 0 18px 0 0;padding-top: 6px;}
        input{opacity: 0; visibility: hidden; height: 0; width: 0;}
        input + span{opacity: 0.3; white-space: nowrap;}
        input:checked + span{opacity: 1;}
    }
    &__sort{display: flex; align-items: flex-start; margin: 0 10px 10px;
        b{margin-right: 10px;padding-top: 5px;}
    }
    &__mob{display: none;}
    &__box{display: flex;flex-wrap: wrap;margin: 0 -15px; padding-top: 10px;}
    &__item{ width: 262px; margin:0 15px 30px;
        &:hover{
            .btn{transform: translateY(0)}
            .catalog__bg--hover {display: inherit;}
        }
    }
    &__wrap{width: 100%;}
    &__bg{width: 100%;height: 100%; position: absolute; left: 0;top: 0;
        &--hover {display: none;}
        img{object-fit: cover; width: 100%;height: 100%;}
    }
    &__img{padding-top: 152%; width: 100%; position: relative;overflow: hidden; }
    &__item{width: calc(33% - 30px);}
    &__button{position: absolute; bottom: 0; width: 100%; max-width:none; ;transform: translateY(100%); transition: transform 300ms;}
    &__description{padding-top: 5px; letter-spacing: 1px;
        p{margin: 0;}
        b{margin-right: 8px;}
    }
    &__search{display: flex;align-items: center; width: 100%;  cursor: pointer; position: relative;
        &:before{content: ''; display: block;width: 0; left: 0;bottom: 0; height: 1px; background-color: #000; transition: width 300ms; position: absolute; }
        input{flex-grow: 1; border:none; padding: 4px 0; margin-left: 12px; opacity: 0;
            &:focus{opacity: 1;}
            &:focus +  .catalog__search-close{opacity: 1;}
        }
        &.active,
        &:hover{
            &:before{width: 100%;}
            .catalog__search-close{opacity: 1;}
            input{opacity: 1;}
        }
    }
    &__search-svg{width: 14px;height: 14px;
        svg{width: 100%; height: 100%;}
    }
    &__search-close{ position: relative;width: 20px;height: 20px; cursor: pointer; transition: opacity 300ms; opacity: 0;
        &:before,&:after{content: ''; width: 16px;height: 1px;display: block;background-color: #000; transform:rotate(45deg); position: absolute; top: 50%; left: 3px;}
        &:after{transform:rotate(-45deg);}
    }
    &__btn{width: 100%; text-align: center;}
    &__mbox{max-width: 1300px;}
}
.contact{
    &__wrap{display: flex; justify-content: space-between;margin-left: -15px;margin-bottom: 30px;}
    &__link{padding: 15px; display: flex;flex-direction: column;width: 33%;
        h5{}
    }
    &__callback {display: flex;justify-content: space-between;align-items: center;margin-top: 60px;
        &-title {font-size: 25px;font-weight: 500;text-transform: uppercase;letter-spacing: 2.2px;margin-right: 15px;}
    }
    &__input {margin: 0 15px;
        &-group {display: flex;}
        input {width: 260px;border:none;border-bottom: 1px solid #000;padding: 4px 15px;
            &::placeholder {font-size: 13px;font-weight: 600;}
        }
    }
    &__btn {margin-left: 15px;
        button {min-width: 262px;}
    }
    &__text {max-height: 70px;overflow: hidden;position: relative;cursor: pointer;transition: max-height .3s;font-size: 15.28px;letter-spacing: .82px;margin-top: 40px;
        &.active {max-height: 300px;padding-bottom: 10px;
            &:before {opacity: 0;}
            &:after {transform: rotate(-90deg) scale(.6, 1);bottom: -7px;}
        }
        &:before {content: '';position: absolute;width: 100%;top: 0;bottom: 0;display: block;background: 0 0;background: -webkit-gradient(left top,left bottom,color-stop(0,rgba(255,0,0,.1)),color-stop(100%,rgba(255,255,255,.9)));background: linear-gradient(to top,rgba(255,255,255, 1) 0,rgba(255,255,255,.1) 100%);transition: opacity .3s;}
        &:after {content: '>';position: absolute;transform: rotate(90deg) scale(.6, 1);bottom: -8px;left: 0;right: 0;text-align: center;transition: transform .3s;}
    }
    &__map {min-height: 450px;background-color: #cccccc;}
}
header{border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; z-index: 2000; position: relative; background-color: #fff;}
.header{display: flex; justify-content: space-between; align-items: center; height: 70px;
    &__butter{width: 30px;height: 30px; display: none; cursor: pointer; border:none; padding: 0;
        span{display: block; width: 100%; background-color: #000; height: 3px;margin: 5px 0;}
    }
    &__logo{width: 134px;
        span{font-family: 'ProximaNova'; font-weight: 300; font-size: 11.13px;text-transform: uppercase;line-height: 42px;letter-spacing: 8px; }
        a{display: block; height: 40px; width: 100%; position: relative;text-align: center;
            img{position: absolute;left: calc(50% - 12px);}
        }
    }
    &__nav{display: flex;justify-content: space-between;padding: 0 15px;max-width: 1170px;margin: 0 auto;position: relative;
        &-wrap {border-top: 1px solid #ccc;}
        &>ul{display: flex;justify-content: space-between;align-items: center; width: 100%;max-width: 885px;margin: 0 -15px;}
        li{white-space: nowrap;padding: 8px 15px;}
    }
    &__right{}
    &__phone{white-space: nowrap;
        svg{display: none;}
    }
    &__ctrl{display: flex; justify-content: space-between; padding-top: 3px;}
    &__lang{text-transform: uppercase; position: relative; user-select: none;display: flex;align-items: center;
        p{margin: 0; cursor: pointer;position: relative; padding-top: 2px;
            &:after{width: 0;height: 0;content:''; display: inline-block; border: 3px solid transparent; border-top:6px solid #000; margin-left: 11px;}
        }
    }
    &__drpdwn{position: absolute;  top: calc(100% + 10px);left: 50%; transform: translateX(-50%); display: none;background-color: #fff;z-index: 10; padding: 5px; box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
        &.active{display: block;}
        &:before{width: 6px;height: 6px; background-color: #fff; content:''; display: block;position: absolute;top: -3px; left: calc(50% - 3px); transform: rotate(45deg); box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);}
        &:after{content: ''; width: 100%; height: 100%; background-color: #fff; left: 0;top: 0; display: block; position: absolute;z-index: 0;}
        li{position: relative;z-index: 10;}
    }
    &__user{width: 22px;height : 22px;display: block; cursor: pointer; position: relative;
        svg{width: 100%;height: 100%;}
        &-wrap {display: flex;align-items: center;}
    }
    &__cart{width: 17px;height: 16px; display: flex; cursor: pointer; position: relative;margin-left: 15px;
        svg{width: 100%;height: 100%;}
        b{color: #fff; font-size: 10px;  border-radius: 5px; background-color: #f00; font-weight: 300; position: absolute; right: -6px;top: -5px; display: block;min-width: 12px; text-align: center;}
    }
    &__icons{display: flex; justify-content: flex-end; align-items: center; }
    &__callme {font-weight: 300;color: #fff;padding: 5px 20px;font-size: 14px;background-color: #000;text-transform: uppercase;letter-spacing: .6px;margin: 0 15px;}
    &__open-info {font-size: 14px;font-weight: 300;}
    &__avatar {width: 22px;height: 22px;border-radius: 50%;overflow: hidden;
        img {display: block;width: 100%;height: 100%;object-fit: cover;}
    }
    &__name {font-weight: 300;font-size: 14px;display: flex;flex-direction: column;letter-spacing: .25px;margin-left: 10px;justify-content: center;}
    &__subnav {position: absolute;top: 100%;left: 0;padding: 28px 30px;margin:0 15px;width: calc(100% - 30px);background-color: #f2f2f2;border: 1px solid #ccc;transform: translateY(-100%);opacity: 0;pointer-events:none;transition: opacity .3s, transform .3s;
        ul {display: flex;flex-wrap: wrap;}
        li {width: 33.3%;padding: 5px 15px;}
        a {text-transform: uppercase;font-weight: 500;letter-spacing: 1.4px;font-size: 14px;}
    }
}
.has-child {
    &:hover {
        .header__subnav {transform: translateY(0);opacity: 1;pointer-events: auto;}
    }
}
.home-banner{
    &__box {  background-color: #fff;   width: 100%;   display: flex; justify-content: flex-start; align-items: stretch; flex-wrap: wrap; }

    &__item {display: block; margin: 15px; position: relative; width:calc(65% - 30px);
        &:hover{
            .home-banner__title:after {width: 100%; background-color: #000;}
            .home-banner__title--white:after {width: 100%; background-color: #fff;}
            .home-banner__back:after {opacity: 1;}
        }
        &:nth-child(4n - 1),
        &:nth-child(4n - 2) {width: calc(35% - 30px);
            .home-banner__title{color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.6);
                &:after{background-color: #fff;}
            }
        }
        &:nth-child(4n - 2) .home-banner__title{top: auto; bottom: 30px;}
    }
    &__title {position: absolute; display: inline-block; font-size: 32px; font-weight: 400; color: #000; line-height: 1.5; left: 0; top: 30px; padding: 0 45px;
        &:after {display: block; content: ""; height: 2px; width: 0%; transition: width .3s ease-in-out;}

    }
    &__back {width: 100%; height: 100%;
        img {width: 100%; height: 100%; object-fit: cover;}
        &:after {content: ''; display: block; opacity: 0; position: absolute; top: 0; height: 100%; width: 100%; transition: 0.3s all ease; background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#66000000',GradientType=0 ); }
    }
}
.location{
    &__tabs{display: flex; padding-bottom: 10px; flex-wrap: wrap;
        li{text-decoration: underline; margin: 10px; cursor: pointer;
            &.active{text-decoration: none;font-weight: 700;}
        }
    }
    &__info{display: none; padding: 10px;
        &.active{display: block;}
    }
}
.main{padding-top: 20px; padding-bottom: 50px;}
.menus{position: fixed;right: 100%; top: 0;width: 100%; height: 100%;z-index: 9999;
    &__item{position: absolute;transition:left 500ms; left: 0; top: 0; width: 100%; height: 100%; background-color: #fff; box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);  max-width: 270px;   display: flex;flex-direction: column;overflow: hidden; transform: translateZ(0px);
        &.active{left: 100%;}
    }
    &__close{padding: 0; border:none;background-color: transparent;position: absolute; left: 11px;top: 15px;width: 30px;height: 30px;
        &:before,&:after{content: ''; width: 26px;height: 1px;display: block;background-color: #000; transform:rotate(45deg); position: absolute; top: 50%; left: 3px; z-index: 1;}
        &:after{transform:rotate(-45deg);}
    }
    &__title{display: flex; align-items: center; padding: 0 15px;   width: 100%; background-color: #fff; flex-shrink: 0; height: 58px; text-transform: uppercase;
        p{margin: 0; }
        b{display: block;margin: 0 auto;}
    }
    &__top {width: 100%; height: 100%; display: flex; align-items: center; border-bottom: 1px solid #ccc; position: relative;}
    &__butter {width: 23px; height: 23px;
        span {height: 2px;}
    }
    &__logo {position: absolute; left: 50%; transform: translateX(-50%);
        span {font-size: 9.18px; letter-spacing: 6.5px;}
        a {
            img {width: 21px; top: 2px; left: calc(50% - 14px);}
        }
    }
    &__content{ height: calc(100vh - 112px); overflow-y: auto;}
    &__ava{width: 40px; height: 40px;margin-right: 30px;
        svg{width: 100%; height: 100%;}
    }
    &__nav{text-transform: uppercase; padding: 0 15px; line-height: 1.67;
        a {padding: 22px 0; display: block; text-transform: capitalize; border-bottom: 1px solid #ccc;}
    }
    &__socials{display: flex; justify-content: space-evenly; align-items: center; width: 100%;   padding: 15px 0; background-color: #fff; flex-shrink: 0;}
    &__icon{width: 20px;height: 20px; display: block; padding: 2px;
        svg{width: 100%; height: 100%;}
    }
    .has-child {max-height: 71px;overflow: hidden;transition: max-height .3s;
        &>a {position: relative;transition: padding .3s;
            &:before {position: absolute;content: '>';top: 50%;right: 0; transform: translateY(-50%) scale(.7, 1.5);transition: left .3s, right .3s;}
        }
        &.opened {max-height: 531px;transition: max-height .3s;
            &>a {padding-left: 30px;border-bottom: none;
                &:before {right: auto;left: 0;transform: translateY(-50%) scale(.7, 1.5) rotate(180deg);}
            }
            .menus__submenu {border-bottom: 1px solid #ccc;padding-bottom: 7px;margin-top: -15px;
                a {padding: 5px 0;border: none;}
            }
        }
    }
}
.navigator {
    &__slider {width: 100px; margin-right: 10px; flex-shrink: 0;
        .slick-current {
            img {border: 2px solid #000;}
        }
        .slick-list {padding: 0 !important;}
    }
    &__slide {margin: 0px 0 10px; height: 110px;
        img {border: 2px solid transparent;}
    }
}
.payment {
    span {font-size: 18px;}
    &__italic {font-style: italic;}
}
.popup{ width: 100%;max-width: 1140px;
    &__wrap{max-width: 590px;width: 100%;margin: 0 auto; padding: 30px 15px 10px;
        &--big{max-width: 100%;}
    }
    &__text{ text-align: center; padding: 10px 0; margin-bottom: 15px;
        h3{font-size: 24px; margin: 0 0 7px; text-transform: uppercase; font-weight: 400;}
        p{margin: 0;}
        a{text-decoration: underline;
            &:hover{text-decoration: none;}
        }
        .btn{text-decoration: none;}
    }
    &__socials{display: flex; justify-content: center; align-items: center;}
    &__soc-item{width: 25px; height: 25px; display: block; margin: 10px;
        svg{width: 100%; height: 100%;}
    }
    &__row{margin: 0 -15px 20px; display: flex;}
    &__input{width: 100%; margin: 0 15px;
        input{width: 100%; border:none; border-bottom: 1px solid #000; padding-left: 20px; height: 30px; line-height: 30px;}
    }
    .card__box {padding-top: 0;}
    .card__header {margin-top: 0;}
}
.return {
  &__info-title {font-size: 18px;}
  &__list {list-style: inherit; padding-left: 40px;
    &-title {font-size: 18px; margin-bottom: 5px;}
  }
}
.staff {display: flex; width: 100%; border-bottom: 1px solid #cccccc; padding-bottom: 36px; padding-top: 15px; margin-bottom: 33px;
    &__image {padding-top: 2px;}
    &__desc {display: flex; align-items: flex-start; justify-content: flex-start; padding: 0 0 0 20px; flex-direction: column; width: calc(100% - 100px); position: relative;}
    &__col {padding: 0 10px; margin-right: 10px;
        p {font-size: 16px; font-weight: 300;  margin-top: 0; letter-spacing: 0.9px; margin-bottom: 8px;
            b {font-weight: 600;}
        }
        &--size {width: 40%;}
        &--quantity {width: 27%; padding-left: 22px;}
        &--price {width: 30%; padding-left: 19px;}
    }
    &__head {font-size: 18px; color: #000; font-weight: 400; line-height: 18px; letter-spacing: 0.9px; padding-left: 10px; padding-right: 30px; }
    &__charact {width: 100%; display: flex; justify-content: flex-start; align-items: flex-start;  padding-top: 21px; }
    &__delete {position: absolute; width: 14px; height: 14px; top: 40px; right: 0; cursor: pointer;
        &:after {content: ''; display: block; position: absolute; transform-origin: 50% 50%; top: 50%; left: 50%; transform: translate(-50%, -50%) rotateZ(45deg); width: 14px; height: 2px; background-color: #000000;}
        &:before {content: ''; display: block; position: absolute; transform-origin: 50% 50%; top: 50%; left: 50%; transform: translate(-50%, -50%) rotateZ(135deg); width: 14px; height: 2px; background-color: #000000;}
        &:hover {opacity: 0.7;}
    }
    &__much { max-width: 68px; padding: 3px 0;
        input {border: 1px solid #e5e5e5; padding: 9px 10px; text-align: center; width: 100%;}
    }
}
.tabb { width: 100%; margin-bottom: 10px;
    &__head {width: 100%; padding: 8px 17px; border: 1px solid #e5e5e5; font-size: 18px; font-weight: 300; position: relative;}
    &__inputs {display: flex; justify-content: space-between; margin: 0 -15px;
        input {border: 0 solid #000000; border-bottom-width: 1px; font-size: 13px; padding: 5px 19px; margin: 0 15px; width: 20%; flex-grow: 1; letter-spacing: 1px; font-weight: 300; }
    }
    &__closer { position: absolute; right: 13px; top: 50%; transform: translateY(-50%); display: block; width: 20px; height: 20px; cursor: pointer;
        &:after { position: absolute; content: ''; width: 10px; height: 1px; background-color: #7f7f7f; transform-origin: 50% 50%; top: calc(50% - 1px); left: calc(50% - 1px); transform: translateX(-50%); }
        &:before { position: absolute; content: ''; width: 10px; height: 1px; background-color: #7f7f7f; transform-origin: 50% 50%; top: calc(50% - 1px); left: calc(50% - 1px); transform: translateX(-50%) rotateZ(90deg); transition: all 200ms; }
        &.active {
            &:before { position: absolute; content: ''; width: 10px; height: 1px; background-color: #7f7f7f; transform-origin: 50% 50%; top: calc(50% - 1px); left: 50%; transform: translateX(-50%) rotateZ(0deg); }
        }
    };
    &__box { display: block; height: 0;  opacity: 0; transition: all 200ms; margin-bottom: 10px; pointer-events: none; padding: 0;
        p {margin: 0;}
        &.active {display: block; height: auto; opacity: 1; pointer-events: all; padding: 31px 0 20px 0;
            p {margin: inherit;}
        }
    }
}
.top{width: 100%; min-height: calc(100vh - 103px); position: relative; display: flex; justify-content: center;align-items: center;
    &__bg{width: 100%; height: 100%; position: absolute; left: 0; top: 0;z-index: 0;
        img{width: 100%;height: 100%; object-fit: cover;}
    }
    &__text{position: relative; z-index: 10; text-align: center;
        h1{font-size: 48px; color: #fff;}
    }
    &__slider{margin-top: -20px; margin-bottom: 0;}
}
.trade{display: flex;
    &__article{width: 50%;}
    &__form{padding-left: 30px; width: 50%; text-align: center;}
}
.footer { background-color: #393939;color: #fff;
    &__wrap { display: flex;justify-content: space-between; padding: 31px 0; }
    &__form { width: 360px; padding: 10px 0;
        form {display: flex; align-items:center; justify-content: flex-end; width: 100%;}
        input {border: 0; border-bottom: 1px solid #000; font-size: 13px; font-weight: 300; margin-right: 25px; width: 100%; padding: 9px 14px; display: block; letter-spacing: 0.7px;}
        button {flex-grow: 0; letter-spacing: 0.2px;}
    }
    &__nav {display: flex;flex-wrap: wrap;margin: 0 0 0 105px;max-width: 390px;
        &-item {width: 50%;margin: 15px 0;}
        a {color: #fff;letter-spacing: .7px;}
        &-btn {display: none;}
    }
    &__socials {display: flex;margin-right: -15px;
        &-icon {margin: 0 17px;width: 15px;height: 15px;transition: opacity .3s;
            &:hover {opacity: .5;}
        }
        svg {width: 100%;height: 100%;fill: #000;}
    }
    .header__logo {display: flex;flex-direction: column;justify-content: space-between;min-height: 100%;width: 170px;margin: 5px 0 15px;
        span {font-size: 13.81px;letter-spacing: 10.5px;}
        a {color: #fff;
            img {left: calc(50% - 18px);top: -7px;}
        }
    }
    &__contacts {display: flex;flex-direction: column;justify-content: space-between;min-height: 100%;margin: 12px 0 20px;min-width: 175px;
        a {color: #fff;}
    }
    &__copyright {font-size: 12px;}
    &__work {display: flex;flex-direction: column;justify-content: space-between;margin: 15px 77px 15px 15px;min-height: 100%;letter-spacing: .8px;
        &-title {font-weight: 600;margin-bottom: 10px;}
    }
    &__phone {font-size: 26px;font-weight: 300;text-align: right;letter-spacing: .5px;}
}
.guide-size {display: flex;flex-direction: column;padding: 130px 90px;font-weight: 500;max-width: 1000px; position: fixed;right: 0;top: 0;z-index: 10;background-color: #fff;height: 100%;overflow-x: auto;transform: translateX(100%);transition: transform .3s;
    &.active {transform: translateX(0);}
    &__title {font-size: 42px;font-weight: 500;text-transform: uppercase;margin-bottom: 30px;}
    &__desc {font-size: 26px;font-weight: 500;text-transform: uppercase;color: #7f7f7f;margin-bottom: 80px;}
    &__table {display: flex;flex-direction: column;margin-bottom: 50px;min-height: 469px;
        &-row {display: flex;border-bottom: 2px solid #e6e6e6; color: #000; text-decoration: none;cursor: pointer;min-height: 89px;
            &:hover {background-color: #e6e6e6;}
            &:first-child {cursor: auto; background-color: #fff;
                .guide-size {
                    &__table {
                        &-col {font-size: 22px;text-decoration: none;}
                    }
                }
            }
            &.active {background-color: #e6e6e6;}
        }
        &-col {width: 15%;padding: 30px 15px;font-size: 26px;text-transform: uppercase;font-weight: 500;text-align: center;
            &:first-child {width: 25%;text-decoration: underline;}
        }
    }
    &__size {font-size: 26px;color: #7f7f7f;margin-bottom: 30px;text-transform: uppercase;
        &-content {display: none;
            &.active {display: block;}
        }
    }
    &__box {display: flex;}
    &__item {display: flex;flex-direction: column;width: 230px;padding-right: 40px;}
    &__length {font-size: 24px;margin-bottom: 20px;}
    &__measure {font-size: 14px;color: #7f7f7f;margin-bottom: 20px;text-transform: uppercase;}
    &__number {font-size: 31px;}
    .menus__close {top: 135px;right: 30px;left: auto;}
}
.overlay {background-color: #000; opacity: .5;content: ''; position: absolute; top: 0;left: 0;right: 0;bottom: 0;z-index: 9;display: none;}
.pagination {padding: 50px 0 30px;
    &__list {display: flex;justify-content: center;list-style: none;margin: 0;padding: 0;
        li {width: 41px;margin: 0 8px; position: relative;}
    }
    &__item {display: block;width: 41px;height: 41px;padding-left: 6px;padding-right: 6px;border: 2px solid #000;line-height: 37px;text-align: center;font-size: 18px;color: #000;text-decoration: none;transition: all .3s;
        &:hover {text-decoration: none;color: #fff;background-color: #000;}
        &.active {color: #fff;background-color: #000;}
    }
    &-arrow {width: 12px;height: 12px;border-right: 2px solid #000;border-bottom: 2px solid #000;transform: rotate(135deg);}
    &__prev {position: absolute;top: 50%;left: 50%;display: block;transform: translate(-50%, -50%);}
    &__next {position: absolute;top: 50%;left: 50%;display: block;transform: translate(-50%, -50%);
        .pagination-arrow {transform: rotate(-45deg);}
    }
    
}
@media screen and (min-width: 1500px){
    .mbox {max-width: 1900px;padding: 0 30px;}
    .card__sliders {width: 37%;}
    .basket {max-width: 1300px;margin: 0 auto;}
    .trade {max-width: 1300px;margin: 0 auto;}
    .about {max-width: 1300px; margin: 0 auto;}
    .location {max-width: 1300px; margin: 0 auto;}
    .payment {max-width: 1300px; margin: 0 auto;}
    .return {max-width: 1300px;margin: 0 auto;}
    .home-banner__box {max-width: 1300px; margin: 0 auto;}
    .header__nav {max-width: 1900px;padding: 0 30px;}
}
@media screen and (max-width: 1100px) {
    .card {
        &__by {flex-wrap: wrap;}
        &__boxes {margin-right: 0;}
    }
    .footer {
        &__nav {margin: 0 0 0 50px;}
        &__work {margin: 15px 35px 15px 15px;}
    }
    .contact {
        &__input {
            input {width: 200px;}
        }
        &__btn {
            button {min-width: 200px;}
        }
    }
}
@media screen and (max-width: 1024px) {
    .guide-size {padding: 130px 15px;
        &__title {font-size: 26px;}
        &__desc {font-size: 18px;width: 85%;margin-bottom: 30px;}
        &__table {margin-bottom: 30px;min-height: 268px;
            &-col {padding: 15px;font-size: 18px;}
            &-row {
                &:first-child {
                    .guide-size {
                        &__table {
                            &-col {font-size: 16px;}
                        }
                    }
                }
            }
        }
        &__size {font-size: 20px;margin-bottom: 15px;}
        &__length {font-size: 20px;margin-bottom: 10px;}
        &__measure {font-size: 12px;margin-bottom: 10px;}
        &__number {font-size: 24px;}
    }
}
@media screen and (max-width: 992px) {
    .card {
        &__sliders {width: 367px;}
    }
    .catalog{flex-direction: column;
        &__mob{display: block; margin-right: 20px;}
        &__right{width: 100%; padding-left: 0;}
        &__links{display: none;}
        &__button{display: none;}
        &__nav{display: flex;flex-direction: row-reverse; align-items: center; justify-content: space-between; width: 100%; margin-bottom: 10px;}
    }
    .header{ height: 80px;padding-bottom: 0;
        &__butter{display: block; flex-shrink: 0;}
        &__nav{display: none;
          &-wrap {border-top: none;}
        }
        &__phone{display: block;
            span{display: none;}
            svg{display: block; width: 18px; height: 18px;}
        }
        &__right{display: flex;align-items: center; padding-top: 0;}
        &__ctrl{padding-top: 0; margin-left: 15px;}
        &__user{display: none;
            &-wrap {display: none;}
        }
        &__middle {display: none;}
    }
    .home-banner__title {left: 15px;}
    .title{ h1, h2{font-size: 40px;}}
    .footer {
        &__wrap {flex-direction: column;align-items: center;padding-bottom: 16px;}
        &__copyright {margin-top: 30px;}
        &__nav {margin: 0;text-align: center;max-height: 0;opacity: 0;pointer-events: none;transition: all .2s;
            &.active {max-height: 500px; opacity: 1;pointer-events: all;}
            &-wrap {text-align: center;}
            &-btn {display: inline-block;margin: 15px 0;letter-spacing: .8px;text-align: center;cursor: pointer;position: relative;
                &:before {position: absolute;content: '>';top: 1px;right: -15px;transform: rotate(90deg) scale(.7, .9);transition: transform .3s;}
                &.active {
                    &:before {
                        transform: rotate(-90deg) scale(.7, .9);
                    }
                }
            }
        }
        &__work {margin: 15px 0;text-align: center;
            &-item {margin: 15px 0;}
        }
        &__contacts {margin: 15px 0;}
        &__phone {margin-bottom: 30px;text-align: center;}
        &__socials {margin-right: 0;
            &-icon {margin: 0 25px;}
        }
    }
    .contact {
        &__callback {padding-top: 30px;
            &-title {font-size: 20px;white-space: nowrap;}
        }
        &__input {margin: 15px;
            &-group {flex-direction: column;width: 50%;margin: -30px 0 0;}
            input {width: 100%;}
        }
        &__btn {
            button {white-space: nowrap;}
        }
        &__text {
            &.active {max-height: 400px;}
        }
    }
}
@media screen and (max-width: 800px) {
    .footer {
        &__wrap {flex-wrap: wrap;}
        &__form {width: 100%;}
    }
    .about {
        &__content {display: block;}
        &__info {width: 100%;}
        &__img {width: 100%; margin: 0 auto;}
    }

}
@media screen and (max-width: 768px) {
    .basket {
        &__head {flex-wrap: wrap;}
        &__enter {width: 100%;}
    }
    .blog {column-count: 2;
      &__box {
        &--active {width: 50%;}
      }
    }
    .card {flex-wrap: wrap;
        &__info {padding-left: 0;}
        &__sliders {margin: 0 auto;}
        &__checker {margin-bottom: 10px;}
    }
    .contact {
        &__wrap {flex-direction: column;align-items: center;text-align: center;}
        &__link {width: 100%;}
        &__callback {flex-direction: column;
            &-title {margin: 0;}
        }
        &__input {
            &-group {margin: 0;width: 100%;max-width: 400px;}
        }
        &__btn {margin: 15px 0 0;}
        &__text {
            &.active {max-height: 1000px;}
        }
    }
    .tabb__inputs {flex-wrap: wrap;
        input {width: 40%; }
    }
    .top__text h1{font-size: 36px;}
    .title{ h1, h2{font-size: 30px;}}
    .trade{flex-direction: column;
        &__article{width: 100%;}
        &__form{width: 100%; padding-left: 0;padding-top: 30px;}
    }
    .home-banner{
        &__title{font-size: 24px;}
        &__item {width: 100%; height: 250px;margin: 5px; flex-grow: 1;
            &:nth-child(4n - 1),
            &:nth-child(4n - 2) {width: 100%;}
        }
        &__back img{object-fit: cover;}
    }
    .guide-size {width: 100%; padding: 100px 15px 30px;
        &__title {font-size: 22px;margin-bottom: 20px;min-height: 240px;}
        &__desc {font-size: 16px;margin-bottom: 20px;}
        &__table {margin: 0 -5px 30px;
            &-col {font-size: 13px;width: 20%;padding: 15px 5px; white-space: nowrap;
                &:first-child {width: 20%;}
            }
            &-row {
                &:first-child {
                    .guide-size {
                        &__table {
                            &-col {font-size: 13px;}
                        }
                    }
                }
            }
        }
        &__size {font-size: 18px;}
        &__box {flex-wrap: wrap;}
        &__item {padding: 0;margin-bottom: 15px;}
        &__length {font-size: 18px;}
        .menus__close {top: 96px;right: 15px;}
    }
}
@media screen and (max-width: 666px) {
    .header{
        &__phone{display: none;}
        &__lang{display: none;}
        &__ctrl{margin-left: 0;}
    }
    .catalog{
        &__item{width: calc(50% - 10px); margin: 0 5px 20px;}
        &__box{margin: 0 -5px;}
    }
}
@media screen and (max-width: 550px) {
    .staff {padding-bottom: 10px; margin-bottom: 5px;
        &__delete {top: 0;}
        &__charact {flex-wrap: wrap;}
        &__col {
            &--size {width: 100%;}
            &--quantity {width: 47%; padding: 0 10px;}
            &--price {width: 45%;}
        }
        &__desc {padding-left: 5px;}
    }
    .tabb__inputs input {width: 90%; }
    .basket {
        &__enter {flex-wrap: wrap; align-items: center; width: 100%; justify-content:center; }
        &__ask {margin-bottom: 10px;margin-right: 0; text-align: center; }
    }
}
@media screen and (max-width: 500px) {
    .footer {
        &__wrap {    justify-content: center;}
        &__nav {width: 100%;
            ul {
                justify-content:center;}
        }
        .header__logo {margin-bottom: 10px;}
    }
    .pagination {
        &__item {width: 32px;height: 32px;line-height: 29px;font-size: 16px;}
    }
}
@media screen and (max-width: 480px) {
    .blog {column-count: 1;
      &__box {
        &--active {width: 100%;}
      }
    }
    .navigator__slider {display: none;}
    .card {
        &__sliders {width: 100%;}
        &__mainslider {width: 100%;}
        &__box {padding-top: 5px;}
        &__by {margin-top: 15px;}
        &__charact {margin-top: 20px;}
        &__guide {padding-right: 0;}
        &__by {
            .btn {margin: 0 auto;}
        }
        &__checker {width: 100%;}
    }
    .title{ h1, h2{font-size: 25px;}}
    .contact {
        &__callback {margin-top: 30px;}
    }
}
@media screen and (max-width: 400px) {
    .staff {
        &__charact {flex-wrap: wrap;}
        &__col {
            &--size {width: 100%;}
            &--quantity {width: 100%; padding: 0 10px;}
            &--price {width: 100%;padding: 0 10px; margin-top: 5px;}
        }
    }
    .footer {
        &__form {
            form {flex-wrap: wrap;
                justify-content: center; }
            input {margin: 0 0 10px 0; width: 100%;}
            button {width: 100%;}
        }
        &__nav {flex-direction: column;
            &-item {width: 100%;}
        }
    }
    .blog-detail {
        &__photo {
            &-wrap { flex-wrap: wrap;
                div {width: 100%;}
            }
        }
    }
}

.basket-item-amount-wrap{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.form-group {
    flex-grow: 1;
    width: 20%;
    margin: 0 15px;
}
div.bx-soa-section.bx-selected{
    border:none;
}
div.bx-soa-section.bx-step-completed{
    border: 0px;
}
.basket__summ{
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
.basket__btn-wrap{
    margin-top:10px;
}
.load_more{
    margin-left: 35%;
}
.card__article {
    font-size: 13px;
    color: #999;
}
.tabb__list{
    list-style: inherit;
    padding-left: 40px;
}

#all_clear {
    padding-top: 6px; }

.bx-soa-cart-total .bx-soa-cart-total-line-total .bx-soa-cart-t {padding-right: 5px;}

.size-box-new {width: 55px; height: 40px; border: 1px solid #f2f2f2; display: flex; align-items: center; justify-content: center;}
.size-box-wrap {margin-right: 15px;}
.size-box-wrap .size-box-new {cursor: pointer; }
.size-box-wrap.selected .size-box-new {font-weight: 600; background-color: #f2f2f2; }