.contact {
  &__map {min-height: 450px;width: 100%;
    &-wrap {position: relative;display: flex;}
  }
}

.map {
  &__filter {min-width:295px;border: 1px solid #ccc;background-color: #f2f2f2;
    .tabb {margin: 0;cursor: pointer;
      &__head {border: none;padding: 13px 30px;font-weight: 500;letter-spacing: .6px;
        &.active {background-color: #000;color: #fff;}
      }
      &__box {margin: 0;border-bottom: 1px solid #ccc;
        &.active {background-color: #fff;padding: 18px 30px;line-height: 1.2;letter-spacing: 1px;}
      }
      &:last-child {
        .tabb__box {
          &.active {border-bottom: none;}
        }
      }
    }
  }
}

.personal {margin-bottom: 30px;
    &__tabs {max-width: 360px;width: 47%;
        &-wrap {display: flex;}
    }
    &__tab {font-size: 1.15rem;font-weight: 300;padding: 9px 15px 6px;border: 1px solid #e5e5e5;margin: 10px 0;transition: background-color .3s;cursor: pointer;
        &.current {background-color: #ececec;}
    }
    &__content {width: 100%;padding-left: 30px;display: none;overflow: auto;
      &.current {display: block;}
    }
    &__data {display: flex;flex-wrap: wrap;justify-content: space-between;}
    &__input {width: calc(50% - 15px); margin: 9px 0;
      &:last-child {width: 100%;}
      input {width: 100%;border: none;border-bottom: 1px solid #000;padding: 15px 15px 6px;color: #7f7f7f;}
      input::placeholder {font-size: 16px;}
    }
    &__code {background-color: #f5f5f5;padding: 60px 0;}
    &__row {display: flex;align-items: flex-end;margin: 0 -15px;
        &> div {width: 33%;margin: 0 15px;
            input {height: 60px;padding: 15px;}
        }
    }
    &__price {background-color: #fff;display: flex;justify-content: space-between;padding: 20px;font-weight: 300;}
    &__button {
        .btn {max-width: none;}
    }
    &__favorites {
        &-wrap {display: flex;flex-wrap: wrap;margin: 0 -15px;
            .catalog__item {position: relative;
                &:hover {
                    .personal__favorites-delete {opacity: 1;}
                }
            }
        }
        &-item {display: block;
            span {display: block;margin-top: 20px;text-align: center;}
            img {display: block;width: 100%;height: 100%;object-fit: cover;}
        }
        &-delete {position: absolute;top: 15px;right: 15px;display: block;width: 25px;height: 25px;background-color: #000;border-radius: 50%;opacity: 0;transition: opacity .3s;cursor: pointer;
            &:before {position: absolute;content: '';display: block;width: 15px;height: 2px;transform: rotate(45deg) translate(-50%, -50%);background-color: #fff;top: 50%;left: 50%;transform-origin: 0 0;}
            &:after {position: absolute;content: '';display: block;width: 15px;height: 2px;transform: rotate(-45deg) translate(-50%, -50%);background-color: #fff;top: 50%;left: 50%;transform-origin: 0 0;}
        }
    }
    &__history {width: 100%;min-width: 750px;
        tr {border-bottom: 1px solid #ccc;}
        th {padding: 10px;font-weight: 500;}
    }
}

.viewed {padding: 73px 0 0;
    &__title {font-size: 1.56rem;text-align: center;letter-spacing: 2.2px;margin-bottom: 50px;}
    &__slider {padding: 0 36px;
        .slick-prev, .slick-next {line-height: 20px;font-size: inherit;top: 36%;z-index: 1;}
        .slick-prev {left: 0;
            &:before {position: absolute; content: ''; width: 17px; height: 17px; transform-origin: 50% 50%; top: 50%; border-top:2px solid #000; border-left: 2px solid #000; display: block; left: 50%; transform: translate(-50%, -50% ) rotateZ(-45deg); transition: all 200ms; }
        }
        .slick-next {right: 0;
            &:before {position: absolute; content: ''; width: 17px; height: 17px; transform-origin: 50% 50%; top: 50%; border-top:2px solid #000; border-left: 2px solid #000; display: block; left: 50%; transform: translate(-50%, -50% ) rotateZ(135deg); transition: all 200ms; }
        }
    }
    &__slide {margin: 0 32px;
        img {width: 150px;height: 200px;display: block;object-fit: cover;margin: 0 auto;}
        span {font-weight: 500;letter-spacing: .2px;display: block;margin-top: 20px;text-align: center;}
    }
}

.footer {
  &__pay-btn {max-height: 50px;max-width: 181px;background-color: #fff;padding: 13px 10px 10px;display: flex;justify-content: space-around;
    svg {width: 35%;height: 100%;max-height: 27px}
  }
  &__nav {max-width: 440px;margin-left: 70px;}
}


@media screen and (max-width: 992px) {
  .contact {
    &__map {
      &-wrap {flex-direction: column-reverse;}
    }
    &__callback {margin-top: 15px;}
  }
  .map {
    &__filter {margin-bottom: 30px;}
  }
  .personal {
      &__tabs {max-width: none;width: 100%;
          &-wrap {flex-direction: column;}
      }
      &__content {padding: 15px 0;}
      &__code {padding: 30px 0;}
      &__row {flex-direction: column;align-items: center;
        &> div {margin: 15px 0;width: 320px;}
      }
  }
  .footer {
    &__contacts {align-items: center;}
    &__pay-btn {margin-bottom: 30px;}
    &__nav {justify-content: center;margin: 0;}
  }
}

@media screen and (min-width: 993px) {
  .map {
    &__filter {
      .tabb__head {min-height: 70px;}
    }
  }
}

@media screen and (max-width: 768px) {
    .viewed {
        &__slider {padding: 0;}
    }
    .personal {
        &__row {margin: 0;
            &> div {width: 100%;}
        }
    }

}

@media screen and (max-width: 600px) {
    .personal {
        &__data {margin: 0;}
        &__input {width: 100%;margin: 5px 0;}
    }
}

@media screen and (max-width: 480px) {
    .viewed {padding-top: 40px;
        &__title {margin-bottom: 35px;}
        &__slider {
            .slick-prev, .slick-next{top: 50%;}
        }
        &__slide {
            img {width: 100%;height: 100%;}
        }
    }
}