.hidden-block {
  position: absolute;
  left: -99999em;
  top: -99999em; }

/* base styles*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; }

*, body, html {
  -webkit-text-size-adjust: none;
  -webkit-appearance: none;
  max-height: 9001em; }

html {
  height: 100%;
  font-size: 16px; }

body {
  min-height: 100%;
  width: 100%;
  min-width: 320px;
  font-family: 'FuturaPT';
  font-weight: 300;
  background: #fff;
  color: #000;
  position: relative;
  font-size: 16px;
  line-height: 1.27; }

img {
  vertical-align: bottom;
  border: 0;
  max-width: 100%; }

.mbox {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0 15px; }

.footer_placeholder {
  height: 200px; }

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  overflow: hidden; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #7f7f7f;
  font-size: 13px; }

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #7f7f7f;
  font-size: 13px; }

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #7f7f7f;
  font-size: 13px; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #7f7f7f;
  font-size: 13px; }

/*End Layout*/
/*fonts*/
@font-face {
  font-family: "FuturaPT";
  src: url("../fonts/FuturaPTBold.eot");
  src: url("../fonts/FuturaPTBold.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPTBold.woff") format("woff"), url("../fonts/FuturaPTBold.ttf") format("truetype"), url("../fonts/FuturaPTBold.svg#FuturaPT") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "FuturaPT";
  src: url("../fonts/FuturaPTDemi.eot");
  src: url("../fonts/FuturaPTDemi.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPTDemi.woff") format("woff"), url("../fonts/FuturaPTDemi.ttf") format("truetype"), url("../fonts/FuturaPTDemi.svg#FuturaPT") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "FuturaPT";
  src: url("../fonts/FuturaPTMedium.eot");
  src: url("../fonts/FuturaPTMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPTMedium.woff") format("woff"), url("../fonts/FuturaPTMedium.ttf") format("truetype"), url("../fonts/FuturaPTMedium.svg#FuturaPT") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "FuturaPT";
  src: url("../fonts/FuturaPTBook.eot");
  src: url("../fonts/FuturaPTBook.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPTBook.woff") format("woff"), url("../fonts/FuturaPTBook.ttf") format("truetype"), url("../fonts/FuturaPTBook.svg#FuturaPT") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNovaLight.eot");
  src: url("../fonts/ProximaNovaLight.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaLight.woff") format("woff"), url("../fonts/ProximaNovaLight.ttf") format("truetype"), url("../fonts/ProximaNovaLight.svg#ProximaNova") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "FuturaPT";
  src: url("../fonts/FuturaPTLight.eot");
  src: url("../fonts/FuturaPTLight.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPTLight.woff") format("woff"), url("../fonts/FuturaPTLight.ttf") format("truetype"), url("../fonts/FuturaPTLight.svg#FuturaPT") format("svg");
  font-weight: 300;
  font-style: normal; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #000; }

a:hover {
  text-decoration: underline; }

b {
  font-weight: 600; }

.gray {
  color: #7f7f7f; }

button {
  background-color: transparent;
  border: none;
  padding: 0; }

h1, h2 {
  font-size: 24px;
  color: #000000;
  font-weight: 400; }
h5 {
  font-size: 17px; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2em;
  margin-bottom: .26em;
  word-wrap: break-word;
  font-weight: 700;
  color: #333333; }
.blog {
  margin: 0 -15px;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0; }
.blog__box {
  display: inline-block;
  position: relative;
  padding: 0 15px 15px;
  width: 100%; }
.blog__box:hover .blog__hover {
  display: inline-block; }
.blog__box--active {
  width: 33.1%; }
.blog__social {
  padding: 15px 10px 10px;
  display: inline-block; }
.blog__social svg {
  width: 20px;
  height: 20px; }
.blog__img {
  width: 100%;
  margin-bottom: 15px; }
.blog__img img {
  width: 100%; }
.blog__title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 17px; }
.blog__text {
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px; }
.blog--active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.blog-detail {
  max-width: 740px;
  margin: 0 auto;
  padding: 40px 0; }
.blog-detail__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
.blog-detail__social {
  width: 20px;
  height: 20px;
  margin-left: 20px; }
.blog-detail__social svg {
  width: 100%;
  height: 100%; }
.blog-detail__social-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }
.blog-detail__date {
  font-size: 12px;
  font-style: italic; }
.blog-detail__title {
  padding-top: 20px; }
.blog-detail__title h2 {
  text-align: center; }
.blog-detail__post p {
  line-height: 1.4; }
.blog-detail__photo {
  padding: 15px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
.blog-detail__photo-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px; }
.blog-detail__photo-wrap div {
  width: 50%;
  padding: 15px; }
.blog-detail__photo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover; }
.blog-detail__photo--double {
  width: 100% !important;
  padding: 0 !important;
  height: 50%; }
.blog-detail__photo--double:first-child {
  padding-bottom: 30px !important; }
.blog-detail__center {
  text-align: center; }

.title {
  text-align: center;
  margin-bottom: 30px; }
  .title h1, .title h2 {
    font-size: 60px;
    font-weight: 400; }

.about__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px; }

.about__info {
  width: 50%; }

.about__img {
  width: 50%;
  margin-left: 50px; }

.about h4 {
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 4px;
  text-transform: uppercase; }

.about img {
  margin-top: 20px; }

.about p {
  line-height: 22px; }


.basket h1 {
  letter-spacing: 1px; }

.basket__box {
  padding: 11px 0 15px 0; }

.basket__get {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0; }

.basket__head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.basket__enter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.basket__ask {
  margin-right: 30px;
  font-size: 13px;
  font-weight: 300;
  text-align: right;
  max-width: 265px;
  letter-spacing: 0.6px; }

.basket__dropdowns {
  padding-top: 40px; }

.breadcrumbs {
  line-height: 1; }
  .breadcrumbs__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .breadcrumbs__item a {
    padding: 0 12px 0 0px;
    margin: 0 10px 0 0;
    text-transform: capitalize;
    text-decoration: underline;
    position: relative;
    font-size: 16px;
    letter-spacing: 1px; }
    .breadcrumbs__item a:after {
      display: block;
      position: absolute;
      content: '>';
      right: -4px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }
  .breadcrumbs__item:first-child a {
    padding-left: 0; }
  .breadcrumbs__item:last-child a {
    font-weight: 600; }
    .breadcrumbs__item:last-child a:after {
      display: none; }
  .breadcrumbs__item b {
    padding: 0 0px;
    font-size: 16px;
    letter-spacing: 0.8px; }

.btn {
  background-color: #000000;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px;
  -webkit-transition: all 200ms;
  -o-transition: all 200ms;
  -moz-transition: all 200ms;
  transition: all 200ms;
  letter-spacing: 1px;
  max-width: 260px;
  width: 100%;
  text-align: center;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .btn:hover {
    opacity: 0.9;
    text-decoration: none; }
  .btn--small {
    padding: 10px 15px;
    letter-spacing: 0.2px;
    max-width: none;
    width: auto; }
  .btn--white {
    background-color: #fff;
    border: 1px solid #000;
    color: #000; }
.btn.btn--fix{
  height: auto;
}
.card {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }
  .card__sliders {
    width: 551px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
  .card__info {
    padding: 0 0px 0 28px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
  .card__header {
    letter-spacing: 1.1px;
    margin: 17px 0 5px; }
  .card__box {
    padding-top: 24px; }
    .card__box .card__charact {
      margin-top: 0; }
  .card__mainslider {
    position: relative;
    width: -webkit-calc(100% - 100px);
    width: -moz-calc(100% - 100px);
    width: calc(100% - 100px); }
  .card__arrow {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: transparent;
    z-index: 5;
    left: 18px;
    cursor: pointer; }
    .card__arrow:before {
      position: absolute;
      content: '';
      width: 17px;
      height: 17px;
      -webkit-transform-origin: 50% 50%;
      -moz-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
      -o-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      top: 50%;
      border-top: 2px solid #000;
      border-left: 2px solid #000;
      display: block;
      left: 50%;
      -webkit-transform: translate(-50%, -50%) rotateZ(-45deg);
      -moz-transform: translate(-50%, -50%) rotateZ(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
      -o-transform: translate(-50%, -50%) rotateZ(-45deg);
      transform: translate(-50%, -50%) rotateZ(-45deg);
      -webkit-transition: all 200ms;
      -o-transition: all 200ms;
      -moz-transition: all 200ms;
      transition: all 200ms; }
    .card__arrow--next {
      -webkit-transform: translateY(-50%) rotateZ(180deg);
      -moz-transform: translateY(-50%) rotateZ(180deg);
      -ms-transform: translateY(-50%) rotate(180deg);
      -o-transform: translateY(-50%) rotateZ(180deg);
      transform: translateY(-50%) rotateZ(180deg);
      left: auto;
      right: 18px; }
    .card__arrow:hover:before {
      opacity: 0.8; }
  .card__slide {
    height: 100%; }
  .card__content {
    position: relative;
    height: 0;
    padding-bottom: 132%; }
    .card__content img {
      -o-object-fit: cover;
      object-fit: cover;
      width: 100%;
      height: 100%;
      position: absolute; }
  .card__price {
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    margin-top: 8px;
    letter-spacing: 1.9px;
    margin-bottom: 10px; }
  .card__boxes {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-right: 15px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .card__boxes label {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center;
      margin: 5px 15px 0px 0; }
    .card__boxes input {
      display: none; }
    .card__boxes i {
      font-style: normal;
      font-size: 18px;
      width: 55px;
      height: 40px;
      border: 1px solid #f2f2f2;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      cursor: pointer; }
    .card__boxes input:checked + i {
      font-weight: 600;
      background-color: #f2f2f2; }
  .card__by {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 25px; }
    .card__by .btn {
      margin-top: 5px; }
  .card__guide {
    text-align: center;
    padding-right: 30px;
    margin-top: 3px; }
    .card__guide a {
      font-size: 14px;
      font-weight: 300;
      text-decoration: underline;
      letter-spacing: 0.7px; }
      .card__guide a:hover {
        text-decoration: none; }
  .card__charact {
    margin-top: 46px; }
    .card__charact span {
      font-size: 18px;
      letter-spacing: normal; }
    .card__charact p {
      margin: 12px 0;
      letter-spacing: 0.8px; }
  .card__colors {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .card__option {
    width: 98px;
    height: 110px;
    margin: 0 10px 10px 0; }
    .card__option img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
  .card__get {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 33px; }
    .card__article {
    font-size: 13px;
    color: #999; }

.catalog {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }
  .catalog__nav {
    width: 200px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .catalog__links {
    line-height: 2;
    padding-top: 12px; }
  .catalog__right {
    padding-left: 30px;
    width: 100%;
 }
  .catalog__top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -10px; }
  .catalog__size {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    }
    .catalog__size label {
      position: relative;
      display: block;
      cursor: pointer;
      margin: 0 18px 0 0;
      padding-top: 6px;}
    .catalog__size input {
      opacity: 0;
      visibility: hidden;
      height: 0;
      width: 0; }
    .catalog__size input + span {
      opacity: 0.3;
      white-space: nowrap;}
    .catalog__size input:checked + span {
      opacity: 1; }
  .catalog__sort {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin: 0 10px 10px;
    flex-wrap: wrap;
 }
    .catalog__sort b {
      margin-right: 10px;
      padding-top: 5px;
 }
  .catalog__mob {
    display: none; }
  .catalog__box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -15px;
    padding-top: 10px;
    width: 100%;
     }
  .catalog__item {
    width: 262px;
    margin: 0 15px 30px; }
    .catalog__item:hover .btn {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0); }
  .catalog__item:hover .catalog__bg--hover {
      display: inherit; }
  .catalog__wrap {
    width: 100%; }
  .catalog__bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; }
    .catalog__bg--hover {
      display: none; }
    .catalog__bg img {
      -o-object-fit: cover;
      object-fit: cover;
      width: 100%;
      height: 100%; }
  .catalog__img {
    padding-top: 152%;
    width: 100%;
    position: relative;
    overflow: hidden; }
  .catalog__item {
    width: -webkit-calc(33% - 30px);
    width: -moz-calc(33% - 30px);
    width: calc(33% - 30px); }
  .catalog__button {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: none;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 300ms;
    transition: -webkit-transform 300ms;
    -o-transition: -o-transform 300ms;
    -moz-transition: transform 300ms, -moz-transform 300ms;
    transition: transform 300ms;
    transition: transform 300ms, -webkit-transform 300ms, -moz-transform 300ms, -o-transform 300ms; }
  .catalog__description {
    padding-top: 5px;
    letter-spacing: 1px; }
    .catalog__description p {
      margin: 0; }
    .catalog__description b {
      margin-right: 8px; }
  .catalog__search {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
    position: relative; }
    .catalog__search:before {
      content: '';
      display: block;
      width: 0;
      left: 0;
      bottom: 0;
      height: 1px;
      background-color: #000;
      -webkit-transition: width 300ms;
      -o-transition: width 300ms;
      -moz-transition: width 300ms;
      transition: width 300ms;
      position: absolute; }
    .catalog__search input {
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -moz-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      border: none;
      padding: 4px 0;
      margin-left: 12px;
      opacity: 0; }
      .catalog__search input:focus {
        opacity: 1; }
      .catalog__search input:focus + .catalog__search-close {
        opacity: 1; }
    .catalog__search.active:before, .catalog__search:hover:before {
      width: 100%; }
    .catalog__search.active .catalog__search-close, .catalog__search:hover .catalog__search-close {
      opacity: 1; }
    .catalog__search.active input, .catalog__search:hover input {
      opacity: 1; }
  .catalog__search-svg {
    width: 14px;
    height: 14px; }
    .catalog__search-svg svg {
      width: 100%;
      height: 100%; }
  .catalog__search-close {
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
    -webkit-transition: opacity 300ms;
    -o-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    transition: opacity 300ms;
    opacity: 0; }
    .catalog__search-close:before, .catalog__search-close:after {
      content: '';
      width: 16px;
      height: 1px;
      display: block;
      background-color: #000;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      position: absolute;
      top: 50%;
      left: 3px; }
    .catalog__search-close:after {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  .catalog__btn {
    width: 100%;
    text-align: center; }
  .catalog__mbox {
    max-width: 1300px; 
  }
.contact__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: -15px;
  margin-bottom: 30px; }

.contact__link {
  padding: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 33%; }

.contact__callback {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 60px; }
  .contact__callback-title {
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2.2px;
    margin-right: 15px; }

.contact__input {
  margin: 0 15px; }
  .contact__input-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
  .contact__input input {
    width: 260px;
    border: none;
    border-bottom: 1px solid #000;
    padding: 4px 15px; }
    .contact__input input::-webkit-input-placeholder {
      font-size: 13px;
      font-weight: 600; }
    .contact__input input::-moz-placeholder {
      font-size: 13px;
      font-weight: 600; }
    .contact__input input:-ms-input-placeholder {
      font-size: 13px;
      font-weight: 600; }
    .contact__input input::placeholder {
      font-size: 13px;
      font-weight: 600; }

.contact__btn {
  margin-left: 15px; }
  .contact__btn button {
    min-width: 262px; }

.contact__text {
  max-height: 70px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  -webkit-transition: max-height .3s;
  -o-transition: max-height .3s;
  -moz-transition: max-height .3s;
  transition: max-height .3s;
  font-size: 15.28px;
  letter-spacing: .82px;
  margin-top: 40px; }
  .contact__text.active {
    max-height: 300px;
    padding-bottom: 10px; }
    .contact__text.active:before {
      opacity: 0; }
    .contact__text.active:after {
      -webkit-transform: rotate(-90deg) scale(0.6, 1);
      -moz-transform: rotate(-90deg) scale(0.6, 1);
      -ms-transform: rotate(-90deg) scale(0.6, 1);
      -o-transform: rotate(-90deg) scale(0.6, 1);
      transform: rotate(-90deg) scale(0.6, 1);
      bottom: -7px; }
  .contact__text:before {
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    display: block;
    background: 0 0;
    background: -webkit-gradient(left top, left bottom, color-stop(0, rgba(255, 0, 0, 0.1)), color-stop(100%, rgba(255, 255, 255, 0.9)));
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, white), to(rgba(255, 255, 255, 0.1)));
    background: -webkit-linear-gradient(bottom, white 0, rgba(255, 255, 255, 0.1) 100%);
    background: -moz- oldlinear-gradient(bottom, white 0, rgba(255, 255, 255, 0.1) 100%);
    background: -o-linear-gradient(bottom, white 0, rgba(255, 255, 255, 0.1) 100%);
    background: linear-gradient(to top, white 0, rgba(255, 255, 255, 0.1) 100%);
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    -moz-transition: opacity .3s;
    transition: opacity .3s; }
  .contact__text:after {
    content: '>';
    position: absolute;
    -webkit-transform: rotate(90deg) scale(0.6, 1);
    -moz-transform: rotate(90deg) scale(0.6, 1);
    -ms-transform: rotate(90deg) scale(0.6, 1);
    -o-transform: rotate(90deg) scale(0.6, 1);
    transform: rotate(90deg) scale(0.6, 1);
    bottom: -8px;
    left: 0;
    right: 0;
    text-align: center;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    -o-transition: -o-transform .3s;
    -moz-transition: transform .3s, -moz-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s, -moz-transform .3s, -o-transform .3s; }

.contact__map {
  min-height: 450px;
  background-color: #cccccc; }

header {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  z-index: 2000;
  position: relative;
  background-color: #fff; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 70px; }
  .header__butter {
    width: 30px;
    height: 30px;
    display: none;
    cursor: pointer;
    border: none;
    padding: 0; }
    .header__butter span {
      display: block;
      width: 100%;
      background-color: #000;
      height: 3px;
      margin: 5px 0; }
  .header__logo {
    width: 134px; }
    .header__logo span {
      font-family: 'ProximaNova';
      font-weight: 300;
      font-size: 11.13px;
      text-transform: uppercase;
      line-height: 42px;
      letter-spacing: 8px; }
    .header__logo a {
      display: block;
      height: 40px;
      width: 100%;
      position: relative;
      text-align: center; }
      .header__logo a img {
        position: absolute;
        left: -webkit-calc(50% - 12px);
        left: -moz-calc(50% - 12px);
        left: calc(50% - 12px); }
  .header__nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 15px;
    max-width: 1170px;
    margin: 0 auto;
    position: relative; }
    .header__nav-wrap {
      border-top: 1px solid #ccc; }
    .header__nav > ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -moz-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      max-width: 792px;
      margin: 0 -15px; }
    .header__nav li {
      white-space: nowrap;
      padding: 8px 15px; }
  .header__phone {
    white-space: nowrap; }
    .header__phone svg {
      display: none; }
  .header__ctrl {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 3px; }
  .header__lang {
    text-transform: uppercase;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header__lang p {
      margin: 0;
      cursor: pointer;
      position: relative;
      padding-top: 2px; }
      .header__lang p:after {
        width: 0;
        height: 0;
        content: '';
        display: inline-block;
        border: 3px solid transparent;
        border-top: 6px solid #000;
        margin-left: 11px; }
  .header__drpdwn {
    position: absolute;
    top: -webkit-calc(100% + 10px);
    top: -moz-calc(100% + 10px);
    top: calc(100% + 10px);
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    display: none;
    background-color: #fff;
    z-index: 10;
    padding: 5px;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3); }
    .header__drpdwn.active {
      display: block; }
    .header__drpdwn:before {
      width: 6px;
      height: 6px;
      background-color: #fff;
      content: '';
      display: block;
      position: absolute;
      top: -3px;
      left: -webkit-calc(50% - 3px);
      left: -moz-calc(50% - 3px);
      left: calc(50% - 3px);
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3); }
    .header__drpdwn:after {
      content: '';
      width: 100%;
      height: 100%;
      background-color: #fff;
      left: 0;
      top: 0;
      display: block;
      position: absolute;
      z-index: 0; }
    .header__drpdwn li {
      position: relative;
      z-index: 10; }
  .header__user {
    width: 16px;
    height: 16px;
    display: block;
    cursor: pointer;
    position: relative; }
    .header__user svg {
      width: 100%;
      height: 100%; }
    .header__user-wrap {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
  .header__cart {
    width: 17px;
    height: 16px;
    display: block;
    cursor: pointer;
    position: relative;
    margin-left: 15px; }
    .header__cart svg {
      width: 100%;
      height: 100%; }
    .header__cart b {
      color: #fff;
      font-size: 10px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      background-color: #f00;
      font-weight: 300;
      position: absolute;
      right: -6px;
      top: -5px;
      display: block;
      min-width: 12px;
      text-align: center; }
  .header__icons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header__callme {
    font-weight: 300;
    color: #fff;
    padding: 5px 20px;
    font-size: 14px;
    background-color: #000;
    text-transform: uppercase;
    letter-spacing: .6px;
    margin: 0 15px; }
  .header__open-info {
    font-size: 14px;
    font-weight: 300; }
  .header__avatar {
    width: 22px;
    height: 22px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden; }
    .header__avatar img {
      display: block;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
  .header__name {
    font-weight: 300;
    font-size: 14px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    letter-spacing: .25px;
    margin-left: 10px; }
  .header__subnav {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 28px 30px;
    margin: 0 15px;
    width: -webkit-calc(100% - 30px);
    width: -moz-calc(100% - 30px);
    width: calc(100% - 30px);
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, -webkit-transform .3s;
    -o-transition: opacity .3s, -o-transform .3s;
    -moz-transition: opacity .3s, transform .3s, -moz-transform .3s;
    transition: opacity .3s, transform .3s;
    transition: opacity .3s, transform .3s, -webkit-transform .3s, -moz-transform .3s, -o-transform .3s; }
    .header__subnav ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
    .header__subnav li {
      width: 33.3%;
      padding: 5px 15px; }
    .header__subnav a {
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 1.4px;
      font-size: 14px; }

.has-child:hover .header__subnav {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto; }

.home-banner__box {
  background-color: #fff;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -moz-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.home-banner__item {
  display: block;
  margin: 15px;
  position: relative;
  width: -webkit-calc(65% - 30px);
  width: -moz-calc(65% - 30px);
  width: calc(65% - 30px); }
  .home-banner__item:hover .home-banner__title:after {
    width: 100%;
    background-color: #000; }
  .home-banner__item:hover .home-banner__title--white:after {
    width: 100%;
    background-color: #fff; }
  .home-banner__item:hover .home-banner__back:after {
    opacity: 1; }
  .home-banner__item:nth-child(4n - 1), .home-banner__item:nth-child(4n - 2) {
    width: -webkit-calc(35% - 30px);
    width: -moz-calc(35% - 30px);
    width: calc(35% - 30px); }
    .home-banner__item:nth-child(4n - 1) .home-banner__title, .home-banner__item:nth-child(4n - 2) .home-banner__title {
      color: #fff;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.6); }
      .home-banner__item:nth-child(4n - 1) .home-banner__title:after, .home-banner__item:nth-child(4n - 2) .home-banner__title:after {
        background-color: #fff; }
  .home-banner__item:nth-child(4n - 2) .home-banner__title {
    top: auto;
    bottom: 30px; }

.home-banner__title {
  position: absolute;
  display: inline-block;
  font-size: 32px;
  font-weight: 400;
  color: #000;
  line-height: 1.5;
  left: 0;
  top: 30px;
  padding: 0 45px; }
  .home-banner__title:after {
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    -moz-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out; }

.home-banner__back {
  max-height: 410px;
  width: 100%;
  height: 100%; }
  .home-banner__back img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  .home-banner__back:after {
    content: '';
    display: block;
    opacity: 0;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    transition: 0.3s all ease;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.4)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
    background: -moz- oldlinear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#66000000',GradientType=0 ); }
.location__tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .location__tabs li {
    text-decoration: underline;
    margin: 10px;
    cursor: pointer; }
    .location__tabs li.active {
      text-decoration: none;
      font-weight: 700; }

.location__info {
  display: none;
  padding: 10px; }
  .location__info.active {
    display: block; }

.main {
  padding-top: 20px;
  padding-bottom: 50px; }

.menus {
  position: fixed;
  right: 100%;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999; }
  .menus__item {
    position: absolute;
    -webkit-transition: left 500ms;
    -o-transition: left 500ms;
    -moz-transition: left 500ms;
    transition: left 500ms;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
    max-width: 270px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    -webkit-transform: translateZ(0px);
    -moz-transform: translateZ(0px);
    transform: translateZ(0px); }
    .menus__item.active {
      left: 100%; }
  .menus__close {
    padding: 0;
    border: none;
    background-color: transparent;
    position: absolute;
    left: 11px;
    top: 15px;
    width: 30px;
    height: 30px; }
    .menus__close:before, .menus__close:after {
      content: '';
      width: 26px;
      height: 1px;
      display: block;
      background-color: #000;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      position: absolute;
      top: 50%;
      left: 3px;
      z-index: 1; }
    .menus__close:after {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  .menus__title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 15px;
    width: 100%;
    background-color: #fff;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 58px;
    text-transform: uppercase; }
    .menus__title p {
      margin: 0; }
    .menus__title b {
      display: block;
      margin: 0 auto; }
  .menus__top {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
    position: relative; }
  .menus__butter {
    width: 23px;
    height: 23px; }
    .menus__butter span {
      height: 2px; }
  .menus__logo {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%); }
    .menus__logo span {
      font-size: 9.18px;
      letter-spacing: 6.5px; }
    .menus__logo a img {
      width: 21px;
      top: 2px;
      left: -webkit-calc(50% - 14px);
      left: -moz-calc(50% - 14px);
      left: calc(50% - 14px); }
  .menus__content {
    height: -webkit-calc(100vh - 112px);
    height: -moz-calc(100vh - 112px);
    height: calc(100vh - 112px);
    overflow-y: auto; }
  .menus__ava {
    width: 40px;
    height: 40px;
    margin-right: 30px; }
    .menus__ava svg {
      width: 100%;
      height: 100%; }
  .menus__nav {
    text-transform: uppercase;
    padding: 0 15px;
    line-height: 1.67; }
    .menus__nav a {
      padding: 22px 0;
      display: block;
      text-transform: capitalize;
      border-bottom: 1px solid #ccc; }

  .menus__socials {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    -moz-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    padding: 15px 0;
    background-color: #fff;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .menus__icon {
    width: 20px;
    height: 20px;
    display: block;
    padding: 2px; }
    .menus__icon svg {
      width: 100%;
      height: 100%; }
  .menus .has-child {
    max-height: 71px;
    overflow: hidden;
    -webkit-transition: max-height .3s;
    -o-transition: max-height .3s;
    -moz-transition: max-height .3s;
    transition: max-height .3s; }
    .menus .has-child > a {
      position: relative;
      -webkit-transition: padding .3s;
      -o-transition: padding .3s;
      -moz-transition: padding .3s;
      transition: padding .3s; }
      .menus .has-child > a:before {
        position: absolute;
        content: '>';
        top: 50%;
        right: 0;
        -webkit-transform: translateY(-50%) scale(0.7, 1.5);
        -moz-transform: translateY(-50%) scale(0.7, 1.5);
        -ms-transform: translateY(-50%) scale(0.7, 1.5);
        -o-transform: translateY(-50%) scale(0.7, 1.5);
        transform: translateY(-50%) scale(0.7, 1.5);
        -webkit-transition: left .3s, right .3s;
        -o-transition: left .3s, right .3s;
        -moz-transition: left .3s, right .3s;
        transition: left .3s, right .3s; }
    .menus .has-child.opened {
      max-height: 459px;
      -webkit-transition: max-height .3s;
      -o-transition: max-height .3s;
      -moz-transition: max-height .3s;
      transition: max-height .3s; }
      .menus .has-child.opened > a {
        padding-left: 30px;
        border-bottom: none; }
        .menus .has-child.opened > a:before {
          right: auto;
          left: 0;
          -webkit-transform: translateY(-50%) scale(0.7, 1.5) rotate(180deg);
          -moz-transform: translateY(-50%) scale(0.7, 1.5) rotate(180deg);
          -ms-transform: translateY(-50%) scale(0.7, 1.5) rotate(180deg);
          -o-transform: translateY(-50%) scale(0.7, 1.5) rotate(180deg);
          transform: translateY(-50%) scale(0.7, 1.5) rotate(180deg); }
      .menus .has-child.opened .menus__submenu {
        border-bottom: 1px solid #ccc;
        padding-bottom: 7px;
        margin-top: -15px; }
        .menus .has-child.opened .menus__submenu a {
          padding: 5px 0;
          border: none; }

.navigator__slider {
  width: 100px;
  margin-right: 10px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0; }
  .navigator__slider .slick-current img {
    border: 2px solid #000; }
  .navigator__slider .slick-list {
    padding: 0 !important; }

.navigator__slide {
  margin: 0px 0 10px;
  height: 110px; }
.navigator__slide img {
    border: 2px solid transparent; }
.payment span {
  font-size: 18px; }

.payment__italic {
  font-style: italic; }

.popup {
  width: 100%;
  max-width: 1140px; }
  .popup__wrap {
    max-width: 590px;
    width: 100%;
    margin: 0 auto;
    padding: 30px 15px 10px; }
    .popup__wrap--big {
      max-width: 100%; }
  .popup__text {
    text-align: center;
    padding: 10px 0;
    margin-bottom: 15px; }
    .popup__text h3 {
      font-size: 24px;
      margin: 0 0 7px;
      text-transform: uppercase;
      font-weight: 400; }
    .popup__text p {
      margin: 0; }
    .popup__text a {
      text-decoration: underline; }
      .popup__text a:hover {
        text-decoration: none; }
    .popup__text .btn {
      text-decoration: none; }
  .popup__socials {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .popup__soc-item {
    width: 25px;
    height: 25px;
    display: block;
    margin: 10px; }
    .popup__soc-item svg {
      width: 100%;
      height: 100%; }
  .popup__row {
    margin: 0 -15px 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
  .popup__input {
    width: 100%;
    margin: 0 15px; }
    .popup__input input {
      width: 100%;
      border: none;
      border-bottom: 1px solid #000;
      padding-left: 20px;
      height: 30px;
      line-height: 30px; }
  .popup .card__box {
    padding-top: 0; }
  .popup .card__header {
    margin-top: 0; }
.return__info-title {
  font-size: 18px; }

.return__list {
  list-style: inherit;
  padding-left: 40px; }
  .return__list-title {
    font-size: 18px;
    margin-bottom: 5px; }
.staff {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 36px;
  padding-top: 15px;
  margin-bottom: 33px; }
  .staff__image {
    padding-top: 2px; }
  .staff__desc {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 0 0 0 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: -webkit-calc(100% - 100px);
    width: -moz-calc(100% - 100px);
    width: calc(100% - 100px);
    position: relative; }
  .staff__col {
    padding: 0 10px;
    margin-right: 10px; }
    .staff__col p {
      font-size: 16px;
      font-weight: 300;
      margin-top: 0;
      letter-spacing: 0.9px;
      margin-bottom: 8px; }
      .staff__col p b {
        font-weight: 600; }
    .staff__col--size {
      width: 40%; }
    .staff__col--quantity {
      width: 27%;
      padding-left: 22px; }
    .staff__col--price {
      width: 30%;
      padding-left: 19px; }
  .staff__head {
    font-size: 18px;
    color: #000;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.9px;
    padding-left: 10px;
    padding-right: 30px; }
  .staff__charact {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-top: 21px; }
  .staff__delete {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 40px;
    right: 0;
    cursor: pointer; }
    .staff__delete:after {
      content: '';
      display: block;
      position: absolute;
      -webkit-transform-origin: 50% 50%;
      -moz-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
      -o-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%) rotateZ(45deg);
      -moz-transform: translate(-50%, -50%) rotateZ(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
      -o-transform: translate(-50%, -50%) rotateZ(45deg);
      transform: translate(-50%, -50%) rotateZ(45deg);
      width: 14px;
      height: 2px;
      background-color: #000000; }
    .staff__delete:before {
      content: '';
      display: block;
      position: absolute;
      -webkit-transform-origin: 50% 50%;
      -moz-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
      -o-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%) rotateZ(135deg);
      -moz-transform: translate(-50%, -50%) rotateZ(135deg);
      -ms-transform: translate(-50%, -50%) rotate(135deg);
      -o-transform: translate(-50%, -50%) rotateZ(135deg);
      transform: translate(-50%, -50%) rotateZ(135deg);
      width: 14px;
      height: 2px;
      background-color: #000000; }
    .staff__delete:hover {
      opacity: 0.7; }
  .staff__much {
    max-width: 68px;
    padding: 3px 0; }
    .staff__much input {
      border: 1px solid #e5e5e5;
      padding: 9px 10px;
      text-align: center;
      width: 100%; }

.tabb {
  width: 100%;
  margin-bottom: 10px; }
  .tabb__head {
    width: 100%;
    padding: 8px 17px;
    border: 1px solid #e5e5e5;
    font-size: 18px;
    font-weight: 300;
    position: relative; }
  .tabb__inputs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 -15px; }
    .tabb__inputs input {
      border: 0 solid #000000;
      border-bottom-width: 1px;
      font-size: 13px;
      padding: 5px 19px;
      width: 100%;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -moz-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      letter-spacing: 1px;
      font-weight: 300; }
  .tabb__closer {
    position: absolute;
    right: 13px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer; }
    .tabb__closer:after {
      position: absolute;
      content: '';
      width: 10px;
      height: 1px;
      background-color: #7f7f7f;
      -webkit-transform-origin: 50% 50%;
      -moz-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
      -o-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      top: -webkit-calc(50% - 1px);
      top: -moz-calc(50% - 1px);
      top: calc(50% - 1px);
      left: -webkit-calc(50% - 1px);
      left: -moz-calc(50% - 1px);
      left: calc(50% - 1px);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%); }
    .tabb__closer:before {
      position: absolute;
      content: '';
      width: 10px;
      height: 1px;
      background-color: #7f7f7f;
      -webkit-transform-origin: 50% 50%;
      -moz-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
      -o-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      top: -webkit-calc(50% - 1px);
      top: -moz-calc(50% - 1px);
      top: calc(50% - 1px);
      left: -webkit-calc(50% - 1px);
      left: -moz-calc(50% - 1px);
      left: calc(50% - 1px);
      -webkit-transform: translateX(-50%) rotateZ(90deg);
      -moz-transform: translateX(-50%) rotateZ(90deg);
      -ms-transform: translateX(-50%) rotate(90deg);
      -o-transform: translateX(-50%) rotateZ(90deg);
      transform: translateX(-50%) rotateZ(90deg);
      -webkit-transition: all 200ms;
      -o-transition: all 200ms;
      -moz-transition: all 200ms;
      transition: all 200ms; }
    .tabb__closer.active:before {
      position: absolute;
      content: '';
      width: 10px;
      height: 1px;
      background-color: #7f7f7f;
      -webkit-transform-origin: 50% 50%;
      -moz-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
      -o-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      top: -webkit-calc(50% - 1px);
      top: -moz-calc(50% - 1px);
      top: calc(50% - 1px);
      left: 50%;
      -webkit-transform: translateX(-50%) rotateZ(0deg);
      -moz-transform: translateX(-50%) rotateZ(0deg);
      -ms-transform: translateX(-50%) rotate(0deg);
      -o-transform: translateX(-50%) rotateZ(0deg);
      transform: translateX(-50%) rotateZ(0deg); }
  .tabb__box {
    display: block;
    height: 0;
    opacity: 0;
    -webkit-transition: all 200ms;
    -o-transition: all 200ms;
    -moz-transition: all 200ms;
    transition: all 200ms;
    margin-bottom: 10px;
    pointer-events: none;
    padding: 0; }
    .tabb__box p {
      margin: 0; }
    .tabb__box.active {
      display: block;
      height: auto;
      opacity: 1;
      pointer-events: all;
      padding: 31px 0 20px 0; }
      .tabb__box.active p {
        margin: inherit; }

.top {
  width: 100%;
  min-height: -webkit-calc(100vh - 103px);
  min-height: -moz-calc(100vh - 103px);
  min-height: calc(100vh - 103px);
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .top__bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0; }
    .top__bg img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
  .top__text {
    position: relative;
    z-index: 10;
    text-align: center; }
    .top__text h1 {
      font-size: 48px;
      color: #fff; }
  .top__slider {
    margin-top: -20px;
    margin-bottom: 0; }
  .trade {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }
  .trade__article {
    width: 50%; }
  .trade__form {
    padding-left: 30px;
    width: 50%;
    text-align: center; }

.footer {
  background-color: #393939;
  color: #fff; }
  .footer__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 31px 0; }
  .footer__form {
    width: 360px;
    padding: 10px 0; }
    .footer__form form {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
      -moz-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      width: 100%; }
    .footer__form input {
      border: 0;
      border-bottom: 1px solid #000;
      font-size: 13px;
      font-weight: 300;
      margin-right: 25px;
      width: 100%;
      padding: 9px 14px;
      display: block;
      letter-spacing: 0.7px; }
    .footer__form button {
      -webkit-box-flex: 0;
      -webkit-flex-grow: 0;
      -moz-box-flex: 0;
      -ms-flex-positive: 0;
      flex-grow: 0;
      letter-spacing: 0.2px; }
  .footer__nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 0 0 105px;
    max-width: 390px; }
    .footer__nav-item {
      width: 50%;
      margin: 15px 0; }
    .footer__nav a {
      color: #fff;
      letter-spacing: .7px; }
    .footer__nav-btn {
      display: none; }
  .footer__socials {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: -15px; }
    .footer__socials-icon {
      margin: 0 17px;
      width: 15px;
      height: 15px;
      -webkit-transition: opacity .3s;
      -o-transition: opacity .3s;
      -moz-transition: opacity .3s;
      transition: opacity .3s; }
      .footer__socials-icon:hover {
        opacity: .5; }
    .footer__socials svg {
      width: 100%;
      height: 100%;
      fill: #000; }
  .footer .header__logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 100%;
    width: 170px;
    margin: 5px 0 15px; }
    .footer .header__logo span {
      font-size: 13.81px;
      letter-spacing: 10.5px; }
    .footer .header__logo a {
      color: #fff; }
      .footer .header__logo a img {
        left: -webkit-calc(50% - 18px);
        left: -moz-calc(50% - 18px);
        left: calc(50% - 18px);
        top: -7px; }
  .footer__contacts {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 100%;
    margin: 12px 0 20px;
    min-width: 175px; }
    .footer__contacts a {
      color: #fff; }
  .footer__copyright {
    font-size: 12px; }
  .footer__work {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 15px 77px 15px 15px;
    min-height: 100%;
    letter-spacing: .8px; }
    .footer__work-title {
      font-weight: 600;
      margin-bottom: 10px; }
  .footer__phone {
    font-size: 26px;
    font-weight: 300;
    text-align: right;
    letter-spacing: .5px; }

.guide-size {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 130px 90px;
  font-weight: 500;
  max-width: 1000px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  background-color: #fff;
  height: 100%;
  overflow-x: auto;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: -o-transform .3s;
  -moz-transition: transform .3s, -moz-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s, -moz-transform .3s, -o-transform .3s; }
.guide-size.active {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0); }
.guide-size__title {
  font-size: 42px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 30px; }
.guide-size__desc {
  font-size: 26px;
  font-weight: 500;
  text-transform: uppercase;
  color: #7f7f7f;
  margin-bottom: 80px; }
.guide-size__table {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 50px;
  min-height: 469px;}
.guide-size__table-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid #e6e6e6;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  min-height: 89px; }
.guide-size__table-row:hover {
  background-color: #e6e6e6; }
.guide-size__table-row:first-child {
  cursor: auto;
  background-color: #fff; }
.guide-size__table-row:first-child .guide-size__table-col {
  font-size: 22px;
  text-decoration: none; }
.guide-size__table-row.active {
  background-color: #e6e6e6; }
.guide-size__table-col {
  width: 15%;
  padding: 30px 15px;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center; }
.guide-size__table-col:first-child {
  width: 25%;
  text-decoration: underline; }
.guide-size__size {
  font-size: 26px;
  color: #7f7f7f;
  margin-bottom: 30px;
  text-transform: uppercase; }
.guide-size__size-content {
  display: none; }
.guide-size__size-content.active {
  display: block; }
.guide-size__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }
.guide-size__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 230px;
  padding-right: 40px; }
.guide-size__length {
  font-size: 24px;
  margin-bottom: 20px; }
.guide-size__measure {
  font-size: 14px;
  color: #7f7f7f;
  margin-bottom: 20px;
  text-transform: uppercase; }
.guide-size__number {
  font-size: 31px; }
.guide-size .menus__close {
  top: 135px;
  right: 30px; }

.shadow:before {
  background-color: #000;
  opacity: .5;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9; }

@media screen and (min-width: 1500px) {
  .mbox {
    max-width: 1900px;
    padding: 0 30px; }
  .card__sliders {width: 37%;}
  .basket {
    max-width: 1300px;
    margin: 0 auto; }
  .trade {
    max-width: 1300px;
    margin: 0 auto; }
  .about {
    max-width: 1300px;
    margin: 0 auto; }
  .location {
    max-width: 1300px;
    margin: 0 auto; }
  .payment {
    max-width: 1300px;
    margin: 0 auto; }
  .return {
    max-width: 1300px;
    margin: 0 auto; }
  .home-banner__box {
    max-width: 1300px;
    margin: 0 auto; } }
  .header__nav {
    max-width: 1900px;
    padding: 0 30px; } }

@media screen and (max-width: 1100px) {
  .card__by {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .card__boxes {
    margin-right: 0; }
  .footer__nav {
    margin: 0 0 0 50px; }
  .footer__work {
    margin: 15px 35px 15px 15px; }
  .contact__input input {
    width: 200px; }
  .contact__btn button {
    min-width: 200px; } }

@media screen and (max-width: 1024px) {
  .guide-size {
    padding: 130px 15px; }
  .guide-size__title {
    font-size: 26px; }
  .guide-size__desc {
    font-size: 18px;
    width: 85%;
    margin-bottom: 30px; }
  .guide-size__table {
    margin-bottom: 30px;
    min-height: 268px;}
  .guide-size__table-row {min-height: 52px;}
  .guide-size__table-col {
    padding: 15px;
    font-size: 18px; }
  .guide-size__table-row:first-child .guide-size__table-col {
    font-size: 16px; }
  .guide-size__size {
    font-size: 20px;
    margin-bottom: 15px; }
  .guide-size__length {
    font-size: 20px;
    margin-bottom: 10px; }
  .guide-size__measure {
    font-size: 12px;
    margin-bottom: 10px; }
  .guide-size__number {
    font-size: 24px; } }

@media screen and (max-width: 992px) {
  .card__sliders {
    width: 367px; }
  .catalog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .catalog__mob {
      display: block;
      margin-right: 20px; }
    .catalog__right {
      width: 100%;
      padding-left: 0; }
    .catalog__links {
      display: none; }
    .catalog__button {
      display: none; }
    .catalog__nav {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: row-reverse;
      -moz-box-orient: horizontal;
      -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -moz-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 10px; }
  .header {
    height: 80px;
    padding-bottom: 0; }
    .header__butter {
      display: block;
      -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
      flex-shrink: 0; }
    .header__nav {
      display: none; }
      .header__nav-wrap {
        border-top: none; }
    .header__phone {
      display: block; }
      .header__phone span {
        display: none; }
      .header__phone svg {
        display: block;
        width: 18px;
        height: 18px; }
    .header__right {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding-top: 0; }
    .header__ctrl {
      padding-top: 0;
      margin-left: 15px; }
    .header__user {
      display: none; }
      .header__user-wrap {
        display: none; }
    .header__middle {
      display: none; }
    .home-banner__title {
       left: 15px; }
    .title h1, .title h2 {
      font-size: 40px; } }
  .footer__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 16px; }
  .footer__copyright {
    margin-top: 30px; }
  .footer__nav {
    margin: 0;
    text-align: center;
    max-height: 0;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s; }
    .footer__nav.active {
      max-height: 500px;
      opacity: 1;
      pointer-events: all; }
    .footer__nav-wrap {
      text-align: center; }
    .footer__nav-btn {
      display: inline-block;
      margin: 15px 0;
      letter-spacing: .8px;
      text-align: center;
      cursor: pointer;
      position: relative; }
      .footer__nav-btn:before {
        position: absolute;
        content: '>';
        top: 1px;
        right: -15px;
        -webkit-transform: rotate(90deg) scale(0.7, 0.9);
        -moz-transform: rotate(90deg) scale(0.7, 0.9);
        -ms-transform: rotate(90deg) scale(0.7, 0.9);
        -o-transform: rotate(90deg) scale(0.7, 0.9);
        transform: rotate(90deg) scale(0.7, 0.9);
        -webkit-transition: -webkit-transform .3s;
        transition: -webkit-transform .3s;
        -o-transition: -o-transform .3s;
        -moz-transition: transform .3s, -moz-transform .3s;
        transition: transform .3s;
        transition: transform .3s, -webkit-transform .3s, -moz-transform .3s, -o-transform .3s; }
      .footer__nav-btn.active:before {
        -webkit-transform: rotate(-90deg) scale(0.7, 0.9);
        -moz-transform: rotate(-90deg) scale(0.7, 0.9);
        -ms-transform: rotate(-90deg) scale(0.7, 0.9);
        -o-transform: rotate(-90deg) scale(0.7, 0.9);
        transform: rotate(-90deg) scale(0.7, 0.9); }
  .footer__work {
    margin: 15px 0;
    text-align: center; }
    .footer__work-item {
      margin: 15px 0; }
  .footer__contacts {
    margin: 15px 0; }
  .footer__phone {
    margin-bottom: 30px;
    text-align: center; }
  .footer__socials {
    margin-right: 0; }
    .footer__socials-icon {
      margin: 0 25px; }
  .contact__callback {
    padding-top: 30px; }
    .contact__callback-title {
      font-size: 20px;
      white-space: nowrap; }
  .contact__input {
    margin: 15px; }
    .contact__input-group {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 50%;
      margin: -30px 0 0; }
    .contact__input input {
      width: 100%; }
  .contact__btn button {
    white-space: nowrap; }
  .contact__text.active {
    max-height: 400px; } }

@media screen and (max-width: 800px) {
  .footer__wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .footer__form {
    width: 100%; }
  .about__content {
    display: block; }
  .about__info {
    width: 100%; }
  .about__img {
    width: 100%;
    margin: 0 auto; } }

@media screen and (max-width: 768px) {
  .basket__head {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .basket__enter {
    width: 100%; }
    .blog {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2; }
    .blog__box--active {
      width: 50%; }
  .card {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .card__info {
      padding-left: 0; }
    .card__sliders {
      margin: 0 auto; }
    .card__checker {
      margin-bottom: 10px; }
  .contact__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; }
  .contact__link {
    width: 100%; }
  .contact__callback {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .contact__callback-title {
      margin: 0; }
  .contact__input-group {
    margin: 0;
    width: 100%;
    max-width: 400px; }
  .contact__btn {
    margin: 15px 0 0; }
  .contact__text.active {
    max-height: 1000px; }
  .tabb__inputs {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .tabb__inputs input {
      width: 40%; }
  .top__text h1 {
    font-size: 36px; }
  .title h1, .title h2 {
    font-size: 30px; }
  .trade {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .trade__article {
      width: 100%; }
    .trade__form {
      width: 100%;
      padding-left: 0;
      padding-top: 30px; }

  .home-banner__title {
    font-size: 24px; }
  .home-banner__item {
    width: 100%;
    height: 250px;
    margin: 5px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
    .home-banner__item:nth-child(4n - 1), .home-banner__item:nth-child(4n - 2) {
      width: 100%; }
  .home-banner__back img {
    -o-object-fit: cover;
    object-fit: cover; }
  /*rework main banner*/
  .top {min-height: auto; flex-wrap: wrap;}
  .top__bg img {object-fit: contain;}
  .top__bg {position: unset;}
  .top__text {display: none;}
  .footer__socials {
    display: none; }
  .guide-size {
    width: 100%;
    padding: 100px 15px 30px; }
  .guide-size__title {
    font-size: 22px;
    margin-bottom: 20px; }
  .guide-size__desc {
    font-size: 16px;
    margin-bottom: 20px; }
  .guide-size__table {
    margin: 0 -5px 30px;
    min-height: 240px; }
  .guide-size__table-row {min-height: 48px;}
  .guide-size__table-col {
    font-size: 13px;
    width: 20%;
    padding: 15px 5px;
    white-space: nowrap; }
  .guide-size__table-col:first-child {
    width: 20%; }
  .guide-size__table-row:first-child .guide-size__table-col {
    font-size: 13px; }
  .guide-size__size {
    font-size: 18px; }
  .guide-size__box {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .guide-size__item {
    padding: 0;
    margin-bottom: 15px; }
  .guide-size__length {
    font-size: 18px; }
  .guide-size .menus__close {
    top: 96px;
    right: 15px; }
}

@media screen and (max-width: 666px) {
  .header__phone {
    display: none; }
  .header__lang {
    display: none; }
  .header__ctrl {
    margin-left: 0; }
  .catalog__item {
    width: -webkit-calc(50% - 10px);
    width: -moz-calc(50% - 10px);
    width: calc(50% - 10px);
    margin: 0 5px 20px; }
  .catalog__box {
    margin: 0 -5px; } }

@media screen and (max-width: 550px) {
  .staff {
    padding-bottom: 10px;
    margin-bottom: 5px; }
    .staff__delete {
      top: 0; }
    .staff__charact {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
    .staff__col--size {
      width: 100%; }
    .staff__col--quantity {
      width: 47%;
      padding: 0 10px; }
    .staff__col--price {
      width: 45%; }
    .staff__desc {
      padding-left: 5px; }
  .tabb__inputs input {
    width: 90%; }
  .basket__enter {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .basket__ask {
    margin-bottom: 10px;
    margin-right: 0;
    text-align: center; } }

@media screen and (max-width: 500px) {
  .footer__wrap {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .footer__nav {
    width: 100%; }
    .footer__nav ul {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
  .footer .header__logo {
    margin-bottom: 10px; } }

@media screen and (max-width: 480px) {
  .blog {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1; }
  .blog__box--active {
    width: 100%; }
  .navigator__slider {
    display: none; }
  .card__sliders {
    width: 100%; }
  .card__mainslider {
    width: 100%; }
  .card__box {
    padding-top: 5px; }
  .card__by {
    margin-top: 15px; }
  .card__charact {
    margin-top: 20px; }
  .card__guide {
    padding-right: 0; }
  .card__by .btn {
    margin: 0 auto; }
  .card__checker {
     width: 100%; }
  .title h1, .title h2 {
    font-size: 25px; } }
  .contact__callback {
    margin-top: 30px; } }

@media screen and (max-width: 400px) {
  .staff__charact {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .staff__col--size {
    width: 100%; }
  .staff__col--quantity {
    width: 100%;
    padding: 0 10px; }
  .staff__col--price {
    width: 100%;
    padding: 0 10px;
    margin-top: 5px; }
  .footer__form form {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .footer__form input {
    margin: 0 0 10px 0;
    width: 100%; }
  .footer__form button {
    width: 100%; }
  .footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .footer__nav-item {
      width: 100%; }
  .blog-detail__photo-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .blog-detail__photo-wrap div {
    width: 100%; }
}
  .basket-item-amount-wrap{
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .form-group {
    flex-grow: 1;
    width: 20%;
    margin: 0 15px;
}
div.bx-soa-section.bx-selected{
  border:none;
}
div.bx-soa-section.bx-step-completed{
  border: 0px;
}
.basket__summ{
  display: flex;
  justify-content:flex-end;
  align-items: center; 
}
.basket__btn-wrap{
  margin-top:10px;
}
.load_more{
  margin-left: 35%;
}
.card__article {
    font-size: 13px;
   color: #999; 
}
.tabb__list{
  list-style: inherit;
  padding-left: 40px;
}
#all_clear {
  padding-top: 6px;
}
.bx-soa-cart-total .bx-soa-cart-total-line-total .bx-soa-cart-t {padding-right: 5px;}

.size-box-new {width: 55px; height: 40px; border: 1px solid #f2f2f2; display: flex; align-items: center; justify-content: center;}
.size-box-wrap {margin-right: 15px;}
.size-box-wrap .size-box-new {cursor: pointer; }
.size-box-wrap.selected .size-box-new {font-weight: 600; background-color: #f2f2f2; }
