<div class="basket__enter">
    <div class="basket__ask">Авторизуйтесь, чтобы быстрее заполнить поля
        и получить дополнительные скидки</div>
    <div class="basket__get">
        <a href="#" class="btn">войти в аккаунт</a>
    </div>
</div>