<div class="basket">
    <div class="basket__head">
        <h1>КОРЗИНА</h1>
    </div>

    <div class="basket__box">
        <div class="staff">
            <div class="staff__image">
                <img src="images/staff_1.png" alt="">
            </div>
            <div class="staff__desc">
                <div class="staff__head">ПЛАТЬЕ МИДИ НА ЗАПАХ</div>
                <div class="staff__charact">
                    <div class="staff__col staff__col--size">
                        <p><b>Размер:</b> S</p>
                        <p><b>Цвет:</b> Фиолетовый</p>
                        <p><b>Материал:</b> <b>50%</b> вискоза <b>50 %</b> шелк</p>
                    </div>
                    <div class="staff__col staff__col--quantity">
                        <p><b>Количество:</b></p>
                        <div class="staff__much">
                            <input type="text" placeholder="1">
                        </div>
                    </div>
                    <div class="staff__col staff__col--price">
                        <p><b>Цена:</b></p>
                        <p><b>11 950 Р</b></p>
                        <p>11 950 Р</p>
                    </div>

                </div>
                <div class="staff__delete js-staff-del">

                </div>
            </div>
        </div>
        <div class="staff">
            <div class="staff__image">
                <img src="images/staff_1.png" alt="">
            </div>
            <div class="staff__desc">
                <div class="staff__head">ПЛАТЬЕ МИДИ НА ЗАПАХ</div>
                <div class="staff__charact">
                    <div class="staff__col staff__col--size">
                        <p><b>Размер:</b> S</p>
                        <p><b>Цвет:</b> Фиолетовый</p>
                        <p><b>Материал:</b> <b>50%</b> вискоза <b>50 %</b> шелк</p>
                    </div>
                    <div class="staff__col staff__col--quantity">
                        <p><b>Количество:</b></p>
                        <div class="staff__much">
                            <input type="text" placeholder="1">
                        </div>
                    </div>
                    <div class="staff__col staff__col--price">
                        <p><b>Цена:</b></p>
                        <p><b>11 950 Р</b></p>
                        <p>11 950 Р</p>
                    </div>

                </div>
                <div class="staff__delete js-staff-del">

                </div>
            </div>
        </div>
    </div>
    <div class="basket__get">
        <a href="#" class="btn">ОФОРМИТЬ ЗАКАЗ</a>
    </div>
</div>

