<div class="basket__dropdowns">
    <div class="tabb">
        <div class="tabb__head js-tab-closer">
            <span>Контактная информация</span>
            <div class="tabb__closer"></div>
        </div>
        <div class="tabb__box js-tab-inputs">
            <div class="tabb__inputs ">
                <input type="text" placeholder="Имя">
                <input type="text" placeholder="Фамилия">
                <input type="text" placeholder="Эл. почта">
                <input type="text" placeholder="Телефон">
            </div>
        </div>
    </div>
    <div class="tabb">
        <div class="tabb__head js-tab-closer">
            <span>Доставка</span>
            <div class="tabb__closer"></div>
        </div>
        <div class="tabb__box js-tab-inputs">
           Инфо по доставке
        </div>
    </div>
    <div class="tabb">
        <div class="tabb__head js-tab-closer">
            <span>Оплата</span>
            <div class="tabb__closer"></div>
        </div>
        <div class="tabb__box js-tab-inputs">
            Инфо по оплате
        </div>
    </div>
    <div class="tabb">
        <div class="tabb__head js-tab-closer">
            <span>Подтверждение заказа</span>
            <div class="tabb__closer"></div>
        </div>
        <div class="tabb__box js-tab-inputs">
            <div class="staff">
                <div class="staff__image">
                    <img src="images/staff_1.png" alt="">
                </div>
                <div class="staff__desc">
                    <div class="staff__head">ПЛАТЬЕ МИДИ НА ЗАПАХ</div>
                    <div class="staff__charact">
                        <div class="staff__col staff__col--size">
                            <p><b>Размер:</b> S</p>
                            <p><b>Цвет:</b> Фиолетовый</p>
                            <p><b>Материал:</b> <b>50%</b> вискоза <b>50 %</b> шелк</p>
                        </div>
                        <div class="staff__col staff__col--quantity">
                            <p><b>Количество:</b></p>
                            <div class="staff__much">
                                <input type="text" placeholder="1">
                            </div>
                        </div>
                        <div class="staff__col staff__col--price">
                            <p><b>Цена:</b></p>
                            <p><b>11 950 Р</b></p>
                            <p>11 950 Р</p>
                        </div>

                    </div>
                    <div class="staff__delete js-staff-del">

                    </div>
                </div>
            </div>
            <div class="staff">
                <div class="staff__image">
                    <img src="images/staff_1.png" alt="">
                </div>
                <div class="staff__desc">
                    <div class="staff__head">ПЛАТЬЕ МИДИ НА ЗАПАХ</div>
                    <div class="staff__charact">
                        <div class="staff__col staff__col--size">
                            <p><b>Размер:</b> S</p>
                            <p><b>Цвет:</b> Фиолетовый</p>
                            <p><b>Материал:</b> <b>50%</b> вискоза <b>50 %</b> шелк</p>
                        </div>
                        <div class="staff__col staff__col--quantity">
                            <p><b>Количество:</b></p>
                            <div class="staff__much">
                                <input type="text" placeholder="1">
                            </div>
                        </div>
                        <div class="staff__col staff__col--price">
                            <p><b>Цена:</b></p>
                            <p><b>11 950 Р</b></p>
                            <p>11 950 Р</p>
                        </div>

                    </div>
                    <div class="staff__delete js-staff-del">

                    </div>
                </div>
            </div>
            <div class="staff">
                <div class="staff__image">
                    <img src="images/staff_1.png" alt="">
                </div>
                <div class="staff__desc">
                    <div class="staff__head">ПЛАТЬЕ МИДИ НА ЗАПАХ</div>
                    <div class="staff__charact">
                        <div class="staff__col staff__col--size">
                            <p><b>Размер:</b> S</p>
                            <p><b>Цвет:</b> Фиолетовый</p>
                            <p><b>Материал:</b> <b>50%</b> вискоза <b>50 %</b> шелк</p>
                        </div>
                        <div class="staff__col staff__col--quantity">
                            <p><b>Количество:</b></p>
                            <div class="staff__much">
                                <input type="text" placeholder="1">
                            </div>
                        </div>
                        <div class="staff__col staff__col--price">
                            <p><b>Цена:</b></p>
                            <p><b>11 950 Р</b></p>
                            <p>11 950 Р</p>
                        </div>

                    </div>
                    <div class="staff__delete js-staff-del"></div>
                </div>
            </div>
        </div>
    </div>
</div>