<div class="breadcrumbs">
    <ul class="breadcrumbs__list">
        <li class="breadcrumbs__item"><a href="#">главная</a></li>
        <li class="breadcrumbs__item"><a href="#">каталог</a></li>
        <li class="breadcrumbs__item"><a href="#">платья</a></li>
        <li class="breadcrumbs__item"><b>Платье Миди На Запах</b></li>
    </ul>
</div>