<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">
    <div class="mbox">
        <div class="footer__wrap">
            <div class="header__logo">
                <a href="/">
                    <img src="images/logo-footer.png" alt="">
                    <span>Bocharova</span>
                </a>
                <div class="footer__copyright">
                    Copyright © 2019 All rights reserved
                </div>
            </div>
            <div class="footer__nav-wrap">
                <div class="footer__nav-btn">Информация</div>
                <div class="footer__nav">
                    <div class="footer__nav-item"><a href="#">Каталог</a></div>
                    <div class="footer__nav-item"><a href="#">Места продаж</a></div>
                    <div class="footer__nav-item"><a href="#">Коллекции</a></div>
                    <div class="footer__nav-item"><a href="#">Контакты</a></div>
                    <div class="footer__nav-item"><a href="#">О бренде</a></div>
                    <div class="footer__nav-item"><a href="#">Оплата и доставка</a></div>
                    <div class="footer__nav-item"><a href="#">Сотрудничество</a></div>
                    <div class="footer__nav-item"><a href="#">Договор публичной оферты</a></div>
                    <div class="footer__nav-item"><a href="#">Возврат</a></div>
                    <div class="footer__nav-item"><a href="#">Политика конфиденциальности</a></div>
                </div>
            </div>
            <div class="footer__work">
                <div class="footer__work-item">
                    <div class="footer__work-title">Колл центр:</div>
                    <div class="footer__work-desc">ПН-СБ: 09:00-19:00</div>
                    <div class="footer__work-desc">ВС: Выходной</div>
                </div>
                <div class="footer__work-item">
                    <div class="footer__work-title">Заказы ONLINE:</div>
                    <div class="footer__work-desc">круглосуточно</div>
                </div>
            </div>
            <div class="footer__contacts">
                <a href="tel:+380970848097" class="footer__phone">097 084 80 97</a>
                <a href="#" class="footer__pay-btn btn">
                    <svg><use xlink:href="#visa-ico"></use></svg>
                    <svg><use xlink:href="#mastercard-ico"></use></svg>
                </a>
                <div class="footer__socials">
                    <a href="#" class="footer__socials-icon">
                        <svg><use xlink:href="#insta-ico"></use></svg>
                    </a>
                    <a href="#" class="footer__socials-icon">
                        <svg><use xlink:href="#facebook-ico"></use></svg>
                    </a>
                    <a href="#" class="footer__socials-icon">
                        <svg><use xlink:href="#pinta-ico"></use></svg>
                    </a>
                    <a href="#" class="footer__socials-icon">
                        <svg><use xlink:href="#telegram-ico"></use></svg>
                    </a>
                </div>
            </div>
            <!--<div class="footer__form">-->
                <!--<form action="">-->
                    <!--<input type="text" placeholder="Ваш email">-->
                    <!--<button type="submit" class="btn btn&#45;&#45;small">подписаться</button>-->
                <!--</form>-->
            <!--</div>-->
        </div>
    </div>
</footer>
<!-- FOOTER -->
<script>
    var revision = 131219;    // версия спрайта (текущая дата)
</script>
<link rel="stylesheet" href="css/jquery.fancybox.min.css">
<link rel="stylesheet" href="css/formstyler.css">
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/slick-theme.css">
<link rel="stylesheet" href="css/slick.css">
<link rel="stylesheet" href="css/develop.css">
<link rel="stylesheet" href="css/develop2.css">
<!-- SCRIPTS -->
<script        src="https://code.jquery.com/jquery-3.1.1.min.js"        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="        crossorigin="anonymous"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>
<!-- build:js -->
<script type="text/javascript" src="js/plagins/device.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.fancybox.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.formstyler.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="js/plagins/maskInput.js" ></script>
<script type="text/javascript" src="js/plagins/slick.js" ></script>
<script type="text/javascript" src="js/plagins/object-fit-cover.js" ></script>
<script type="text/javascript" src="js/basic_scripts.js" ></script>
<script type="text/javascript" src="js/develop.js" ></script>

<!-- endbuild -->

<!-- /SCRIPTS -->
