<!-- HEADER -->
<header>
    <div class="mbox">
        <div class="header">
            <button class="header__butter" data-dropdown-btn="menumob">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="header__logo">
                <a href="/">
                    <img src=" /images/logog.png" alt="">
                    <span>Bocharova</span>
                </a>
            </div>
            <div class="header__middle">
                <a href="tel:390970790909" class="header__phone"> <span>+39 097 079 09 09</span></a>
                <a href="#popup-callme" data-fancybox class="header__callme">Заказать звонок</a>
                <span class="header__open-info">Мы открыты с 09.00 до 22.00</span>
            </div>
            <div class="header__right">
                <a href="tel:390970790909" class="header__phone"><svg><use xlink:href="#phone-icon"></use></svg></a>
                <div class="header__ctrl">
                    <div class="header__icons">
                        <div class="header__user-wrap">
                            <div  class="header__user" data-dropdown-btn="heyo">
                                <svg><use xlink:href="#user"></use></svg>
                                <div class="header__avatar">
                                    <img src="images/ivan_bocharov.jpg" alt="">
                                </div>
                                <ul class="header__drpdwn" data-dropdown-box="heyo">
                                    <li><a href="#">Exit</a></li>
                                </ul>
                            </div>
                            <div class="header__name">
                                <span>Vanya</span>
                                <span>Bocharov</span>
                            </div>
                        </div>
                        <a href="#" class="header__cart">
                            <svg><use xlink:href="#cart"></use></svg>
                            <b>2</b>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header__nav-wrap">
        <div class="header__nav">
            <ul>
                <li class="has-child">
                    <a href="catalog.html">Каталог</a>
                    <div class="header__subnav">
                        <ul>
                            <li><a href="#">Весь асортимент</a></li>
                            <li><a href="#">пальто</a></li>
                            <li><a href="#">футболки</a></li>
                            <li><a href="#">деним</a></li>
                            <li><a href="#">костюмы</a></li>
                            <li><a href="#">брюки</a></li>
                            <li><a href="#">рубашки</a></li>
                            <li><a href="#">платья</a></li>
                            <li><a href="#">юбки и шорты</a></li>
                            <li><a href="#">худи</a></li>
                            <li><a href="#">комбенизоны</a></li>
                            <li><a href="#">блузы и топы</a></li>
                            <li><a href="#">...</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">Коллекции</a></li>
                <li><a href="#">О бренде</a></li>
                <li><a href="#">Сотрудничество</a></li>
                <li><a href="#">Места продаж</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
            <div class="header__lang">
                <p data-dropdown-btn="lang">РУС</p>
                <ul class="header__drpdwn" data-dropdown-box="lang">
                    <li><a href="#">РУС</a></li>
                    <li><a href="#">РУС</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- /HEADER -->

