<div class="hidden-block">

    <div id="call_success">
        <div class="call-success">
             <div class="call_success">
                 <div class="call-title">Спасибо за заявку!</div>
                 <div class="call-subtitle">Мы свяжемся с Вами в ближайшее время</div>
             </div>
        </div>
    </div>
    <div class="popup" id="forgot-poss">
        <div class="popup__wrap">
            <div class="popup__text">
                <h3>і шо,  забули пароль?</h3>
                <p>ой вей! от поц</p>
            </div>
            <div class="popup__row">
                <div class="popup__input">
                    <input type="text" placeholder="Почта" required="required">
                </div>

            </div>
            <div class="popup__text">
                <a href="#" class="btn">такі да (</a>
                <p><a href="#">може вже вспомнили пароль?</a></p>
            </div>
        </div>
    </div>
    <div class="popup" id="popup-login">
        <div class="popup__wrap">
            <div class="popup__text">
                <h3>ВОЙДИТЕ В ЛИЧНЫЙ КАБИНЕТ</h3>
                <p>Для доступа к вашим заказам, отложенным товарам и быстрой покупке</p>
            </div>
            <div class="popup__row">
                <div class="popup__input">
                    <input type="text" placeholder="Почта" required="required">
                </div>
                <div class="popup__input">
                    <input type="text" placeholder="Пароль" required="required">
                </div>
            </div>
            <div class="popup__text">
                <a href="#" class="btn">войти</a>
                <p><a href="#">Забыли пароль?</a></p>
            </div>
            <div class="popup__text">
                <h3>У ВАС ЕЩЕ НЕТ АККАУНТА?</h3>
                <p><a href="#">Зарегистрируйтесь</a></p>
            </div>
            <div class="popup__text">
                <h3>БЫСТРАЯ РЕГИСТРАЦИЯ ЧЕРЕЗ СОЦ. СЕТИ</h3>
                <div class="popup__socials">
                    <a href="#" class="popup__soc-item">
                        <svg><use xlink:href="#socials-facebook"></use></svg>
                    </a>
                    <a href="#" class="popup__soc-item">
                        <svg><use xlink:href="#socials-vk"></use></svg>
                    </a>
                    <a href="#" class="popup__soc-item">
                        <svg><use xlink:href="#socials-google"></use></svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="popup" id="popup-register">
        <div class="popup__wrap">
            <div class="popup__text">
                <h3>ЗАРЕГИСТРИРУЙТЕСЬ НА mbocharova</h3>
                <p>Для быстрых покупок, доступа к отложенным товарам и вашим заказам</p>
            </div>
            <div class="popup__row">
                <div class="popup__input">
                    <input type="text" placeholder="ФИО" required="required">
                </div>
                <div class="popup__input">
                    <input type="text" placeholder="Пароль" required="required">
                </div>
            </div>
            <div class="popup__row">
                <div class="popup__input">
                    <input type="text" placeholder="Номер телефона" required="required">
                </div>
                <div class="popup__input">
                    <input type="text" placeholder="Город" required="required">
                </div>
            </div>
            <div class="popup__row">
                <div class="popup__input">
                    <input type="text" placeholder="Пароль" required="required">
                </div>
                <div class="popup__input">
                    <input type="text" placeholder="Повторите пароль" required="required">
                </div>
            </div>
            <div class="popup__text">
                <a href="#" class="btn">заРегистрироваться</a>
                <p>Нажимая на кнопку, вы даете согласие на обработку своих  персональных данных</p>
            </div>
            <div class="popup__text">
                <h3>Вы наш клиент?</h3>
                <p><a href="#">Войдите в личный кабинет</a></p>
            </div>
        </div>
    </div>

    <div class="popup" id="popup-card">
        <div class="popup__wrap popup__wrap--big">
            <div class="card">
                <div class="card__sliders">
                    <div class="navigator__slider js-nav-slider">
                        <div class="navigator__slide">
                            <img src="images/card_nav.png" alt="" data-object-fit="cover">
                        </div>
                        <div class="navigator__slide">
                            <img src="images/card_nav.png" alt="" data-object-fit="cover">
                        </div>
                        <div class="navigator__slide">
                            <img src="images/card_nav.png" alt="" data-object-fit="cover">
                        </div>
                        <div class="navigator__slide">
                            <img src="images/card_nav.png" alt="" data-object-fit="cover">
                        </div>
                        <div class="navigator__slide">
                            <img src="images/card_nav.png" alt="" data-object-fit="cover">
                        </div>
                        <div class="navigator__slide">
                            <img src="images/card_nav.png" alt="" data-object-fit="cover">
                        </div>
                        <div class="navigator__slide">
                            <img src="images/card_nav.png" alt="" data-object-fit="cover">
                        </div>
                    </div>
                    <div class="card__mainslider">
                        <div class="card__shower js-show-slider">
                            <div class="card__slide">
                                <div class="card__content">
                                    <img src="images/card_big.png" alt="" data-object-fit="cover">
                                </div>
                            </div>
                            <div class="card__slide">
                                <div class="card__content">
                                    <img src="images/card_big.png" alt="" data-object-fit="cover">
                                </div>
                            </div>
                            <div class="card__slide">
                                <div class="card__content">
                                    <img src="images/card_big.png" alt="" data-object-fit="cover">
                                </div>
                            </div>
                            <div class="card__slide">
                                <div class="card__content">
                                    <img src="images/card_big.png" alt="" data-object-fit="cover">
                                </div>
                            </div>
                            <div class="card__slide">
                                <div class="card__content">
                                    <img src="images/card_big.png" alt="" data-object-fit="cover">
                                </div>
                            </div>
                            <div class="card__slide">
                                <div class="card__content">
                                    <img src="images/card_big.png" alt="" data-object-fit="cover">
                                </div>
                            </div>
                            <div class="card__slide">
                                <div class="card__content">
                                    <img src="https://liroom.com.ua/wp-content/uploads/2017/11/Banner_FrontPictures-Max-Barskih-Skull-3D-Mapping-Show-001.jpg" alt=""  data-object-fit="cover">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card__info">
                    <div class="card__box">
                        <h1 class="card__header">ПЛАТЬЕ МИДИ НА ЗАПАХ</h1>
                        <div class="card__price">
                            <span>20 100 грн.</span>
                        </div>
                        <div class="card__by">
                            <div class="card__checker">
                                <div class="card__boxes">
                                    <label>
                                        <input type="radio" name="size" checked>
                                        <i>XS</i>
                                    </label>
                                    <label>
                                        <input type="radio" name="size">
                                        <i>S</i>
                                    </label>
                                    <label>
                                        <input type="radio" name="size">
                                        <i>M</i>
                                    </label>
                                    <label>
                                        <input type="radio" name="size">
                                        <i>L</i>
                                    </label>
                                </div>
                                <div class="card__guide">
                                    <a href="#">Гид по размерам</a>
                                </div>
                            </div>
                            <a href="#" class="btn">Купить</a>
                        </div>
                        <div class="card__charact">
                            <p><b><span>Характеристики:</span></b></p>
                            <p><b>Цвет:</b> Фиолетовый</p>
                            <p><b>Материал:</b> <b>50%</b> вискоза <b>50%</b> шелк</p>
                            <p><b>Модель на фото:</b> <b>170 см</b>, параметры <b>78-60-93 см</b> , на ней размер <b>S</b></p>
                        </div>
                        <div class="card__charact">
                            <p><b><span>Другие цвета:</span></b></p>
                            <div class="card__colors">
                                <a href="images/card_big.png" class="card__option" data-fancybox="gal_1">
                                    <img src="images/color.png" alt="" data-object-fit="cover">
                                </a>
                                <a href="images/card_big.png" class="card__option" data-fancybox="gal_1">
                                    <img src="images/color.png" alt="" data-object-fit="cover">
                                </a>
                                <a href="images/card_big.png" class="card__option" data-fancybox="gal_1">
                                    <img src="images/color.png" alt="" data-object-fit="cover">
                                </a>
                                <a href="images/card_big.png" class="card__option"  data-fancybox="gal_1">
                                    <img src="images/color.png" alt="" data-object-fit="cover">
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="popup" id="popup-cart">
        <div class="popup__wrap popup__wrap--big">
            <div class="popup__text">
                <h3>ВАША КОРЗИНА</h3>
            </div>
            <div class="basket__box">
                <div class="staff">
                    <div class="staff__image">
                        <img src="images/staff_1.png" alt="">
                    </div>
                    <div class="staff__desc">
                        <div class="staff__head">ПЛАТЬЕ МИДИ НА ЗАПАХ</div>
                        <div class="staff__charact">
                            <div class="staff__col staff__col--size">
                                <p><b>Размер:</b> S</p>
                                <p><b>Цвет:</b> Фиолетовый</p>
                                <p><b>Материал:</b> <b>50%</b> вискоза <b>50 %</b> шелк</p>
                            </div>
                            <div class="staff__col staff__col--quantity">
                                <p><b>Количество:</b></p>
                                <div class="staff__much">
                                    <input type="text" placeholder="1">
                                </div>
                            </div>
                            <div class="staff__col staff__col--price">
                                <p><b>Цена:</b></p>
                                <p><b>11 950 Р</b></p>
                                <p>11 950 Р</p>
                            </div>

                        </div>
                        <div class="staff__delete js-staff-del">

                        </div>
                    </div>
                </div>
                <div class="staff">
                    <div class="staff__image">
                        <img src="images/staff_1.png" alt="">
                    </div>
                    <div class="staff__desc">
                        <div class="staff__head">ПЛАТЬЕ МИДИ НА ЗАПАХ</div>
                        <div class="staff__charact">
                            <div class="staff__col staff__col--size">
                                <p><b>Размер:</b> S</p>
                                <p><b>Цвет:</b> Фиолетовый</p>
                                <p><b>Материал:</b> <b>50%</b> вискоза <b>50 %</b> шелк</p>
                            </div>
                            <div class="staff__col staff__col--quantity">
                                <p><b>Количество:</b></p>
                                <div class="staff__much">
                                    <input type="text" placeholder="1">
                                </div>
                            </div>
                            <div class="staff__col staff__col--price">
                                <p><b>Цена:</b></p>
                                <p><b>11 950 Р</b></p>
                                <p>11 950 Р</p>
                            </div>

                        </div>
                        <div class="staff__delete js-staff-del">

                        </div>
                    </div>
                </div>
            </div>
            <div class="popup__text">
                <a href="#" class="btn">ПЕРЕЙТИ В КОРЗИНУ</a>
                <p><a href="#">Продолжить покупки</a></p>
            </div>

        </div>
    </div>
    <div class="popup" id="popup-callme">
        <div class="popup__wrap">
            <div class="popup__text">
                <h3>Заказать звонок</h3>
            </div>
            <div class="popup__row">
                <div class="popup__input">
                    <input type="text" placeholder="Ваше имя" required="required">
                </div>
                <div class="popup__input">
                    <input type="text" placeholder="Номер телефона" required="required">
                </div>
            </div>
            <div class="popup__text">
                <a href="#" class="btn">перезвоните мне</a>
            </div>
        </div>
    </div>
</div>