<div class="menus">
    <div class="menus__item" data-dropdown-box="menumob">
        <button class="menus__close" data-dropdown-close="menumob"></button>
        <div class="menus__title">
            <div class="menus__top">
                <!--<span class="header__butter menus__butter">-->
                    <!--<span></span>-->
                    <!--<span></span>-->
                    <!--<span></span>-->
                <!--</span>-->
                <div class="header__logo menus__logo">
                    <a href="/">
                        <img src="images/logog.png" alt="">
                        <span>Bocharova</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="menus__content">
            <div class="menus__nav">
                <ul>
                    <li class="has-child">
                        <a href="#">Каталог</a>
                        <div class="menus__submenu">
                            <ul>
                                <li><a href="">Все</a></li>
                                <li><a href="">Все</a></li>
                                <li><a href="">Пальто</a></li>
                                <li><a href="">Костюмы</a></li>
                                <li><a href="">Платья</a></li>
                                <li><a href="">Комбинезоны</a></li>
                                <li><a href="">Футболки</a></li>
                                <li><a href="">Брюки</a></li>
                                <li><a href="">Юбки и шорты</a></li>
                                <li><a href="">Блузы и топы</a></li>
                                <li><a href="">Деним</a></li>
                                <li><a href="">Рубашки</a></li>
                                <li><a href="">Все</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="#">Коллекции</a></li>
                    <li><a href="#">О бренде</a></li>
                    <li><a href="#">Сотрудничество</a></li>
                    <li><a href="#">Места продаж</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </div>
        </div>

        <div class="menus__socials">
            <a href="#" class="menus__icon"><svg><use xlink:href="#inst-icon"></use></svg></a>
            <a href="#" class="menus__icon"><svg><use xlink:href="#facebook-i"></use></svg></a>
            <a href="#" class="menus__icon"><svg><use xlink:href="#twitter-i"></use></svg></a>
        </div>
    </div>
    <div class="menus__item" data-dropdown-box="catalog">
        <button class="menus__close" data-dropdown-close="catalog"></button>
        <a href="#" class="menus__title">
            <b>Каталог</b>
        </a>
        <div class="menus__content">
            <div class="menus__nav">
                <ul>
                    <li><a href="#">Все</a></li>
                    <li><a href="#">Пальто</a></li>
                    <li><a href="#">Шубы</a></li>
                    <li><a href="#">Платья</a></li>
                    <li><a href="#">Костюмы</a></li>
                    <li><a href="#">Комбинезоны</a></li>
                    <li><a href="#">Брюки</a></li>
                    <li><a href="#">Юбки и шорты</a></li>
                    <li><a href="#">Блузы и топы</a></li>
                    <li><a href="#">Деним</a></li>
                    <li><br></li>
                    <li><br></li>
                    <li><a href="#"><b>SALE</b></a></li>
                    <li><a href="#"><b>NEW</b></a></li>
                    <li><a href="#"><b>SS2018</b></a></li>
                </ul>
            </div>
        </div>

        <div class="menus__socials">
            <a href="#" class="menus__icon"><svg><use xlink:href="#inst-icon"></use></svg></a>
            <a href="#" class="menus__icon"><svg><use xlink:href="#facebook-ico"></use></svg></a>
            <a href="#" class="menus__icon"><svg><use xlink:href="#twitter-ico"></use></svg></a>
        </div>
    </div>
</div>
<div class="overlay" style="display: none;"></div>