//= partials/head.html
<div class="global-wrapper">
    //= partials/menus.html
    //= partials/header.html
    <div class="main">
        <div class="mbox">
            <div class="title title--big">
                <h2>О бренде</h2>
            </div>
            <div class="about">
                <div class="about__content">
                    <div class="about__info">
                        <p>Mboсharova- это украинский бренд женской одежды, основанный Марьяной Бочаровой в 2016 году.</p>
                        <p>Наш путь начинался с изготовления джинсовых курток оверсайз, расписанных вручную. Они горячо полюбились фешн-блоггерам и медийным личностям из разных уголков мира, сделав нас узнаваемыми.
                            <br>
                            Спустя год, Марьяна разработала и запустила в производство полноценную коллекцию повседневной одежды. Киев, Москва, Лондон, Торонто – вот далеко не полный список городов, где девушки носят Mboсharova.
                            <br>
                            За 3 года существования мы побывали на всевозможных выставках, покорили «Kiev Fashion Day» в 2018-м году, и одержали победу на Фестивале Славянской Моды в мировой столице haute couture - Париже. Открыли несколько шоурумов в городах Украины и не собираемся останавливаться на достигнутом!
                        </p>
                        <p>Для нас важно, чтобы каждое изделие хорошо смотрелось на девушках и женщинах с различным типом фигур, и не только подчеркивало достоинства, но и умело корректировало особенности телосложения.</p>
                        <p>При разработке будущей коллекции, мы привлекаем моделей разных
                            комплекций для примерки пробных образцов. И лишь убедившись в том, что вещь сидит как надо – запускаем ее в производство.
                            <br>
                            Особое внимание мы уделяем подбору персонала. Каждая сотрудница Mbocharova– это высококвалифицированный специалист. Все швеи и конструкторы на производстве имеют многолетний стаж работы. Консультанты в шоурумах ежегодно проходят обучение у топовых стилистов.
                        </p>
                        <p>Посещая различные фешн-мероприятия, прогуливаясь улицами Франции, Канады, и прочих стран как далекого, так и близкого зарубежья, мы все чаще видим прекрасных девушек, одетых в наши изделия.Это вдохновляет нас на новые подвиги в покорении мира моды.</p>
                    </div>
                    <div class="about__img">
                        <img alt="images" src="http://mbocharova.com/images/About/about-us-img.jpg">
                    </div>
                </div>
               <!-- <video width="100%" height="100%" controls="controls" poster="http://mbocharova.com/images/Home-Video/the-new-skinny-poster.jpg">
                     <source src="http://mbocharova.com/images/Home-Video/the-new-skinny.mp4" type="video/mp4">
                </video> -->
            </div>
        </div>
    </div>
</div>
//= partials/hidden-block.html
//= partials/footer.html
</div>
</body>
</html>