//= partials/head.html
<div class="global-wrapper">
    //= partials/menus.html
    //= partials/header.html
    <div class="main">
        <div class="mbox">
            <div class="basket">
                <div class="basket__head">
                    <h1>ВАША КОРЗИНА</h1>
                    //= partials/basket-custom-head.html
                </div>
                //= partials/basket-custom-form.html

                <div class="basket__get">
                    <a href="#" class="btn">ОФОРМИТЬ ЗАКАЗ</a>
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>