//= partials/head.html
<div class="global-wrapper">
    //= partials/menus.html
    //= partials/header.html
    <div class="main">
        <div class="mbox">
            //= partials/breadcrumbs.html
            <div class="blog-detail">
                <div class="blog-detail__header">
                    <div class="blog-detail__date">
                        <span>23 апреля 2019г.</span>
                    </div>
                    <div class="blog-detail__social-wrap">
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-facebook"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-vk"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-google"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#inst-icon"></use></svg>
                        </a>
                    </div>
                </div>

                <div class="blog-detail__post">
                    <div class="blog-detail__title">
                        <h2>
                            С головы до ног: тренд на кожу						</h2>
                    </div>
                    <p>Какими только не были тренды в этом сезоне, но, безусловно, тренд на эко-кожу сейчас на пике популярности. Причём с такой силой, что эксперты советуют укутаться ею с ног до головы, или хотя-бы приобрести несколько элементов. Что-ж, давайте вместе разберём этот тренд, и посмотрим, как его можно носить в повседневной жизни.</p>
                    <p>Большое внимание уделялось коже именно в бордовых и красных оттенках. Говорят, что бордовый — новый чёрный. Именно поэтому на показах коллекций осень-зима 19/20 и весна-лето 20 преобладали именно эти оттенки кожи. На показах встречались и total-look в красных цветах, но было достаточно отдельных элементов гардероба.</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-24/blog-detail_1.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-24/blog-detail_2.jpg" alt="">
                        </div>
                    </div>
                    <p>Но как носить такой яркий цвет в жизни? Ведь красная кожа — выглядит достаточно агрессивно, да и подходит далеко не всем.</p>
                    <p>Если ты смелая можешь позволить себе надеть красную кожаную юбку или брюки, а сверху свитшот того же оттенка — отличный осенний look, для тех, кто любит быть в центре внимания. Ну а если ты более спокойная натура, то совмещай красную кожу с вещами в классических цветах: чёрный, белый, нюдовый.</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-24/blog-detail_3.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-24/blog-detail_4.jpg" alt="">
                        </div>
                    </div>
                    <p>Хоть красный и главный цвет, но черный всё-таки остаётся в лидирующих позициях.</p>
                    <p>Мы привыкли, что чёрными могут быть косухи, или брюки, и дизайнеры, конечно, учли это, но в то же время они добавили новых необычных элементов гардероба в чёрном оттенке: комбинезоны, шорты, костюмы, платья, тренчи. Только посмотрите на это разнообразие!</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-24/blog-detail_5.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-24/blog-detail_6.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-24/blog-detail_7.jpg" alt="">
                        </div>
                    </div>
                    <p>Чёрный - более универсальный цвет, и поэтому в повседневной жизни мы можем сочетать его практически с любым предметом гардероба. Самый простой образ — кожаный низ (брюки, юбка или шорты) + простой верх. Свитшот, худи, водолазка, футболка — на ваше усмотрение. Что касается кожаного тренча, то он подходит абсолютно всем, и его можно внедрить в любой образ. Особенно красиво смотрится с массивными ботинками или сапогами.</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-24/blog-detail_8.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-24/blog-detail_9.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-24/blog-detail_10.jpg" alt="">
                        </div>
                    </div>
                    <p>Наверное, самое необычное сочетание кожа + животный принт. Иногда к этому всему прилагается ещё и яркий цвет. В этом году многие дизайнеры предложили такие вариации, и, думаем, что многим они прийдутся по вкусу.</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-24/blog-detail_11.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-24/blog-detail_12.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-24/blog-detail_13.jpg" alt="">
                        </div>
                    </div>
                    <p>На первый взгляд это совсем не носибельно, выглядит броско, но это не так. Всё зависит от настроения и вкусов. Бывает, хочется как Рианна, надеть зелёный кожаный плащ, а бывает, что особо выделяться не хочется, и тогда ты просто надеваешь любимый свитшот с юбкой. Важно помнить, что при создании такого образа кожаная вещь будет играть главную роль, ми не стоит перегружать look яркими цветами или броскими аксессуарами.</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-24/blog-detail_14.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-24/blog-detail_15.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-24/blog-detail_16.jpg" alt="">
                        </div>
                    </div>
                    <p>Куда же без платьев? Согласитесь, кожаное платье — это очень сексуально и стильно, и дизайнеры это знают, поэтому подготовили просто взрывные варианты. Например, яркое платье в оттенке chili papper, которое смотрится безумно красиво. Или тебе больше по душе “кожаная готика”? А как насчёт спущенных плечей?</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-24/blog-detail_17.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-24/blog-detail_18.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-24/blog-detail_19.jpg" alt="">
                        </div>
                    </div>
                    <p>Платье — неотъемлемая часть жизни каждой девушки, а кожаное платье то, что стоит попробовать. Ведь, в зависимости от фасона и цвета можно создать неповторимый образ, например, выбрав чёрное платье-рубашку — ты выбираешь базу под любой верх и обувь. Хочешь “на запах”? И такое найдётся.Можно сделать образ уютным. Если выбрать нежный оттенок платья и под него надеть любимую тёплую кофту. В общем, пространство для фантазии!</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-24/blog-detail_20.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-24/blog-detail_21.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-24/blog-detail_22.jpg" alt="">
                        </div>
                    </div>
                    <p>Поэтому, не стоит боятся кожаных вещей! Ведь  можно быть яркой и стильной при помощи одной вещи, а прослужит она долгое время.  Ну а если ты сомневаешься, тогда просто посмотри на эти фото!</p>
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>
</html>