//= partials/head.html
<div class="global-wrapper">
    //= partials/menus.html
    //= partials/header.html
    <div class="main">
        <div class="mbox">
            //= partials/breadcrumbs.html
            <div class="blog-detail">
                <div class="blog-detail__header">
                    <div class="blog-detail__date">
                        <span>23 апреля 2019г.</span>
                    </div>
                    <div class="blog-detail__social-wrap">
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-facebook"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-vk"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-google"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#inst-icon"></use></svg>
                        </a>
                    </div>
                </div>
                <div class="blog-detail__post">
                    <div class="blog-detail__title">
                        <h2>Какие костюмы предпочитают первые леди: от классики до страз</h2>
                    </div>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-16/blog-detail_1.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-16/blog-detail_2.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-16/blog-detail_3.jpg" alt="">
                        </div>
                    </div>
                    <p>Мы уже много говорили о брючных костюмах: какие тренды актуальны, что можно носить в офис, и даже вернулись к истокам истории. Сегодня, мы хотим обсудить какие брючные костюмы предпочитают первые леди, ведь они, как правило, главные законодательницы моды.  За ними следит весь мир, и то, что они надели сегодня, станет главным трендом завтра: от принцессы Дианы до Мелании Трамп</p>
                    <p>Брючные костюмы всегда были одеждой аристократов, когда появились женские версии далеко не каждая могла себе это позволить, поэтому знатные особы начали носить изысканные комплекты одними из первых и до сих пор продолжают эту традицию.</p>
                    <p>Принцесса Диана обладала особым чувством вкуса. Консервативные нравы королевской семьи не повлияли на прекрасный вкус принцессы, и поэтому она часто носила то, что душе угодно.  Для фотосессии в поддержку благотворительного аукциона платьев в 1997 году, Диана выбрала двубортный брючный костюм черного цвета, под который надела белый топ. Образ получился лаконичный, и в то же время оригинальный. Так что, если у вас ещё нет простого чёрного костюма – то пора им обзавестись.</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-16/blog-detail_4.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-16/blog-detail_5.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-16/blog-detail_6.jpg" alt="">
                        </div>
                    </div>
                    <p>Мелания Трамп стала настоящей сенсацией в мире политики. Ведь таких первых леди мир никогда не знал. Ее стиль называют “строгая сексуальность”, и не зря. То, как Мелания появляется на мероприятиях никогда не останется незамеченным. Когда президент США принимал гостей первая леди поразила всех своим нарядом от Calvin Klein. Брючный костюм в нежно-розов оттенке очень подошёл Мелании, сделав образ ярким и в то же время уместным. Вообще, Мелания Трамп очень любит брючные костюмы, только посмотрите на эти фото!</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-16/blog-detail_7.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-16/blog-detail_8.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-16/blog-detail_9.jpg" alt="">
                        </div>
                    </div>
                    <p>Летиция Ортис не далеко ушла от своих “коллег”. Будучи успешным журналистом она не утратила своих способностей, даже выйдя замуж за испанского принца. Стиль леди менялся, но неизменным осталось одно – любовь к брючным костюмам. Даже на собственную помолвку она предпочла романтичный комплект двойку белого цвета от Armani.</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-16/blog-detail_10.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-16/blog-detail_11.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-16/blog-detail_12.jpg" alt="">
                        </div>
                    </div>
                    <p>Но настоящая фанатка брючных костюмов Мишель Обама. Почти каждый её выход – новый комплект, и всегда эффектно. Бывшая первая леди не любит классику, и отдаёт предпочтение ярким цветам, и даже стразам. Если вы не знаете как разнообразить гардероб, то вот несколько примеров от Мишель.</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-16/blog-detail_13.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-16/blog-detail_14.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-16/blog-detail_15.jpg" alt="">
                        </div>
                    </div>
                    <p>Бриджит Макрон – стала супругой самого молодого президента Франции. Хоть и разница в возрасте значительна, Бриджит ни в чём себе не отказывает, она не собирается становиться  заложницей моды, и носит всё, что душе угодно. А ещё французская первая леди обожает костюмы, и носит их очень часто.</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-16/blog-detail_16.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-16/blog-detail_17.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-16/blog-detail_18.jpg" alt="">
                        </div>
                    </div>
                    <p>Быть первой леди – нелёгкая работа: мужа накорми, министров собери, детей одна воспитай, да ещё и выглядеть нужно идеально, всегда и везде. Но наши леди справляются с этой задачей легко и просто, и неудивительно, что для этого они выбирают брючные костюмы.</p>
                    <p>Поэтому, чтоб почувствовать себя женой президента или принца необязательно ждать его верхом на белом коне. Достаточно одеть красивый брючный костюм, и принц уже тут как тут.</p>
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>
</html>