//= partials/head.html
<div class="global-wrapper">
    //= partials/menus.html
    //= partials/header.html
    <div class="main">
        <div class="mbox">
            //= partials/breadcrumbs.html
            <div class="blog-detail">
                <div class="blog-detail__header">
                    <div class="blog-detail__date">
                        <span>23 апреля 2019г.</span>
                    </div>
                    <div class="blog-detail__social-wrap">
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-facebook"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-vk"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-google"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#inst-icon"></use></svg>
                        </a>
                    </div>
                </div>

                <div class="blog-detail__post">
                    <div class="blog-detail__title">
                        <h2>Летние must-have образы для офиса</h2>
                    </div>
                    <p>
                        Невзирая на то, что лето в самом разгаре многие из нас работают. Однако, даже в такую погоду офисный дресс-код диктует свои правила. Но как хочется, чтобы летний офисный лук был не только практичным, а еще и стильным. Многообразие трендов этого сезона позволяет создать идеальный летний образ для офиса.
                    </p>
                    <p>
                        1.	Платья-пиджаки <br>
                        Такой лук всегда будет уместным, особенно в офисной атмосфере. Платье-пиджак это не только практичная, а еще и интересная вещь, которую можно сочетать как с лодочками, так и с обувью на низкой подошве. Особенно актуальный в этом сезоне фасон в полоску.
                    </p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-4/blog-detail_1.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-4/blog-detail_2.jpg" alt="">
                        </div>
                    </div>
                    <p>
                        2.  Платья "миди" <br>
                        Это то, что никогда не выйдет моды. С цветом смело можно экспериментировать, ведь фасон это позволяет. Еще одна приятная особенность это то, что длина "миди" универсальная, такой фасон можно смело комбинировать почти с любой обувью и аксессуарами.
                    </p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-4/blog-detail_3.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-4/blog-detail_4.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-4/blog-detail_5.jpg" alt="">
                        </div>
                    </div>
                    <p>
                        3.	Горошек <br>
                        Если хочется прибавить легкости и нежности в деловой образ — горошек к твоим услугам. Более романтичного принта еще никто не придумал.
                    </p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-4/blog-detail_6.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-4/blog-detail_7.jpg" alt="">
                        </div>
                    </div>
                    <p>
                        4. Комбинезон <br>
                        Комбинезон также может быть интересным. Это один из самых трендовых и практичных вариантов на каждый день. Образ всегда будет разным в зависимости от обуви. В лоферах рабочий, в лодочках более нарядный, а в кедах легкий и расслабленный. Выбирать вам!
                    </p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-4/blog-detail_8.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-4/blog-detail_9.jpg" alt="">
                        </div>
                    </div>
                    <p>
                        Любому из этих образов беспрекословно хочется ответить "I do". Ведь они настолько практичные, что никогда не останутся на полке, главное экспериментировать!
                    </p>
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>
</html>