//= partials/head.html
<div class="global-wrapper">
    //= partials/menus.html
    //= partials/header.html
    <div class="main">
        <div class="mbox">
            //= partials/breadcrumbs.html
            <div class="blog-detail">
                <div class="blog-detail__header">
                    <div class="blog-detail__date">
                        <span>23 апреля 2019г.</span>
                    </div>
                    <div class="blog-detail__social-wrap">
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-facebook"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-vk"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-google"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#inst-icon"></use></svg>
                        </a>
                    </div>
                </div>

                <div class="blog-detail__post">
                    <div class="blog-detail__title">
                        <h2>Миллион сочетаний с обычной базовой футболкой</h2>
                    </div>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-7/blog-detail_1.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-7/blog-detail_2.jpg" alt="">
                        </div>

                    </div>
                    <p>
                        Простая белая футболка самая универсальная вещь в гардеробе, а вариации оттенков позволяют смело экспериментировать с образом.
                    </p>
                    <p>
                        Изначально белая футболка использовалась как нательное бельё, и носилась под рубашкой, лишь в конце 70-х, футболка стала самостоятельным предметом гардероба и начала свою историю.
                    </p>
                    <p>В основном, для изготовления футболок применяют трикотажный материал: хлопок, вискоза, эластан, полиэстер. Со временем появились футболки не только с круглым, но и V-образным вырезом. Итак, как носить эту простую вещь?</p>
                    <p>
                        1. Быстрый повседневный образ <br>
                        К футболке можно добавить любые брюки или джинсы, удобную обувь и сумку. Но если хочется чего-то яркого, можно дополнить образ аксессуарами. А если добавить яркую помаду и сделать лёгкую укладку, то можно смело отправляться на свидание. С кроссовками такой образ получиться милым и удобным, но стоит надеть лодочки, и можно отправляться на свидание.
                    </p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-7/blog-detail_3.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-7/blog-detail_4.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-7/blog-detail_5.jpg" alt="">
                        </div>
                    </div>
                    <p>
                        2. Белая футболка + сложный принт <br>
                        Такие базовые вещи как однотонная футболка, станут отличным «фоном» для любого принта: животный, геометрический, в полоску, в клетку – с белой футболкой можно совместить что угодно.  Главное, не перегрузить образ аксессуарами или обувью.
                    </p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-7/blog-detail_6.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-7/blog-detail_7.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-7/blog-detail_8.jpg" alt="">
                        </div>
                    </div>
                    <p>
                        3. Офисные будни <br>
                        Чтобы офисный костюм не выглядел сильно строго и по-деловому, можно надеть белую футболку, и образ сразу станет более спокойным и повседневным. А для полного комфорта можно добавить кроссовки или любую удобную обувь. Особенно уместно белая футболка будет смотреться с яркими костюмами, и будет выгодно оттенять любой цвет.
                    </p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-7/blog-detail_9.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-7/blog-detail_10.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-7/blog-detail_11.jpg" alt="">
                        </div>
                    </div>
                    <p>
                        4. Белая футболка и сарафан <br>
                        Если хочется чего-то интересного, то можно попробовать надеть на футболку сарафан. Такое сочетание уже давно стало трендом и смотрится очень интересно. При чём сарафан может быть с любым принтом, и любого цвета: если будет чёрный – футболка будет играть на контрастах, а белый сарафан с такой же футболкой создаст нежный и романтичный образ.
                    </p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-7/blog-detail_12.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-7/blog-detail_13.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-7/blog-detail_14.jpg" alt="">
                        </div>
                    </div>
                    <p>
                        С чем ещё можно совместить белую футболку: <br>
                        - с ярким однотонным низом <br>
                        - с кожей и замшей <br>
                        - с клетчатой рубашкой <br>
                        - с любыми юбками <br>
                    </p>
                    <p>
                        Поэтому, если у вас ещё нет белой футболки, то самое время её обзавестись. При этом ваш гардероб увеличиться не на одну вещь, а не бесконечное число комбинаций, главное – Ваша фантазия!
                    </p>
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>
</html>