//= partials/head.html
<div class="global-wrapper">
    //= partials/menus.html
    //= partials/header.html
    <div class="main">
        <div class="mbox">
            <div class="blog">
                <div class="blog__box">
                    <a href="#" class="blog__post">
                        <div class="blog__img">
                            <img src="images/card_big.png" alt="photo">
                        </div>
                        <div class="blog__title">MustHave Playlist: музыка твоей весны</div>
                        <div class="blog__text">Сегодня в блоге - весенний музыкальный плейлист от MustHave</div>
                    </a>

                </div>
                <div class="blog__box">
                    <a href="#" class="blog__post">
                        <div class="blog__img">
                            <img src="images/card_nav.png" alt="photo">
                        </div>
                        <div class="blog__title">MustHave & Givenchy Beauty: аромат твоей весны</div>
                        <div class="blog__text">Сегодня в блоге подбираем идеальный аромат твоей весны и наводим красоту вместе с MustHave и Givenchy.</div>
                    </a>
                </div>
                <div class="blog__box">
                    <a href="#" class="blog__post">
                        <div class="blog__img">
                            <img src="images/staff_1.png" alt="photo">
                        </div>
                        <div class="blog__title">MustHave аксессуары: платки весенней коллекции</div>
                        <div class="blog__text">Сегодня в блоге мы охотно поделимся must-have секретами, как стильно и небанально дополнить свой образ с помощью женственных аксессуаров - платков</div>
                    </a>
                </div>
                <div class="blog__box">
                    <a href="#" class="blog__post">
                        <div class="blog__img">
                            <img src="images/card_nav.png" alt="photo">
                        </div>
                        <div class="blog__title">MustHave словарь: топ-9 fashion терминов</div>
                        <div class="blog__text">Сегодня в блоге мы составили для тебя небольшой MustHave словарь из топ-9 терминов, которые необходимо знать в современном мире моды.</div>
                    </a>
                </div>
                <div class="blog__box">
                    <a href="#" class="blog__post">
                        <div class="blog__img">
                            <img src="images/card_big.png" alt="photo">
                        </div>
                        <div class="blog__title">Твоя новая MustHave весна: второе поступление весенней коллекции
                        </div>
                        <div class="blog__text">Сегодня в блоге - презентация второго поступления весенней коллекции MustHave</div>
                    </a>
                </div>
            </div>
             <div class="pagination">
                 <ul class="pagination__list">
                     <!-- prev page -->
                     <li>
                         <a href="#" class="pagination__prev"><div class="pagination-arrow"></div></a>
                     </li>

                     <!-- all pages -->
                     <li>
                         <a href="#" class="pagination__item ">1</a>
                     </li>
                     <li>
                         <span class="pagination__item active">2</span>
                     </li>
                     <li>
                         <a href="#" class="pagination__item ">3</a>
                     </li>
                     <li>
                         <a href="#" class="pagination__item ">4</a>
                     </li>
                     <li>
                         <a href="#" class="pagination__item ">5</a>
                     </li>

                     <!-- next page -->
                     <li>
                         <a href="#" class="pagination__next"><div class="pagination-arrow"></div></a>
                     </li>

                 </ul>
             </div>
        </div>
        //= partials/hidden-block.html
        //= partials/footer.html
    </div>
    </body>
    </html>