//= partials/head.html
<div class="global-wrapper">
    //= partials/menus.html
    //= partials/header.html
    <div class="main">
        <div class="mbox">
            //= partials/breadcrumbs.html
            <div class="blog-detail">
                <div class="blog-detail__header">
                    <div class="blog-detail__date">
                        <span>23 апреля 2019г.</span>
                    </div>
                    <div class="blog-detail__social-wrap">
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-facebook"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-vk"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-google"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#inst-icon"></use></svg>
                        </a>
                    </div>
                </div>

                <div class="blog-detail__post">
                    <div class="blog-detail__title">
                        <h2>Самые трендовые принты этого сезона: с чем носить?</h2>
                    </div>
                    <div class="blog-detail__photo">
                        <img src="/local/templates/main/images/blog/detail-15/blog-detail_1.jpg" alt="">
                    </div>
                    <p>Каждый сезон преподносить нам новые «сюрпризы». Иногда, вполне носибельные, а иногда мы даже не знаем, как «это» носить. Ведь все мы обычные люди, которые ходят на работу, живут насыщенной активной жизнью и нам хочется, чтоб одежда была максимально простой, но при этом и модной. Для такого случая, можно использовать одежду с принтами: это стильно, и в то же время удобно. Давайте узнаем, какие принты будут актуальными в этом сезоне?</p>
                    <p>• Цветы. <br>
                        Такой принт вдохновил многих дизайнеров на создание своих шедевров. В этом сезоне цветочный орнамент использовали Dolce & Gabbana, Louis Vuitton.</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-15/blog-detail_2.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-15/blog-detail_3.jpg" alt="">
                        </div>
                    </div>
                    <p>Как носить в повседневной жизни? <br>
                        Идеально подойдут платья, романтичного кроя – это добавить лёгкости, и к тому же, удобно. Уместна будет блуза из невесомой ткани, или даже платок. Всё зависит от настроения.
                    </p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-15/blog-detail_4.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-15/blog-detail_5.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-15/blog-detail_6.jpg" alt="">
                        </div>
                    </div>
                    <p>• Анималистический принт <br>
                        Наверное, самый долговечный и проверенный тренд. В этом сезоне дизайнеры предлагают широкий выбор: змеиный, тигровый, леопардовый – это самые топовые принты. Некоторые дизайнеры даже сочетают принты между собой. Такие луки нам предложили Burberry, Roberto Cavalli, Philosophy di Lorenzo Serafini.
                    </p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-15/blog-detail_7.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-15/blog-detail_8.jpg" alt="">
                        </div>
                    </div>
                    <p>•Как носить в повседневной жизни? <br>
                        Если вы любите минимализм, тогда можно сочетать анималистический принт с однотонной вещью простого кроя. Например, юбка со змеиным узором и белый топ, или наоборот. Но если вы любите быть в центре внимания, тогда модно приобрести платье с принтом или добавить к образу вещей из кожи. Главное не перестараться, чтоб образ не был перегружен или вульгарен.</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-15/blog-detail_9.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-15/blog-detail_10.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-15/blog-detail_11.jpg" alt="">
                        </div>
                    </div>
                    <p>Б• Горошек <br>
                        Следует отметить, что этот принт тоже остаётся актуальным уже не один сезон. Его можно носить как в классическом проявлении (чёрно-белая гамма), так и в ярком. Дизайнеры Dolce & Gabbana, Escada предлагают разнообразить этот горох всевозможными цветами: бежевый, зелёный, красный и другие.</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-15/blog-detail_12.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-15/blog-detail_13.jpg" alt="">
                        </div>
                    </div>
                    <p>Как носить в повседневной жизни? <br>
                        Горох – принт не броский, и уже давно вошёл в повседневную жизнь многих девушек, поэтому можно носить его как угодно. Чтоб образ был романтичным достаточно найти платье в горошек. Если хочется быть более дерзкой, можно носить костюм в горох, брюки или юбку. Достаточно только включить фантазию, и можно творить чудеса.</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-15/blog-detail_14.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-15/blog-detail_15.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-15/blog-detail_16.jpg" alt="">
                        </div>
                    </div>
                    <p>• Полоска <br>
                        Ну и куда же без линий, классика, которая всегда будет актуальной. Oscar de la Renta, Rodarte и другие предлагают нам множество вариаций. Горизонтальная, вертикальная, крупная, мелкая – всё зависит от вашего настроения.</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-15/blog-detail_17.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-15/blog-detail_18.jpg" alt="">
                        </div>
                    </div>
                    <p>Как носить в повседневной жизни? <br>
                        Полоска настолько универсальна, что носить её можно с чем угодно и куда угодно. Сейчас, этот принт не только на платьях, но и юбках, брюках, но и на костюмах, блузах, поясах. В зависимости от ткани можно создать любой образ. Хит показов круизных коллекций – костюм в полоску из атласа или щёлка.</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-15/blog-detail_19.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-15/blog-detail_20.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-15/blog-detail_21.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>
</html>