//= partials/head.html
<div class="global-wrapper">
    //= partials/menus.html
    //= partials/header.html
    <div class="main">
        <div class="mbox">
            //= partials/breadcrumbs.html
            <div class="blog-detail">
                <div class="blog-detail__header">
                    <div class="blog-detail__date">
                        <span>23 апреля 2019г.</span>
                    </div>
                    <div class="blog-detail__social-wrap">
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-facebook"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-vk"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-google"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#inst-icon"></use></svg>
                        </a>
                    </div>
                </div>

                <div class="blog-detail__post">
                    <div class="blog-detail__title">
                        <h2>Увидеть Париж и победить</h2>
                    </div>
                    <div class="blog-detail__photo">
                        <img src="./images/blog/detail-3/blog-detail_1.jpg" alt="">
                    </div>
                    <p>
                        2018 год был невероятно богатым на события. Десятки посещенных городов и стран, литры выпитого кофе, бесчисленное количество реализованных идей…Все это привело нас в Париж, родину haute couture и самых вкусных круассанов. Для визита города влюбленных был особо волнительный повод - наш бренд пригласили на Фестиваль Славянской Моды.
                    </p>
                    <div class="blog-detail__photo">
                        <img src="./images/blog/detail-3/blog-detail_2.jpg" alt="">
                    </div>
                    <p>
                        Уже второй год подряд данное мероприятие собирает молодых дизайнеров из Украины, России и Беларуси. Несмотря на ограниченное количество мест (к показу допускается всего 10 участников), выставка проходила два полноценных дня,3-го и 4-го мая. Благодаря такому подходу жюри могло внимательно ознакомиться с каждой работой по отдельности и озвучить свои рекомендации.
                    </p>
                    <p>
                        Для оценки работ были приглашены профессионалы в сфере дизайна и сотрудники известных домов моды.В том числе и всемирно известный кутюрье Стефан Роллан, чьи наряды демонстрировали Селин Дион, Ким Кардашьян, Бейонсе и другие селебрити.
                    </p>
                    <div class="blog-detail__photo">
                        <img src="./images/blog/detail-3/blog-detail_3.jpg" alt="">
                    </div>
                    <p>
                        Нам очень польстило, что оригинальность и качество курток MBocharova отметили не только организаторы, но и коллеги по цеху. Было приятно получить такое количество теплых слов от ведущих специалистов, однако самый приятный сюрприз нас ожидал в конце-наш бренд занял первое место!
                    </p>
                    <div class="blog-detail__photo">
                        <img src="./images/blog/detail-3/blog-detail_4.jpg" alt="">
                    </div>
                    <p>
                        Для нас было большой честью продемонстрировать свою одежду на выставке такого уровня и получить такую высокую оценку нашему труду. Благодарим организатора, и по совместительству талантливейшего художника и журналиста, Андрея Андреева-Артона за предоставленную возможность. Надеемся на встречу в следующем году!
                    </p>
                    <p>
                        Ниже представлена небольшая подборка фото с нашего показа:)
                    </p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-3/blog-detail_5.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-3/blog-detail_6.jpg" alt="">
                        </div>
                    </div>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-3/blog-detail_7.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-3/blog-detail_8.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>
</html>