//= partials/head.html
<div class="global-wrapper">
    //= partials/menus.html
    //= partials/header.html
    <div class="main">
        <div class="mbox">
            //= partials/breadcrumbs.html
            <div class="blog-detail">
                <div class="blog-detail__header">
                    <div class="blog-detail__date">
                        <span>23 апреля 2019г.</span>
                    </div>
                    <div class="blog-detail__social-wrap">
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-facebook"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-vk"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-google"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#inst-icon"></use></svg>
                        </a>
                    </div>
                </div>

                <div class="blog-detail__post">
                    <div class="blog-detail__title">
                        <h2>MBocharova на fashion-показе “Мо/Дні”</h2>
                    </div>
                    <div class="blog-detail__photo">
                        <img src="/local/templates/main/images/blog/detail-17/blog-detail_1.jpg" alt="">
                    </div>
                    <p>MBocharova никогда не стоит в стороне от самых модных событий. Так случилось и на этот раз. 17 августа в городе Хмельницкий проходил fashion-показ “Мо/дні”, где мы и ещё 15 молодых дизайнеров приняли участие и представили свои новые коллекции.</p>
                    <p>Хотим поблагодарить за реализацию Хмельницкую мэрию, и проект “Гражданская инициатива”. Отдельное спасибо всем организаторам, а также партнерам которые помогли в создании красоты: стилиста по прическам Яну Матвиюк, визажиста Викторию Лукьянец, и бренд аксессуаров Famo.</p>
                    <p>Готовиться к показу мы начали еще за несколько часов. Стилисты уже работали над моделями, делали изумительные макияжи и прически, в общем “наводили красоту”. Позже, в шоуруме модели примеряли свои образы и провели финальную репетицию.</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-17/blog-detail_2.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-17/blog-detail_3.jpg" alt="">
                        </div>
                    </div>
                    <p>И вот, 17.00, крыша ТЦ”Квартал” и всё готово к старту. Все приводят последние приготовления: гости уже собраны, фуршет накрыт, и вино разлито по бокалам.
                        <br>
                        Ведущий оглашает первых участников, и мы с нетерпением ждём своей очереди. <br>
                        Показ оказался очень интересным и захватывающим. Каждый молодой бренд был особенным, у каждого дизайнера свое видение, своя концепция.</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-17/blog-detail_4.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-17/blog-detail_5.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-17/blog-detail_6.jpg" alt="">
                        </div>
                    </div>
                    <p>И наконец, ведущий объявляет выход MBocharova, и модели начинают показ.</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-17/blog-detail_7.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-17/blog-detail_8.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-17/blog-detail_9.jpg" alt="">
                        </div>
                    </div>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-17/blog-detail_10.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-17/blog-detail_11.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-17/blog-detail_12.jpg" alt="">
                        </div>
                    </div>
                    <p>Для показа мы представили новую коллекцию и самые актуальные новинки, которые уже доступны к заказу на сайте и инстаграм: брючные костюмы, сарафаны, платья и джинсовки.</p>
                    <p>Выход был действительно фееричным: конфетти, огненные фонтаны, громкие аплодисменты и яркие модели, и всё это в лучах заката.</p>
                    <div class="blog-detail__photo">
                        <img src="/local/templates/main/images/blog/detail-17/blog-detail_13.jpg" alt="">
                    </div>
                    <p>За каждой победой бренда стоит сильная команда и мудрое руководство, для которых каждый клиент - самый ценный. Команда MBocharova - это профессионалы своего дела, которые стараются для того, чтобы все девушки получали только самое лучшее и красивое!</p>
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>
</html>