//= partials/head.html
<div class="global-wrapper">
    //= partials/menus.html
    //= partials/header.html
    <div class="main">
        <div class="mbox">
            //= partials/breadcrumbs.html
            <div class="blog-detail">
                <div class="blog-detail__header">
                    <div class="blog-detail__date">
                        <span>23 апреля 2019г.</span>
                    </div>
                    <div class="blog-detail__social-wrap">
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-facebook"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-vk"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-google"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#inst-icon"></use></svg>
                        </a>
                    </div>
                </div>

                <div class="blog-detail__post">
                    <div class="blog-detail__title">
                        <h2></h2>
                    </div>
                    <p>1 августа 2018 года состоялось открытие нашего шоурума в городе Тернополь. Теперь, Вы можете всегда найти нас в ТЦ «Подоляны».</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-8/blog-detail_3.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-8/blog-detail_4.jpg" alt="">
                        </div>
                    </div>
                    <p>Шоурум был наполнен праздничной атмосферой, с просторным стильным интерьером, конечно, нашими новым ассортиментом.</p>
                    <p>Наших гостей ждал фуршет и праздничная атмосфера, а консультанты  не только дарили улыбки, но ещё помогали собрать идеальный образ.</p>
                    <p>Спасибо, что мотивируете нас на новые достижения, и за то, что сделали это открытие незабываемым! </p>
                    <p>Ждём Вас в гости по адресу : ул. Текстильная, 28, ТЦ «Подоляны» на втором этаже с 9 до 21!</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-8/blog-detail_1.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-8/blog-detail_2.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>
</html>