//= partials/head.html
<div class="global-wrapper">
    //= partials/menus.html
    //= partials/header.html
    <div class="main">
        <div class="mbox">
            //= partials/breadcrumbs.html
            <div class="blog-detail">
                <div class="blog-detail__header">
                    <div class="blog-detail__date">
                        <span>23 апреля 2019г.</span>
                    </div>
                    <div class="blog-detail__social-wrap">
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-facebook"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-vk"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-google"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#inst-icon"></use></svg>
                        </a>
                    </div>
                </div>

                <div class="blog-detail__post">
                    <div class="blog-detail__title">
                        <h2>Шубы из эко-меха: MBocharova за поддерожку защиты животных</h2>
                    </div>
                    <p>В последние время шубы из эко-меха стали очень популярными. Их можно встретить не только на рынке масс-маркетах, но и на подиумах, у дорогих брендов. Образ с такой шубой можно создать практически любой, а то, настолько она комфортная говорят миллионы. Так что же такое эко-шуба, и в чём её особенность?
                    </p>
                    <div class="blog-detail__photo">
                        <img src="/local/templates/main/images/blog/detail-18/blog-detail_1.jpg" alt="">
                    </div>
                    <p>Давайте поговорим о преимуществах. Во-первых, шуба из эко меха бюджетная, по сравнению с натуральной. Ценовой сегмент таких шуб достаточно разнообразен, и поэтому они по карману  абсолютно каждой девушке. Во-вторых, практичность. Согласитесь, проще ухаживать за эко-шубой, чем за натуральным мехом, плюс она более носибельная. В-третьих, это разнообразие фасонов и цветов: любая длинна, воротник, цвет.</p>
                    <p>Ну, и конечно, самое главное — что для создания эко-шуб не используют животных, а это очень важно. И поэтому уже не первый сезон мы производим шубы именно из эко меха. И хотелось бы, чтоб наши клиенты тоже поддерживали защиту животных.</p>
                    <div class="blog-detail__photo">
                        <img src="/local/templates/main/images/blog/detail-18/blog-detail_2.jpg" alt="">
                    </div>
                    <p>Обычно, некоторые девушки боятся носить такие шубы, потому, что думают, что эко-мех дешевит. Но это совершенно не так, главное — подобрать нужные оттенки и правильный фасон.
                        <br>
                        Итак, вот несколько советов от нас, которые помогут вам выглядеть на все сто в шубах из эко-меха.
                    </p>
                    <p class="blog-detail__center">Какие оттенки подобрать?</p>
                    <p>Карамельно-шоколадные оттенки создаст самый элегантный образ, он универсальный, поэтому подойдёт абсолютно всем и под любую одежду. Можно надеть джинсы и кроссовки и отправиться на прогулку, или сапоги на каблуке, женственный костюм - и пойти на работу или свидание.</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-18/blog-detail_3.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-18/blog-detail_4.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-18/blog-detail_5.jpg" alt="">
                        </div>
                    </div>
                    <p>Молочный — освежит любую девушку, согласитесь. Важно, чтоб он не был слишком белым. К такому цвету тоже подходит абсолютно всё, белый  — классика!</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-18/blog-detail_6.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-18/blog-detail_7.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-18/blog-detail_8.jpg" alt="">
                        </div>
                    </div>
                    <p>Все оттенки розового и  нежно-голубой — самые популярные цвета, которые пользуются спросом не один сезон. Только посмотрите какие милые шубы!</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-18/blog-detail_9.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-18/blog-detail_10.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-18/blog-detail_11.jpg" alt="">
                        </div>
                    </div>
                    <p>Благородные тёмные цвета: бордовый, тёмно-изумрудный, и глубокий синий — всегда отлично смотрятся в городской атмосфере в холодное время года, выгодно выделяя вас на всеобщем фоне. Кстати, с эко-шубой такого цвета можно смело пойти на бизнес-встречу.</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-18/blog-detail_12.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-18/blog-detail_13.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-18/blog-detail_14.jpg" alt="">
                        </div>
                    </div>
                    <p>И, конечно, стоит поговорить о фасонах. Актуальными будут шубы оверсайз, шубы-халаты и укороченные варианты.</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-18/blog-detail_15.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-18/blog-detail_16.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-18/blog-detail_17.jpg" alt="">
                        </div>
                    </div>
                    <p>Надеемся, мы убедили Вас, что эко-шуба — это не только шаг в поддержку животных, но и выгодное вложение в свой гардероб. Она прослужит вам не один сезон, и мы уверены, что это самая красивая защита от  холода.</p>
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>
</html>