//= partials/head.html
<div class="global-wrapper">
    //= partials/menus.html
    //= partials/header.html
    <div class="main">
        <div class="mbox">
            //= partials/breadcrumbs.html
            <div class="blog-detail">
                <div class="blog-detail__header">
                    <div class="blog-detail__date">
                        <span>23 апреля 2019г.</span>
                    </div>
                    <div class="blog-detail__social-wrap">
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-facebook"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-vk"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-google"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#inst-icon"></use></svg>
                        </a>
                    </div>
                </div>

                <div class="blog-detail__post">
                    <div class="blog-detail__title">
                        <h2></h2>
                    </div>
                    <p>Наша «семья» шоурумов стала ещё больше! Ваш любимый бренд теперь в Черновцах! 22 июня 2019 года состоялось торжественное открытие нашего шоурума в ТЦ «DEPOT».</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-10/blog-detail_3.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-10/blog-detail_4.jpg" alt="">
                        </div>
                    </div>
                    <p>Этот праздник прошёл на должном уровне, ведь нам очень дороги наши клиенты. Яркие шарики украшали весь зал шоурума и дарили радостное настроение каждому гостю. А фуршет был приятным дополнением к всеобщей праздничной атмосфере. Особенным сюрпризом стала встреча с популярными блогерами! Счастливые девушки выходили не только с покупками, но и с хорошим настроением.</p>
                    <p>Спасибо всем, кто был с нами в этот особенный день. А тех, кто ещё не был у нас гостях ждём Вас каждый день с 10 до 21 в ТЦ «DEPOT» по ул. Главной 265А.</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-10/blog-detail_1.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-10/blog-detail_2.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>
</html>