//= partials/head.html
<div class="global-wrapper">
    //= partials/menus.html
    //= partials/header.html
    <div class="main">
        <div class="mbox">
            //= partials/breadcrumbs.html
            <div class="blog-detail">
                <div class="blog-detail__header">
                    <div class="blog-detail__date">
                        <span>23 апреля 2019г.</span>
                    </div>
                    <div class="blog-detail__social-wrap">
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-facebook"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-vk"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-google"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#inst-icon"></use></svg>
                        </a>
                    </div>
                </div>

                <div class="blog-detail__post">
                    <div class="blog-detail__title">
                        <h2>Первое знакомство: Mbocharova на выставке "Kiev Fashion" 2018</h2>
                    </div>
                    <div class="blog-detail__photo">
                        <img src="./images/blog/detail-1/blog-detail_1.jpg" alt="">
                    </div>
                    <p>На протяжении нескольких лет "Kiev Fashion" является крупнейшим фестивалем моды в Украине. В его участии принимает огромное количество брендов, байеров и обычных посетителей, которые хотят быть в курсе будущих трендов. В этом году нам посчастливилось стать участниками данной выставки и увидеть все своими глазами.</p>
                    <p>Размах мероприятия действительно поражает — огромная торговая площадь, большой выбор развлечений(мастер-классы, показы, различные шоу), продуманная до мелочей организация. Каждый бренд был представлен отдельным стендом. Наш выглядел вот так:)</p>
                    <div class="blog-detail__photo">
                        <img src="./images/blog/detail-1/blog-detail_2.jpg" alt="">
                    </div>
                    <p>В этот раз подготовка была особенно тщательной, поскольку мы презентовали сразу несколько новинок.
                        <br>
                        Ассортимент «MBocharova» пополнился утепленным вариантом уже полюбившихся вами джинсовок. Приятным бонусом у данной модели является возможность отстегнуть меховую подкладку по желанию. На фото вариант в белом цвете, однако, в наличии также были другие цвета и оттенки.
                        <br>
                        А для тех, кому ближе более классический вариант верхней одежды, мы создали базовое пальто свободного кроя.
                    </p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-1/blog-detail_3.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-1/blog-detail_4.jpg" alt="">
                        </div>
                    </div>
                    <p>Изначально мы планировали выпустить изделия в лимитированном количестве, но по вашим запросам поняли-и пальто, и куртки с меховой подкладкой теперь станут частью постоянного ассортимента!</p>
                    <p>Отдельно хотим выразить благодарность всем, кто пришел поддержать нас на этом мероприятии.Обещаем-это только начало!На лето мы запланировали кое-что масштабное и надеемся, следующее пополнение новинок тоже придется вам по душе.</p>
                    <p>Следите за обновлениями, дальше-больше!</p>
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>