//= partials/head.html
<div class="global-wrapper">
    //= partials/menus.html
    //= partials/header.html
    <div class="main">
        <div class="mbox">
            //= partials/breadcrumbs.html
            <div class="blog-detail">
                <div class="blog-detail__header">
                    <div class="blog-detail__date">
                        <span>23 апреля 2019г.</span>
                    </div>
                    <div class="blog-detail__social-wrap">
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-facebook"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-vk"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-google"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#inst-icon"></use></svg>
                        </a>
                    </div>
                </div>

                <div class="blog-detail__post">
                    <div class="blog-detail__title">
                        <h2>
                            Базовый  осенний гардероб							</h2>
                    </div>
                    <p>Осень — пора, когда хочется максимального комфорта и уюта: укутаться в тёплые и мягкие вещи, которые не сковывают движений, подобрать удобную обувь и при этом быть в тренде. В этом поможет создание базового гардероба на этот сезон. Конечно, прежде всего стоит учитывать свои личные предпочтения, но от стильных must-have ещё никто не отказывался.</p>
                    <p>Итак, базовый гардероб осени 2019 - актуальные базовые вещи, они и лаконичные и простые, легко сочетаемые между собой и с супермодными вещами, аксессуарами и обувью.</p>
                    <p>Давайте начнём с верхней одежды, ведь именно она — первое, что будет бросаться в глаза.</p>
                    <p>Тренчи этой осенью как никогда актуальны, впрочем, как и в прошлых сезонах. Стоит обратить внимание на длину, она не должны быть слишком короткой, и не макси. Оптимальная длинна — ниже колена, или миди, выбирайте то, что нравится именно вам.</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-23/blog-detail_1.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-23/blog-detail_2.jpg" alt="">
                        </div>
                    </div>
                    <p>Найти идеально пальто, которое хочется носить не снимая очень сложно, ведь сейчас выбор очень большой. О трендах пальто мы уже говорили в прошлой статье. Хочется отметить, что пальто должно сидеть очень хорошо, и у него должен быть хороший состав, чтобы оно не испортилось при повседневной носке и погодных условиях.</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-23/blog-detail_3.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-23/blog-detail_4.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-23/blog-detail_5.jpg" alt="">
                        </div>
                    </div>
                    <p>Короткий пуховик — вещь, которую недооценивают. Многие считают, что он смотрится слегка по-спортивному, но сегодня мода диктует свои комбинации, и сейчас можно довольно стильно вписать короткий пуховик в любые образы:повседневные или офисные.</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-23/blog-detail_6.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-23/blog-detail_7.jpg" alt="">
                        </div>
                    </div>
                    <p>Свитера, джемпера и худи</p>
                    <p>Без этого предмета гардероба осенью и зимой никуда. Их нужно выбирать с уклоном на состав и вязку, ведь именно эти два направления задают определённый шарм, и способствуют тому, насколько эта вещь будет универсальна. Советуем выбирать более свободные и универсальные варианты со средней вязкой (не очень мелкой, и не очень крупной), тогда эта вещь будет более универсальна. Кстати, худи ничем не уступает свитеру, поэтому, советуем так же его использовать при создании повседневных образов, поверьте, это очень удобно</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-23/blog-detail_8.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-23/blog-detail_9.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-23/blog-detail_10.jpg" alt="">
                        </div>
                    </div>
                    <p>Водолазки</p>
                    <p>Стоит купить одну, но хорошую водолазку, ведь они сейчас на самом пике. Эта вещь будет актуальна как в объёмном, так и в классическом виде. Из материалов можно выбрать кашемир, шерсть и другие, главное, чтоб было комфортно вам, и чтоб водолазка хорошо сочеталась с другими вещами. Цветовая гамма сейчас позволяет выбрать любой оттенок и цвет, и поэтому экспериментируйте!</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-23/blog-detail_11.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-23/blog-detail_12.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-23/blog-detail_13.jpg" alt="">
                        </div>
                    </div>
                    <p>Брюки и джинсы</p>
                    <p>Простые брюки в мужском стиле — одна из самых универсальных моделей, которая станет хорошей базой на длительную перспективу. Также, модными будут широкие брюки, но не стоит перегибать, оптимально — слегка широкие брюки, которые хорошо садятся на бёдра и на саму ногу.
                        <br>
                        Джинсы — вещь на все сезоны, которая осенью особо актуальна. Выбирайте джинсы из качественных и плотных материалов, желательно фасона moom с высокой талией — тогда идеальный низ обеспечен.
                    </p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-23/blog-detail_14.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-23/blog-detail_15.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-23/blog-detail_16.jpg" alt="">
                        </div>
                    </div>
                    <p>Осенние платья — та категория, которая позволяет разбавить наш гардероб.</p>
                    <p>Нет ничего более красивого, чем сочетание ботильон или сапог с платьем — это невероятно женственно и стильно. Советуем выбирать платья длинны миди или макси. В крайнем случае ниже колена в базовых цветах: чёрный, коричневый, нюдовый.</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-23/blog-detail_17.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-23/blog-detail_18.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-23/blog-detail_19.jpg" alt="">
                        </div>
                    </div>
                    <p>Если говорить об обуви, то можно сказать, что несколько сезонов подряд одна из самых базовых и универсальных моделей — лоферы. Хорошие и удобные лоферы будут служить вам долгое время. Их легко можно скомбинировать с разными вещами, главное, чтобы вы полагались на своё удобство.</p>
                    <p>Не стоит забывать о ботильонах. Для этой осени актуальные прорезиненные по типу “Челси”, возможно, с  использование каблука (на ваш вкус).</p>
                    <p>Грубые ботинки тоже не сдают позиции. Этот тренд закоренелый и его можно отнести к базе как к осенней, так и зимней. Стильными будут ботильоны со шнуровкой или квадратным носком.</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-23/blog-detail_20.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-23/blog-detail_21.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-23/blog-detail_22.jpg" alt="">
                        </div>
                    </div>
                    <p>Осень время новых начинаний и экспериментов, и самое время для того, чтоб обновить свой гардероб новыми и интересными вещами, которые прослужат не один сезон. Надеемся, что мы были полезны, и очень ждём ваши осенние #Mbocharovalook.</p>			</div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>
</html>