//= partials/head.html
<div class="global-wrapper">
    //= partials/menus.html
    //= partials/header.html
    <div class="main">
        <div class="mbox">
            //= partials/breadcrumbs.html
            <div class="blog-detail">
                <div class="blog-detail__header">
                    <div class="blog-detail__date">
                        <span>23 апреля 2019г.</span>
                    </div>
                    <div class="blog-detail__social-wrap">
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-facebook"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-vk"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-google"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#inst-icon"></use></svg>
                        </a>
                    </div>
                </div>

                <div class="blog-detail__post">
                    <div class="blog-detail__title">
                        <h2>Ave,Denim: джинсовая куртка как must-have на каждый день</h2>
                        <p>Уже несколько сезонов подряд данный вид верхней одежды остается на пике популярности. С каждым годом тренд на джинсовые куртки набирает обороты, что не удивительно-у этого изделия целый ряд преимуществ. И именно о них мы хотим рассказать Вам более подробно.</p>
                    </div>
                    <p><b>Универсальность</b><br>
                        Джинсовая куртка отлично дополнит любой образ. Количество комбинаций с этим изделием ограничивается только Вашей фантазией! Классический total look с джинсами, легким платьицем либо дерзкими кожаными штанами-это самый минимальный перечень возможных аутфитов.</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-2/blog-detail_1.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-2/blog-detail_2.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-2/blog-detail_3.jpg" alt="">
                        </div>
                    </div>
                    <p><b>Актуальность вне сезона</b><br>
                        Помимо того, что джинсовку можно сочетать с различными стилями в одежде, она так же замечательно впишется в любое время года. Весной и осенью спасет от ветра, прохладным летним вечером согреет, а зимой позволит собрать комфортный многослойный образ. Для дополнительного утепления в холодную пору рекомендуем выбирать джинсовые куртки на меху.</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-2/blog-detail_4.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-2/blog-detail_5.jpg" alt="">
                        </div>
                    </div>
                    <p><b>Практичность</b><br>
                        Джинс-один из самых износоустойчивых материалов. Именно поэтому на барахолках в любой точке мира идет борьба за винтажные Levi's.Такой материал переживет не одну стирку, и даже спустя десятки лет будет выглядеть отлично.Однако, это относится не ко всем видам джинсовой ткани.При выборе изделия обратите внимание на плотность материала и на то, как он тянется.Чем более грубая и менее эластичная ткань-тем дольше она Вам прослужит.В случае с джинсовой курткой Вы гарантировано получите вещь, износ которой не светит как минимум в ближайшие несколько лет.</p>
                    <p><b>Уникальность</b><br>
                        Это, пожалуй, наш самый любимый пункт :)За счет своего базового вида джинсовая куртка может послужить эдаким холстом для проявления Вашего творчества. Даже если рисование не Ваш конек, это не повод опускать руки! Мировым дизайнерам на пару с селебрити приглянулся вариант росписи ткани, сделанный нарочито небрежно. Проще говоря, украсить куртку можно словами из любимой песни, цитатами либо рандомными словами(как это сделал бренд Balenciaga). Для этого потребуется маркер для рисования на ткани либо акриловые краски.Как результат-смотрится стильно и требует минимальных затрат времени и денег.</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-2/blog-detail_6.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-2/blog-detail_7.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-2/blog-detail_8.jpg" alt="">
                        </div>
                    </div>
                    <p>Однако, если Вам хочется более масштабной и эксклюзивной росписи, можете обратиться к нам, в MBocharova, и получить джинсовку своей мечты в единственном экземпляре:)</p>
                    <div class="blog-detail__photo">
                        <img src="./images/blog/detail-2/blog-detail_9.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>