//= partials/head.html
<div class="global-wrapper">
    //= partials/menus.html
    //= partials/header.html
    <div class="main">
        <div class="mbox">
            //= partials/breadcrumbs.html
            <div class="blog-detail">
                <div class="blog-detail__header">
                    <div class="blog-detail__date">
                        <span>23 апреля 2019г.</span>
                    </div>
                    <div class="blog-detail__social-wrap">
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-facebook"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-vk"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-google"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#inst-icon"></use></svg>
                        </a>
                    </div>
                </div>

                <div class="blog-detail__post">
                    <div class="blog-detail__title">
                        <h2>Streetstyle look на неделе моды в Париже: ищем повседневные аналоги</h2>
                    </div>
                    <div class="blog-detail__photo">
                        <img src="/local/templates/main/images/blog/detail-25/blog-detail_1.jpg" alt="">
                    </div>
                    <p>В конце сентября в Париже проходила Неделя моды — главное событие осени в преддверии FW Fall 2020. Все модницы французской столицы и не только собрались, чтоб показать свои образы, попасть в прицелы фотокамер, и, возможно, оказаться на страницах глянца.</p>
                    <p>Даже некоторые украинские блогеры посетили это мероприятие, и показали свои необычные образы.</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-25/blog-detail_2.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-25/blog-detail_3.jpg" alt="">
                        </div>
                    </div>
                    <p>В этом году модницы появлялись в самых разных амплуа: total кожа, классические сочетание, буйство красок, и совсем смелые образы.</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-25/blog-detail_4.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-25/blog-detail_5.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-25/blog-detail_6.jpg" alt="">
                        </div>
                    </div>
                    <p>Конечно, образов было очень много, на разный “вкус и цвет”. Нашлись как и нюдовые сочетания, классические принты, так и яркие образы с явными акцентами: необычный фасон, цвет, крой. Мы подобрали несколько собранных луков, которые можно внедрить в повседневную жизнь, и разбавить свои аутфиты.</p>
                    <p><b>1. Куртка из эко-меха + платье</b></p>
                    <div class="blog-detail__photo">
                        <img src="/local/templates/main/images/blog/detail-25/blog-detail_7.jpg" alt="">
                    </div>
                    <p>Куртка и платье уже стало привычным сочетанием, но если присмотреться к фото можно увидеть, что на девушке не совсем курка, а укороченная шубка из эко-меха, который в народе называется “чебурашка”. Конечно, эко-мех сейчас занимает лидирующие, а его разновидностей больше чем можно представить. Так что, если хочется чего-то необычного — сочетание эко-меха и платья самое то. Соединение разных текстур создаёт многослойный и сложный образ, а единство белого цвета — подчёркивает его элегантность и сдержанность.</p>
                    <p>Для повседневной носки можно подобрать цвет куртки/шубы из эко-меха под себя. Также, интересным будет сочетание эко-меха и джинса в одной куртке — практично и красиво. Необязательно обувать туфли, подойдут кроссовки, лоферы, ботинки. Здесь поле для экспериментов велико. По поводу фасона и цвета платья стоит ориентироваться на свой вкус и сочетание цветов в общем.</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-25/blog-detail_8.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-25/blog-detail_9.jpg" alt="">
                        </div>
                    </div>
                    <p><b>2. Кожа + классика</b></p>
                    <div class="blog-detail__photo">
                        <img src="/local/templates/main/images/blog/detail-25/blog-detail_10.jpg" alt="">
                    </div>
                    <p>Кожа — новый тренд, классика никогда не выйдет из моды. Ещё один пример как удачно соединить тренды. Трансформировать этот образ к повседневному не нужно, потому, что он сам по себе не сложный. Давайте рассмотрим более детально. Белая рубашка с v-образным воротником заправлена в штаны из кожи. Кстати тёмно-красная, бордовая, марсаловая кожа очень популярна в этом сезоне! Тёмно-серый, ближе к чёрному жакет свободного кроя, и сумка в цвет к брюкам — интересное решение. Обувь достаточно лаконичная, но с интересным акцентом, который делает образ не скучным.</p>
                    <p>Шикарные цвета, соединение текстур и мелочей. Хоть бери и надевай в офис или на свидание. Если хочется чего-то построже — кожаные чёрные брюки или кюлоты к твоим услугам! Сочетай с белой рубашкой, водолазками, топами, джемперами. Дополняй образ минималистическими аксессуарами и удобной обувью: лодочки, кроссовки, и особенно массивными ботинками.</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-25/blog-detail_11.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-25/blog-detail_12.jpg" alt="">
                        </div>
                    </div>
                    <p><b>3. Простое чёрное платье + акцент на аксессуарах </b></p>
                    <div class="blog-detail__photo">
                        <img src="/local/templates/main/images/blog/detail-25/blog-detail_13.jpg" alt="">
                    </div>
                    <p>На первый взгляд это односложное платье сложно обыграть, но девушке на фото это отлично удалось. Структура платья достаточно простая: прямой крой, длинные рукава, длина ниже колена, круглый вырез. “Фишка” - своеобразный чокер на шее. Из аксессуаров и акцентов: волосы собраны, серьги, сумка и обувь в одном цветовом сегменте.</p>
                    <p>Для ежедневных аутфитов крой платья можно выбрать на собственное усмотрение, в зависимости от типа фигуры и предпочтений. но, чтоб сделать образ максимально похожим выбирайте простое чёрное платье без лишних отделок, желательно, чтоб оно не сидело “ в обтяжку”. Дополните образ крупными серьгами и сдержанной причёской, либо простой укладкой, массивными ботинками или кроссовками.</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-25/blog-detail_14.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-25/blog-detail_15.jpg" alt="">
                        </div>
                    </div>
                    <p>Чтоб быть стильной не нужно прилагать много усилий — девушки участвующие на Неделе моды покажут как нужно делать! Поэтому, стоит присмотреться к их образам, ведь можно найти для себя тот самый любимый аутфит, и ещё миллион идей!</p>
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>
</html>