//= partials/head.html
<div class="global-wrapper">
    //= partials/menus.html
    //= partials/header.html
    <div class="main">
        <div class="mbox">
            //= partials/breadcrumbs.html
            <div class="blog-detail">
                <div class="blog-detail__header">
                    <div class="blog-detail__date">
                        <span>23 апреля 2019г.</span>
                    </div>
                    <div class="blog-detail__social-wrap">
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-facebook"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-vk"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-google"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#inst-icon"></use></svg>
                        </a>
                    </div>
                </div>

                <div class="blog-detail__post">
                    <div class="blog-detail__title">
                        <h2>Тренд на минимализм: топ-3 лука для жаркой поры</h2>
                    </div>
                    <p>
                        Каждая девушка хоть раз сталкивалась с проблемой, когда вещей вроде бы достаточно, но надеть совершенно нечего: это уже не актуально, это просто разонравилось, это ни к чему не подходит. А летом такое случается довольно часто. В эту пору особенно хочется лёгкости, простоты, но при этом быть модной и чувствовать себя комфортно. Именно поэтому достаточно собрать «капсульный» гардероб, который будет очень компактный и при этом стильный! Но как?
                    </p>
                    <p>
                        <b>Основные принципы летнего «капсульного гардероба»:</b><br>
                        — «спокойные» цвета, либо классика: чёрный, белый, красный <br>
                        — функциональность <br>
                        — простота кроя и удобство <br>
                        — натуральные материалы <br>
                        Такой гардероб обычно состоит из 10 – 20 вещей, не включая в себя обувь и аксессуары.
                    </p>
                    <p>
                        <b>Must-have летнего «капсульного гардероба»:</b> <br>
                        1. Хорошая однотонная футболка. В этом случае лучше всего подойдёт белый цвет, но можно использовать чёрный или серый. Футболку можно идеально сочетать как с простыми вещами (обычные джинсы, юбки, шорты), так и со сложными дизайнерскими конструкциями.
                    </p>
                    <p>
                        2. Шёлковое платье-рубашка. Вы удивитесь настолько эта вещь многофункциональна.
                    </p>
                    <p>
                        3. Рубашка свободного кроя. Универсальная вещь не только летом, а в любой сезон. С фасоном можно экспериментировать: обычная белая или другого цвета, в полоску – главное, не перегружать рубашку лишними элементами.
                    </p>
                    <p>
                        4. Чёрный пиджак oversize. Можно носить в прохладную погоду, или как самостоятельный элемент верхней одежды, например на «голое тело», или под красивое бра.
                    </p>
                    <p>
                        5. Брюки-чинос из натурального льна отлично будут носиться в жаркую погоду, и стильно дополнят вечерний образ.
                    </p>
                    <p>
                        6. Шёлковый тот, который из дневного образа с джинсами можно легко трансформировать в вечерний, с помощью аксессуаров и макияжа.
                    </p>
                    <p>
                        7. Повседневные платья. Актуальными будут платья-туники, сарафаны «миди», и никто не отменял «little black dress».
                    </p>
                    <p>
                        Теперь, когда есть необходимая база, легко можно собрать любой многофункциональный образ. На основе этого «капсульного» гардероба, мы подготовили для Вас топ-3 лука для жаркой поры.
                    </p>
                    <p>
                        • Белая рубашка <br>
                        Какая же она универсальная. Главное, чтоб рубашка была лёгкой из натуральной ткан и не сильно прилегала к телу.
                        <br>
                        С чем носить: - простые джинсы, брюки-чинос, велосипедки.
                    </p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-6/blog-detail_1.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-6/blog-detail_2.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-6/blog-detail_3.jpg" alt="">
                        </div>
                    </div>
                    <p>
                        • Шёлковое платье и кроссовки<br>
                        На первый взгляд несочетаемые вещи, но если посмотреть на эти фото все сомнения отпадут сами собой.
                        <br>
                        С чем носить: кроме кроссовок можно примерять лодочки на небольшом каблуке, идеально дополнят образ очки и небольшой клатч.
                    </p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-6/blog-detail_4.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-6/blog-detail_5.jpg" alt="">
                        </div>
                    </div>
                    <p>
                        • Джинсовка  oversize.<br>
                        Джинсовая куртка ещё долго будет оставаться в трендах поэтому если Вы ещё не приобрели такую вещь, то сей час самое время.
                        <br>
                        С чем носить: брюки и шорты, практически любе платья (в том числе и шёлковые), юбки.
                    </p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-6/blog-detail_6.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-6/blog-detail_7.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-6/blog-detail_8.jpg" alt="">
                        </div>
                    </div>
                    <p>
                    <p>
                    Лето – самое удачное время, что попробовать приблизить свой гардероб к минимализму. Хоть это и жаркая пора, мы всё равно работаем в душных офисах, и нам хочется, чтоб вещи, которые мы покупаем были более универсальны в применении. Надеемся, что наши советы помогли разнообразить и усовершенствовать Ваш летний гардероб.
                    </p>
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>
</html>