//= partials/head.html
<div class="global-wrapper">
    //= partials/menus.html
    //= partials/header.html
    <div class="main">
        <div class="mbox">
            //= partials/breadcrumbs.html
            <div class="blog-detail">
                <div class="blog-detail__header">
                    <div class="blog-detail__date">
                        <span>23 апреля 2019г.</span>
                    </div>
                    <div class="blog-detail__social-wrap">
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-facebook"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-vk"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-google"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#inst-icon"></use></svg>
                        </a>
                    </div>
                </div>

                <div class="blog-detail__post">
                    <div class="blog-detail__title">
                        <h2>MBocharova Summer Sale!</h2>
                    </div>
                    <p>В преддверии осень мы решили сделать <a href="/catalog/?section=sale">большую распродажу </a> летней коллекции!</p>
                    <p>Скидки до 60% на самые трендовые летние модели.</p>
                    <p>Условия акции:</p>
                    <p>- Акция действует до 15 сентября 2019 года</p>
                    <p>- Скидка предоставляется на определенный товар</p>
                    <p>- Бонусная система на акционный товар не распространяется</p>
                    <p>- Скидка действует при покупке товара в шоруме, на сайте и в инстаграмме.</p>
                    <a href="/catalog/?section=sale" class="blog-detail__photo">
                        <img src="/local/templates/main/images/blog/detail-19/blog-detail_1.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>
</html>