//= partials/head.html
<div class="global-wrapper">
    //= partials/menus.html
    //= partials/header.html
    <div class="main">
        <div class="mbox">
            //= partials/breadcrumbs.html
            <div class="blog-detail">
                <div class="blog-detail__header">
                    <div class="blog-detail__date">
                        <span>23 апреля 2019г.</span>
                    </div>
                    <div class="blog-detail__social-wrap">
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-facebook"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-vk"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-google"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#inst-icon"></use></svg>
                        </a>
                    </div>
                </div>

                <div class="blog-detail__post">
                    <div class="blog-detail__title">
                        <h2>Цветной однотонный костюм — главный тренд cезона</h2>
                    </div>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <div class="blog-detail__photo--double">
                                <img src="./images/blog/detail-12/blog-detail_1.jpg" alt="">
                            </div>
                            <div class="blog-detail__photo--double">
                                <img src="./images/blog/detail-12/blog-detail_2.jpg" alt="">
                            </div>
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-12/blog-detail_3.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <div class="blog-detail__photo--double">
                                <img src="./images/blog/detail-12/blog-detail_4.jpg" alt="">
                            </div>
                            <div class="blog-detail__photo--double">
                                <img src="./images/blog/detail-12/blog-detail_5.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <p>Какими только не были тренды предыдущих сезонов: оригинальные, странные, носибельные, “из прошлого”. Разнообразие тенденций всегда поражает, ведь можно найти вещь на любой вкус. Сегодня, брючный костюм занимает лидирующую позицию среди всех аутфитов Pre-Fall 2020.</p>
                    <p>И это вполне очевидно, ведь костюм - неизменная классика, а в течении моды меняются только фасоны и актуальные цвета. Наверное, почти у каждой девушки имеется хоть один элемент брючного костюма: жакет или брюки.</p>
                    <p>Этот элемент гардероба появился в 20-х годах прошлого века и сразу стал фаворитом, ведь создала привычный для нас фасон сама Коко Шанель. Позднее, уже в 60-х годах известный модельер Андре Курреж выпустил первую коллекцию повседневных костюмов, которая тут же стала культовой, и увенчалась успехом.</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-12/blog-detail_6.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-12/blog-detail_7.jpg" alt="">
                        </div>
                    </div>
                    <p>Сегодня дизайнеры предлагают нам множество вариаций и фасонов, цветов и тканей, но в этом сезоне, безусловно, самым трендовым будет цветной однотонный костюм. Итак, давайте посмотрим что нам предложили дизайнеры, и как мы можем носить это в повседневной жизни.</p>
                    <p class="blog-detail__center">Основные цвета сезона Осень-Зима 2019/2020:</p>
                    <p><b>Chili Pepper. Перец чили-жгучий красный цвет.</b><br>
                        Отлично подойдёт для самых смелых девушек. Костюм в таком цвете создаст сексуальный и женственный образ. Если вы любите быть яркой, то можно носить этот цвет даже в повседневной жизни. Или же разбавить его другими вещами. Например, красный жакет и чёрные или белые брюки. Или брюки в этом оттенке и нюдовый топ.</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-12/blog-detail_8.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-12/blog-detail_9.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-12/blog-detail_10.jpg" alt="">
                        </div>
                    </div>
                    <p><b>Biking Red. Красный велосипед-более сдержанный красный оттенок.</b><br>
                        Цветовая гамма позволяет носить костюм на деловые встречи, в офис, Biking Red позволяет сделать самым благородным даже ежедневный look.</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-12/blog-detail_11.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-12/blog-detail_12.jpg" alt="">
                        </div>
                    </div>
                    <p><b>Fruit Dove. Фруктовая голубка-пурпурно-розовый, почти неоновый оттенок.</b><br>
                        Отличный оттенок, чтоб освежиться и выделятся из толпы. В самом названии кроется посыл-быть как голубка, милая и нежная птичка. Костюм в таком цвете отлично подойдёт на праздники, корпоративы. Можно носить разные элементы отдельно. Удачный образ-пиджак в данном оттенке и белая юбка или брюки-очень романтично.</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-12/blog-detail_13.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-12/blog-detail_14.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-12/blog-detail_15.jpg" alt="">
                        </div>
                    </div>
                    <p><b>Dark Cheddar. Тёмный Чеддер-благородный жёлтый оттенок сыра Чеддер, с приглушённым светом.</b><br>
                        Идеальный вариант для офисных будней. Сам цвет не пестрит яркостью, но чертовски элегантный. Для настоящих леди!</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-12/blog-detail_16.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-12/blog-detail_17.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-12/blog-detail_18.jpg" alt="">
                        </div>
                    </div>
                    <p><b>Bluestone. Голубой камень-изысканый серо-голубой цвет</b><br>
                        Вы когда-нибудь видели древние камни с прекрасным голубым отблеском? Если нет, то сложно будет описать словами всю красоту и возвышенность этого цвета. Можно долго всматриваться в благородные переливы, но лучше один раз примерить. Поверьте, универсальность вас поразит.</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-12/blog-detail_19.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-12/blog-detail_20.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-12/blog-detail_21.jpg" alt="">
                        </div>
                    </div>
                    <p><b>Eden. Эдем-тёмно зелёный, почти изумрудный магический цвет.</b><br>
                        Нет ничего более поразительного, чем этот оттенок. С ним, Ты королева всегда и везде. Он выгодно подчеркнёт карие глаза, и добавит глубину зелёны. Кстати, очень подходит блондинкам и рыжеволосым. Лучше один раз попробовать, чем сто раз сомневаться!</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-12/blog-detail_22.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-12/blog-detail_23.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-12/blog-detail_24.jpg" alt="">
                        </div>
                    </div>
                    <p>Это далеко не все актуальные цвета, но мы подобрали для вас самые яркие и неординарные. Наш бренд всегда идёт в одну ногу с трендами, поэтому выбор костюма можно доверить нам, а вам... А Вам просто наслаждаться!</p>
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>
</html>