//= partials/head.html
<div class="global-wrapper">
    //= partials/menus.html
    //= partials/header.html
    <div class="main">
        <div class="mbox">
            //= partials/breadcrumbs.html
            <div class="blog-detail">
                <div class="blog-detail__header">
                    <div class="blog-detail__date">
                        <span>23 апреля 2019г.</span>
                    </div>
                    <div class="blog-detail__social-wrap">
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-facebook"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-vk"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-google"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#inst-icon"></use></svg>
                        </a>
                    </div>
                </div>

                <div class="blog-detail__post">
                    <div class="blog-detail__title">
                        <h2></h2>
                    </div>
                    <p>В преддверии Нового Года мы решили сделать для винницких девушек подарок. Именно поэтому, 19 декабря 2018 года состоялось открытие нашего шоурума в ТЦ «Мегамолл».</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-9/blog-detail_3.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-9/blog-detail_4.jpg" alt="">
                        </div>
                    </div>
                    <p>Кроме праздничной обстановки наших гостей ждали приятные сюрпризы. Специально для наших клиентов мы разыгрывали сертификаты на продукцию нашего бренда, а ведущие из команды КВН «Винницкие перцы» создали неповторимую атмосферу на этом празднике. Невозможно было пройти мимо, и не заглянуть в наш шоурум.</p>
                    <p>Мы всегда будем рады видеть Вас в шоуруме, а наши стилисты всегда качественно проконсультируют.</p>
                    <p>Ждём Вас с 10 до 21 на первом этаже ТЦ «Мегаммол» по улице 600-летия, 17.</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-9/blog-detail_1.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-9/blog-detail_2.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>
</html>