//= partials/head.html
<div class="global-wrapper">
    //= partials/menus.html
    //= partials/header.html
    <div class="main">
        <div class="mbox">
            //= partials/breadcrumbs.html
            <div class="blog-detail">
                <div class="blog-detail__header">
                    <div class="blog-detail__date">
                        <span>23 апреля 2019г.</span>
                    </div>
                    <div class="blog-detail__social-wrap">
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-facebook"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-vk"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-google"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#inst-icon"></use></svg>
                        </a>
                    </div>
                </div>

                <div class="blog-detail__post">
                    <div class="blog-detail__title">
                        <h2>"Как у блогера": украинские блогеры выбирают MBocharova</h2>
                    </div>
                    <p>Наш бренд всегда рад сотрудничать с интересными блогерами. Мы активно развиваемся, и поэтому хотим, чтоб наши клиенты получали всё самое лучшее и проверенное. Мы хотим познакомить Вас с теми, кто доверил свой выбор нам, и не пожалел об этом.</p>
                    <p>1. sofia_stuzhuk <br>
                        Это очень красивая девушка из Киева. София ведёт свой блог очень давно, в нём она рассказывает о материнстве, семье, личном росте. Несмотря на то, что у неё 2 детей, девушка выглядит прекрасно, а её фигуре могут позавидовать многие. А совсем скоро у Софии будет прибавление, и она станет многодетной мамой, с чем мы её и поздравляем!</p>
                    <p>Для своего образа София выбрала нашу утеплённую джинсовую куртку с зелёной подкладкой из меха, а дополнила её базовой белой футболкой, джинсами и белыми кроссовками. Наряд получился удобным и повседневным. Такую джинсовку можно носить практически под любой низ и обувь, главное – Ваше настроение.</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-11/blog-detail_1.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-11/blog-detail_2.jpg" alt="">
                        </div>
                    </div>
                    <p>2. @anna_alkhim <br>
                        Нетипичная девушка с нетипичным блогом из города Днепр. У Ани нет понятия о «правильном» блоге. Девушка показывает себя и свою настоящую жизнь без прикрас. И это не помешало стать одной из лучших блогеров в Украине. Сейчас у Анны прекрасная семья и свой салон красоты, и это делает её блог ещё более интересным.  Девушка с яркой внешностью, и таким же ярким блогом.</p>
                    <p>На Анне джинсовая куртка чёрного цвета, выполнена на заказ.  Наши художники вручную создавали этот уникальный принт, которому позавидует любая, ведь там изображена сама Мерлин Монро. Эта джинсовка отлично подойдёт к любой обуви и станет ярким акцентом в любом образе.</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-11/blog-detail_3.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-11/blog-detail_4.jpg" alt="">
                        </div>
                    </div>
                    <p>3. @alina_frendiy <br>
                        Её блог легко можно спутать с fashion-страницей зарубежного гуру. Эта девушка из Тернополя уже стала дизайнером одного из известных брендов, и создала свою собственную студию одежды. Молодая и успешная Алина сейчас живёт и работает в Киеве. Её страница – чистое эстетическое удовольствие для тех, кто интересуется модной индустрией, но при этом она необычайно открытая и живая личность.</p>
                    <p>На Алине наше уникально пальто в клетку. Только, посмотрите, как девушка его обыграла: джинсы светлого оттенка, белая блуза и красный пояс, который добавил акцента в образ. А белые кроссовки сделали look универсальным и повседневным.</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-11/blog-detail_5.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-11/blog-detail_6.jpg" alt="">
                        </div>
                    </div>
                    <p>4. @lia_obri <br>
                        Юлия – девушка из Хмельницкого, которая поразила инста-мир своими изменениями. Девушка-мотиватор, которая смогла сбросить лишний вес, и приобрести идеальную фигуру. Теперь Юлия пропагандирует здоровый образ жизни: делится ПП-рецептами, показывает свои тренировки. А совсем недавно она презентовала проект «Fat killers», который уже помог и помогает, сотням девушек сбросить лишний вес. Юлия – настоящий пример того, как можно изменить свою жизнь на 360 градусов, и помочь изменить её другим.</p>
                    <p>Эта девушка имеет весьма необычный вкус, и каждый раз производит фурор своими аутфитами. На этот раз Юля выбрала тёплое платье-тунику, и зафиксировала его с помощью чёрного пояса. Дополнила образ девушка массивными кроссовками, колготками в горошек и сумкой. А ярким акцентом стало наше оливковое пальто, которое подчеркнуло необычность этого лука.</p>
                    <div class="blog-detail__photo">
                        <img src="./images/blog/detail-11/blog-detail_7.jpg" alt="">
                    </div>
                    <p>5. @mila_baraeva <br>
                        Мила – не только блогер, а ещё и основатель бренда @eighteenplus_decor и шоу-рума во Львове – One: one showroom and coffee. Эта удивительная девушка успевает совмещает материнство и карьеру, и ей это отлично удаётся. Ни на кого не похожа, Мила ведёт блог о том, как быть мамой, делиться личными откровениями и советами, вдохновляет соблюдать гармонию в этой жизни. Её блог – отличная мотивация для всех девушек, которые хотят быть успешными в любой сфере.</p>
                    <p>На Миле наше тёплое платье в лаконичном сером цвете. Хоть платье и свободного кроя, оно подойдёт не только как ежедневный наряд, стоит добавить каблуки и образ преобразится в вечерний. А вырез на спине добавляет загадочности и кокетливости. А главное, такое платье подойдёт на любую фигуру.</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-11/blog-detail_8.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-11/blog-detail_9.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>
</html>