//= partials/head.html
<div class="global-wrapper">
    //= partials/menus.html
    //= partials/header.html
    <div class="main">
        <div class="mbox">
            //= partials/breadcrumbs.html
            <div class="blog-detail">
                <div class="blog-detail__header">
                    <div class="blog-detail__date">
                        <span>23 апреля 2019г.</span>
                    </div>
                    <div class="blog-detail__social-wrap">
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-facebook"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-vk"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-google"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#inst-icon"></use></svg>
                        </a>
                    </div>
                </div>

                <div class="blog-detail__post">
                    <div class="blog-detail__title">
                        <h2>Базовый  осенний гардероб</h2>
                    </div>
                    <p>Осень — пора, когда хочется максимального комфорта и уюта: укутаться в тёплые и мягкие вещи, которые не сковывают движений, подобрать удобную обувь и при этом быть в тренде. В этом поможет создание базового гардероба на этот сезон. Конечно, прежде всего стоит учитывать свои личные предпочтения, но от стильных must-have ещё никто не отказывался.
                    </p>
                    <p>z</p>
                    <div class="blog-detail__photo">
                        <img src="/local/templates/main/images/blog/detail-22/blog-detail_2.jpg" alt="">
                    </div>
                    <p>В холодную пору джинсовая куртка как никогда актуальна, хотя сущёствует стереотип, что более комфортная верхняя одежда — это пуховики или шубы, но если выбрать джинсовую куртку с меховой подкладкой, то можно убедиться в обратном.</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-22/blog-detail_3.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-22/blog-detail_4.jpg" alt="">
                        </div>
                    </div>
                    <p>Эко-мех всё чаще используют модные бренды, поскольку это не просто очередной тренд, а шаг модной индустрии в поддержку защиты животных. Всё чаще встречаются модели и знаменитости, которые предпочитают не натуральный мех в силу своих убеждений. MBocharova так же выступает в поддержку защиты животных, поэтому мы не используем натуральный мех для наших джинсовок и курток.</p>
                    <p>Итак, в чём преимущества джинсовых курточек с мехом зимой?</p>
                    <p>Это тоже тепло <br> Да, да, эко-мех не уступает натуральному в свойствах, и иногда он даже намного теплее, мягче и комфортней.
                    </p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-22/blog-detail_5.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-22/blog-detail_6.jpg" alt="">
                        </div>
                    </div>
                    <p>Любой цвет и дизайн <br>
                        Зачем носить обычную куртку, если можно носить джинсовую куртку с тёплым розовым мехом и необычным рисунком, на спине? Такая яркая вещь украсит любой серый день, а на фоне белого снега будет выделять вас от других.
                    </p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-22/blog-detail_7.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-22/blog-detail_8.jpg" alt="">
                        </div>
                    </div>
                    <p>1001 фасон <br>
                        Съёмный эко-мех совмещать с любой джинсовкой. С длинной — получится целая парка, с оверсайз-комфорт и лёгкость в создании многослойности в образе, с классическим фасоном можно совмещать любые вещи. А по настроению можно носить куртку с капюшоном или воротником: в любом случае будет тепло и комфортно.
                    </p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-22/blog-detail_9.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-22/blog-detail_10.jpg" alt="">
                        </div>
                    </div>
                    <p>Надеемся, что эта статья стала для вас поводом попробовать все преимущества утеплённой джинсовки зимой. Необязательно кутать себя в тусклые пуховики и курточки только потому, что так привычнее. Куда лучше надеть яркую джинсовку, поднять себя настроение, и сделать свой день лучше.</p>
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>
</html>