//= partials/head.html
<div class="global-wrapper">
    //= partials/menus.html
    //= partials/header.html
    <div class="main">
        <div class="mbox">
            //= partials/breadcrumbs.html
            <div class="blog-detail">
                <div class="blog-detail__header">
                    <div class="blog-detail__date">
                        <span>23 апреля 2019г.</span>
                    </div>
                    <div class="blog-detail__social-wrap">
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-facebook"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-vk"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-google"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#inst-icon"></use></svg>
                        </a>
                    </div>
                </div>

                <div class="blog-detail__post">
                    <div class="blog-detail__title">
                        <h2>Брючные костюмы: тренды сезона осень-зима 2019-2020</h2>
                    </div>
                    <p>Весна и лето уже давно прошли, и вместе с ними лёгкая одежда, невесомые ткани, и яркие принты. Настала пора , когда как никогда хочется укутаться в тёплые и уютные вещи, которые не будут сковывать движений и прочее.</p>
                    <p>Брючные костюмы остаются актуальными в любой сезон. Порой их роль осенью и зимой часто недооценивают, хотя это достойная альтернатива привычным джинсам и водолазке.</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-27/blog-detail_1.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-27/blog-detail_2.jpg" alt="">
                        </div>
                    </div>
                    <p>Во-первых, зимний брючный костюм многофункционален, его элементы можно носить по отдельности. Брюки прекрасно будут гармонировать с любым верхом: джемпер, футболка, свитер, худи, водолазка. А пиджак станет удачным дополнением многослойных образов, и контрастом с любым верхом.</p>
                    <p>Летом намного проще выбрать костюм чем осенью, но если знать основные тренды сезона, то можно удачно пополнить гардероб всего одним комплектом.</p>
                    <p><b>Яркие цвета</b><br>
                        Не смотря на сезон яркие цвета не сдают позиции. Наоборот, хочется выделиться из серой массы, и яркий брючный костюм отличное решение. Красный — самый популярный оттенок, он для уверенных, смелых. Его не стоит бояться, ведь на контрасте красного цвета можно выделить любую базовую вещь. Он близок  к классическому, поэтому подойдёт как в офис, так и на свидание или вечеринку.
                    </p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-27/blog-detail_3.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-27/blog-detail_4.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-27/blog-detail_5.jpg" alt="">
                        </div>
                    </div>

                    <p><b>Трендовый фасон</b><br>
                        В показах Pre-Fall осень-зима были показаны актуальные фасоны. Зимний брючный костюм не должен мешать движениям, при этом быть свободным и удобным. Ведь главное - тепло, и брючный костюм поможет его сохранить. Сейчас популярно носить костюм с водолазками и джемперами, надевая пальто поверх, создавая многослойные тандемы. Такой приём не только полезный, но ещё и стильный. Удачный выбор — брючный костюм с пиджаком простого кроя и брюками палаццо.
                    </p>
                    <p>Такой пиджак можно сочетать с любым низом, платьями и юбками. А брюки палаццо подчеркнут талию и уравновесят фигуру.</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-27/blog-detail_6.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-27/blog-detail_7.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-27/blog-detail_8.jpg" alt="">
                        </div>
                    </div>
                    <p><b>Особенный состав -</b><br>
                        “половина успеха” зимнего костюма. Желательно, чтоб в составе была шерсть, или хотя бы акрил или другие утеплённые материалы.Это важно, ведь теплота и комфорт зимой как никогда нужны. Плотная ткань добавляет текстуры, благодаря чему сам костюм становится более интересным и многогранным.
                    </p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-27/blog-detail_9.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-27/blog-detail_10.jpg" alt="">
                        </div>
                    </div>
                    <p><b>Монохромные образы</b><br>
                        Просто маст-хев зимы. В последнее время они стали очень популярными, так как не отвлекают, но удивительным образом манят взгляд своей простой и лаконичность. Для того, чтоб создать такой образ понадобится однотонный брючный костюм нейтрального оттенка, это могут быть: нюдовый, беж, кофейный, молочный, нежно или пыльно-розовый,  чёрный и белый. Все другие вещи, присутствующие в образе должны быть в цветовом тандеме. Тотал блек — для стильных и сдержанных. Бежевый — для деловых и спокойных.Красный — для любящих внимание, и белый — для тех, кто знает чего хочет. Здесь главное фантазия и настроение, тогда образ получится целостным.
                    </p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-27/blog-detail_11.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-27/blog-detail_12.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-27/blog-detail_13.jpg" alt="">
                        </div>
                    </div>
                    <p>Тёплый брючный костюм удачная инвестиция в свой гардероб. Зимой и осень он будет греть под пуховиком, весной — будет в пору как полноценный образ, а летом его отдельные элементы украсят прохладные вечера. Поэтому именно сейчас самое время выбрать свой идеальный костюм!</p>
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>
</html>