//= partials/head.html
<div class="global-wrapper">
    //= partials/menus.html
    //= partials/header.html
    <div class="main">
        <div class="mbox">
            //= partials/breadcrumbs.html
            <div class="blog-detail">
                <div class="blog-detail__header">
                    <div class="blog-detail__date">
                        <span>23 апреля 2019г.</span>
                    </div>
                    <div class="blog-detail__social-wrap">
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-facebook"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-vk"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-google"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#inst-icon"></use></svg>
                        </a>
                    </div>
                </div>

                <div class="blog-detail__post">
                    <div class="blog-detail__title">
                        <h2>"Можно влюбиться": идеальный образ на первое свидание</h2>
                    </div>
                    <p>
                        Первое свидание-это всегда очень волнительно и трогательно. Каждая девушка мечтает покорить Его своей красотой и чарующей женственностью. И очень часто возникает вопрос: А что надеть, чтоб точно «сразить на повал»?
                    </p>
                    <p>
                        1.	Спущенные плечи<br>
                        Не секрет, что слегка оголённые плечи это совсем не перебор, а наоборот, очень даже мило. Особенно красиво со спущенными плечами смотрится платье длинны «миди». Такое сочетание придаст образу лёгкости и нежности. Так же уместно будет надеть юбку – карандаш и совместить её с топом, у которого спущены плечи, но этот образ будет более вызывающим. Решать Вам!
                    </p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-5/blog-detail_1.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-5/blog-detail_2.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-5/blog-detail_3.jpg" alt="">
                        </div>
                    </div>
                    <p>
                        2.  Платье свободного кроя<br>
                        Это не только очень удобно, а ещё и женственно. Такой фасон платья можно сочетать с любой обувью: с кедами — лук будет практичный и непринуждённый, а с лодочками на каблуке – более вечерний и таинственный.
                    </p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-5/blog-detail_4.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-5/blog-detail_5.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-5/blog-detail_6.jpg" alt="">
                        </div>
                    </div>
                    <p>
                        3. Акцент на цвет<br>
                        Чтоб Он точно тебя запомнил можно сделать акцент на ярком цвете. Например, красный, малиновый, или глубокий синий – эти цвета всегда ассоциируются с женской красотой. Только не стоит переусердствовать: одного главного цвета будет достаточно. Красное платье ниже колен и нюдовые лодочки или балетки – это то, что нужно.
                    </p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-5/blog-detail_7.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-5/blog-detail_8.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-5/blog-detail_9.jpg" alt="">
                        </div>
                    </div>
                    <p>
                        4. Платье «на запах» <br>
                        Ничего более изящного ещё не придумали. Этот вырез точно может свети с ума любого, а если добавить рюши – получится очень кокетливый образ. А главное, такой наряд подойдёт как в ресторан, кино, так и к простой прогулки в парке. Стоить только добавить обувь и аксессуары на свой вкус.
                    </p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-5/blog-detail_10.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-5/blog-detail_11.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="./images/blog/detail-5/blog-detail_12.jpg" alt="">
                        </div>
                    </div>
                    <p>
                        Надеемся, что Вы нашли для себя «тот самый» образ. И всё же, главный наряд для свидания это твоя счастливая улыбка и искрящиеся глаза, поверь, он точно не забудет этот вечер!
                    </p>
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>
</html>