//= partials/head.html
<div class="global-wrapper">
    //= partials/menus.html
    //= partials/header.html
    <div class="main">
        <div class="mbox">
            //= partials/breadcrumbs.html
            <div class="blog-detail">
                <div class="blog-detail__header">
                    <div class="blog-detail__date">
                        <span>23 апреля 2019г.</span>
                    </div>
                    <div class="blog-detail__social-wrap">
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-facebook"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-vk"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-google"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#inst-icon"></use></svg>
                        </a>
                    </div>
                </div>

                <div class="blog-detail__post">
                    <div class="blog-detail__title">
                        <h2>Правила офисного костюма: что будет уместно в рабочей атмосфере</h2>
                    </div>
                    <div class="blog-detail__photo">
                        <img src="/local/templates/main/images/blog/detail-14/blog-detail_1.jpg" alt="">
                    </div>
                    <p>Офисный костюм – это классика рабочих будней. Почему? Во-первых, фасон: строгий и лаконичный. Во-вторых, цветовая гамма: спокойные тона, однотонный материал. И, наконец, то, за что его обожают миллионы девушек – функциональность, ведь жакет можно носить с любым низом, как и брюки с верхом.</p>
                    <p>Сейчас, разнообразие офисных костюмов ставит нас в тупик. Ведь, каждая девушка индивидуальность, личность. Кому-то – спокойные тона и простой крой, а кто-то в ярко-красном ассиметричном пиджаке. И тут же возникает вопрос: а что будет уместно? Сразу вас обрадуем: будет всё – от нюда до неона.
                    </p>
                    <p>• Начнём с классики? <br>
                        Кто сказал, что это старомодно, что устарело? Поверьте, классика – всегда в моде, и никогда не будет моветоном.  А вот с фасоном всё не так просто. Советуем вам выбрать простой крой, чтоб костюм не сковывал движений (в бизнес-поездках это незаменимо). Такой фасон подчеркнёт твою хрупкость и женственность. Ну а цвет на ваше усмотрение, актуальные цвета – белый, чёрный, молочный, серый.</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-14/blog-detail_2.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-14/blog-detail_3.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-14/blog-detail_4.jpg" alt="">
                        </div>
                    </div>
                    <p>• Романтичный шик <br>
                        Если Ты любишь помечтать за чашечкой латте, а все эти отчёты не для тебя, то тебе точно подойдёт костюм в пастельном оттенке: нежно-розовый, кремовый, персиковый, бледно-голубой, и.т.д. Важно подобрать правильный крой, который придаст романтичного акцента: удлинённый жакет с поясом, приталенные брюки.
                    </p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-14/blog-detail_5.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-14/blog-detail_6.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-14/blog-detail_7.jpg" alt="">
                        </div>
                    </div>
                    <p>• В центре внимания <br>
                        Кто сказал, что на работе нельзя быть яркой? Блистать можно всегда, особенно в брючном костюме. Только представь, обычный серый день, идёт дождь, воет прохладный ветер, и идешь Ты, в «сочном» лимонном костюме. Круто, правда? Любой понедельник можно разбавить цветным костюмом, и поднять настроение не только себе, но и всему офису! Фасон – на твой вкус, а вот цвета стоит подбирать аккуратно, ведь почти в каждом офисе есть дресс-код. Если у тебя всё строго, тогда можешь подобрать более приглушённые оттенки. А если ограничений нет, дай волю фантазии и пробуй новый цвета и фасоны.
                    </p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-14/blog-detail_8.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-14/blog-detail_9.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-14/blog-detail_10.jpg" alt="">
                        </div>
                    </div>
                    <p>• Спортивный шик <br>
                        Если твоя любимая обувь – кеды, то тебе тоже можно смело носить костюмы. Любой костюм простого кроя отлично разбавят кроссовки или кеды. Это не только удобно, но и стильно. Согласись, приятнее работать в комфорте, тогда и настроение будет лучше. Поэтому, можно поозорничать и скомбинировать брюки, пиджак и кроссовки</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-14/blog-detail_11.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-14/blog-detail_12.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-14/blog-detail_13.jpg" alt="">
                        </div>
                    </div>
                    <p>Брючный костюм – вовсе не скучный элемент гардероба, это самый лучший must-have, который придумало человечество. В нём вмещается и простота, и комфорт, универсальность</p>
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>
</html>