//= partials/head.html
<div class="global-wrapper">
    //= partials/menus.html
    //= partials/header.html
    <div class="main">
        <div class="mbox">
            //= partials/breadcrumbs.html
            <div class="blog-detail">
                <div class="blog-detail__header">
                    <div class="blog-detail__date">
                        <span>23 апреля 2019г.</span>
                    </div>
                    <div class="blog-detail__social-wrap">
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-facebook"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-vk"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-google"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#inst-icon"></use></svg>
                        </a>
                    </div>
                </div>

                <div class="blog-detail__post">
                    <div class="blog-detail__title">
                        <h2>MBocharova на Kiev Fashion 2019</h2>
                    </div>
                    <p>Kyiv Fashion главное b2b событие модной индустрии Украины. На протяжении 20 лет выставка является местом встречи профессионалов мира моды, очень точно отражает актуальные тенденции, а также направления развития отрасли.
                    </p>
                    <p>На выставке будут представлены более 600 брендов, в том числе и MBocharova. Мероприятие будет проходить с 10 по 12 сентября в Международном Выставочном Центре (г. Киев).</p>
                    <p>Для нас большая честь представлять свой бренд в модной индустрии уже не один год подряд. В этом году мы хотим удивить Вас новым ассортиментом, нашими бестселлерами, и необычным декором.
                        <br>
                        Ждём всех по адресу:  Броварский проспект 15, Международный Выставочный Центр, г. Киев, на Общем стенде дизайнеров.</p>
                    <div class="blog-detail__photo">
                        <img src="/local/templates/main/images/blog/detail-20/blog-detail_1.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>
</html>