//= partials/head.html
<div class="global-wrapper">
    //= partials/menus.html
    //= partials/header.html
    <div class="main">
        <div class="mbox">
            //= partials/breadcrumbs.html
            <div class="blog-detail">
                <div class="blog-detail__header">
                    <div class="blog-detail__date">
                        <span>23 апреля 2019г.</span>
                    </div>
                    <div class="blog-detail__social-wrap">
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-facebook"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-vk"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-google"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#inst-icon"></use></svg>
                        </a>
                    </div>
                </div>

                <div class="blog-detail__post">
                    <div class="blog-detail__title">
                        <h2>Пальто: тренды и антитренды грядущего сезона</h2>
                    </div>
                    <div class="blog-detail__photo">
                        <img src="/local/templates/main/images/blog/detail-21/blog-detail_1.jpg" alt="">
                    </div>
                    <p>Что-то модно, что-то вышло из моды, а что-то — вечно. Если бы можно было назвать самый стойкий элемент гардероба, то пальто было бы на первом месте.</p>
                    <p>Ещё бы, сплошные плюсы: тепло, разнообразие фасонов, цветов и материалов. Ну и универсальность: пальто можно носить с любой обувью, с любыми брюками, свитшотами, блузами и прочее. В последнее время многие девушки стали создавать стильные многослойные образы.</p>
                    <p>Но, тренды не дремлют, а значит что-то будет актуально, а что-то нет. Давайте вместе разберёмся в этом важном вопросе.</p>
                    <p>Цветовая гамма в этом сезоне самая разнообразная. Для любителей классики: чёрный и бежевый. Для романтичных натур все оттенки нюдового, пыльно-розовый, пудровый. Для самых модных: бордо, глубокий синий, серый, изумрудный. А для ярких личностей малиновый и зелёный.</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-21/blog-detail_3.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-21/blog-detail_4.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-21/blog-detail_5.jpg" alt="">
                        </div>
                    </div>
                    <p><b>Антитренд: </b> супер узкие и строгие фасоны, которые облегают фигуру.</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-21/blog-detail_6.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-21/blog-detail_7.jpg" alt="">
                        </div>
                    </div>
                    <p>Конечно, пальто должно хорошо сидеть в плечах, но во всей остальной фигуре должно быть свободно, главное-комфорт.
                        <br>
                        <b>Замена:</b> пальто классического кроя <br>
                        У модели нового сезона обязательно должна быть широкая пройма или даже опущенный рукав — это относиться к фасону оверсайз.
                        Пальто-оверсайз — не покидает лидирующие позиции среди верхней одежды. Это комфортно, удобно, модно! Если хочется сделать акцент на талии рекомендуем выбирать модели с поясом.
                    </p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-21/blog-detail_8.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-21/blog-detail_9.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-21/blog-detail_10.jpg" alt="">
                        </div>
                    </div>
                    <p><b>Антитренд:</b> полупальто, длина выше колена</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-21/blog-detail_11.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-21/blog-detail_12.jpg" alt="">
                        </div>
                    </div>
                    <p><b>Замена:</b> модели ниже колена, особенно макси длина. <br>
                        Если рост небольшой, то необязательно выбирать сильно длинные варианты, главное, что пальто заканчивалось под коленом. Это также будет стильно, и не будет уменьшать рост. Ну а если ты обладательница высокого роста, советуем длину макси, во-первых, актуально, во-вторых, трендово.
                    </p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-21/blog-detail_13.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-21/blog-detail_14.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-21/blog-detail_15.jpg" alt="">
                        </div>
                    </div>
                    <p><b>Антитренд:</b> огромное количество пуговиц, сложные застёжки.</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-21/blog-detail_16.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-21/blog-detail_17.jpg" alt="">
                        </div>
                    </div>
                    <p><b>Замена:</b> минимальный дизайн, несколько пуговиц, или вообще без. <br>w Пальто должно расслаблено струиться, создавать женственный силуэт. Пуговицы можно заменить поясом или носить пальто открытым, чтоб был виден ваш look, но это уже вопрос спорный, не каждая девушка будет мерзнуть ради стиля . Так что оптимальный вариант пояс, или несколько пуговиц.
                    </p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-21/blog-detail_18.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-21/blog-detail_19.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-21/blog-detail_20.jpg" alt="">
                        </div>
                    </div>
                    <p>Антитренд: пальто-платье, которое сидит как приталенный жакет сверху и расширяется юбкой снизу. Такие модели были актуальны, но несколько лет назад.
                    </p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-21/blog-detail_21.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-21/blog-detail_22.jpg" alt="">
                        </div>
                    </div>
                    <p><b>Замена:</b> если хочется уравновесить фигуру можно носить пальто с регланом и поясом.Реглан добавляет объёма на плечи, пояс уменьшает талию, делая низ объёмным, и фигура смотрится очень красиво, почти как песочные часы.
                    </p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-21/blog-detail_23.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-21/blog-detail_24.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-21/blog-detail_25.jpg" alt="">
                        </div>
                    </div>
                    <p><b>Антитренд:</b> пальто с меховым воротником. Будь-то шикарный натуральный мех или куцый воротничок. Это смотрится устарело и даже добавляет возраста.
                    </p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-21/blog-detail_26.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-21/blog-detail_27.jpg" alt="">
                        </div>
                    </div>
                    <p><b>Замена:</b> если ты поклонница меха, и не можешь без него — советуем тебе приобрести куртку с подкладкой из эко-меха, шубку или пальто из него. Уверены, что это тоже очень тепло и стильно.</p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-21/blog-detail_28.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-21/blog-detail_29.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-21/blog-detail_30.jpg" alt="">
                        </div>
                    </div>
                    <p>Но главное твои внутренние ощущения и комфорт, а тренды совсем не первостепенное! Теперь, ты вооружена, и знаешь, как выбрать именно то самое пальто, которое сделает тебя самой стильной этой осенью и зимой!</p>
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>
</html>