//= partials/head.html
<div class="global-wrapper">
    //= partials/menus.html
    //= partials/header.html
    <div class="main">
        <div class="mbox">
            //= partials/breadcrumbs.html
            <div class="blog-detail">
                <div class="blog-detail__header">
                    <div class="blog-detail__date">
                        <span>23 апреля 2019г.</span>
                    </div>
                    <div class="blog-detail__social-wrap">
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-facebook"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-vk"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#socials-google"></use></svg>
                        </a>
                        <a href="" class="blog-detail__social">
                            <svg><use xlink:href="#inst-icon"></use></svg>
                        </a>
                    </div>
                </div>

                <div class="blog-detail__post">
                    <div class="blog-detail__title">
                        <h2>"MBocharova look" - лучшие образы наших покупательниц</h2>
                    </div>
                    <p>MBocharova - это бренд, который создан, для каждой девушки, для её комфорта, удобства, для того, чтоб подчеркнуть красоту и уникальность. и наши клиенты - прямое тому доказательство. В этой статье мы собрали для вас лучшие образы наших покупателей, которые не оставят Вас равнодушными!
                    </p>
                    <p>1. Городской шик <br>
                        Этот образ создала замечательная девушка @nastasiushka. Она взяла за основу наше яркое леопардовое платье и добавила белый цвет, который очень удачно сочетаеся с жёлтым леопардом. Сумка, курточка и туфли -  стали оттеняющими акцентами, превратив этот образ в настоящий  шедевр. </p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-13/blog-detail_1.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-13/blog-detail_2.jpg" alt="">
                        </div>
                    </div>
                    <p>2. Ciao Milano <br>
                        Лёгкий дневной образ, который создала @topolnytska_t сразу погружает в атмосферу солнечного дня в Милане. Хочется отдаться лёгкости и просто гулять по красивым улицам. Образ получился очень нежным. Наше белое платье в горох с романтичными рюшами сразу вписалось в эту прекрасную городскую атмосферу.
                    </p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-13/blog-detail_3.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-13/blog-detail_4.jpg" alt="">
                        </div>
                    </div>
                    <p>3. Игривое настроение <br>
                        @tr_amina выбрала для прогулки наше платье-бант свободного кроя, добавила ободок на голову - и получился  повседневный, но в то же время очень нарядный образ. Стоит отметить, что девушке очень подходит это платье. И с таким принтом образ выглядит очень мило, а девушка похожа на куколку.
                    </p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-13/blog-detail_5.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-13/blog-detail_6.jpg" alt="">
                        </div>
                    </div>
                    <p>4. Прогулка на закате <br>
                        Иногда хочется бросит все дела и просто пойти гулять по городу, пить ароматный кофе на терасе кафе, и наслаждаться закатом, как сделала  @verazeldi. Наше платье небесного голубого оттенка удачно вписалось в эту атмосферу, а горошек добавил игривости и лёгкости.
                    </p>
                    <div class="blog-detail__photo">
                        <img src="/local/templates/main/images/blog/detail-13/blog-detail_7.jpg" alt="">
                    </div>
                    <p>5. Первое свидание <br>
                        Наверное нет лучшего образа на свидание, чем придумала @miloslava_che. Нежный цвет платья и  фасон миди сделали образ очень романтичным и очаровательным. В таком платье можно ходит не только на свидание, но и на работу или прогулку по набережной.
                    </p>
                    <div class="blog-detail__photo-wrap">
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-13/blog-detail_8.jpg" alt="">
                        </div>
                        <div class="blog-detail__photo">
                            <img src="/local/templates/main/images/blog/detail-13/blog-detail_9.jpg" alt="">
                        </div>
                    </div>
                    <p>Это ещё не все образы, которые можно создать, с помощью нашей одежды. Мы заботимся о каждой, и уверены, что любая девушка найдёт для себя тот самый идеальный лук. Вы ещё не сфотографировались в нашем платье или костюме? Сейчас самое время, ведь эта рубрика будет постоянной! Не забывайте отмечать нас в социальных сетях, и вы сможете попасть в нашу следующую подборку. Спасибо, что выбираете MBocharova и делитесь этой красотой с окружающими!</p>
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>
</html>