//= partials/head.html
<div class="global-wrapper">
    //= partials/menus.html
    //= partials/header.html
    <div class="guide-size">
        <div class="guide-size__title">Измерения изделия</div>
        <div class="guide-size__desc">в таблице ниже представлена сетка размеров, чтобы узнать обмеры изделия кликните на ваш размер</div>
        <div class="guide-size__table">
            <div class="guide-size__table-row">
                <div class="guide-size__table-col">Размер</div>
                <div class="guide-size__table-col">RUS</div>
                <div class="guide-size__table-col">рост</div>
                <div class="guide-size__table-col">грудь</div>
                <div class="guide-size__table-col">талия</div>
                <div class="guide-size__table-col">бедра</div>
            </div>
            <div class="guide-size__table-row active" data-dropdown-btn="size-xs">
                <div class="guide-size__table-col">XS</div>
                <div class="guide-size__table-col">40</div>
                <div class="guide-size__table-col">160-164</div>
                <div class="guide-size__table-col">82</div>
                <div class="guide-size__table-col">62</div>
                <div class="guide-size__table-col">90</div>
            </div>
            <div class="guide-size__table-row" data-dropdown-btn="size-s">
                <div class="guide-size__table-col">S</div>
                <div class="guide-size__table-col">42</div>
                <div class="guide-size__table-col">164-168</div>
                <div class="guide-size__table-col">86</div>
                <div class="guide-size__table-col">66</div>
                <div class="guide-size__table-col">94</div>
            </div>
            <div class="guide-size__table-row" data-dropdown-btn="size-m">
                <div class="guide-size__table-col">M</div>
                <div class="guide-size__table-col">44</div>
                <div class="guide-size__table-col">168-172</div>
                <div class="guide-size__table-col">90</div>
                <div class="guide-size__table-col">70</div>
                <div class="guide-size__table-col">98</div>
            </div>
            <div class="guide-size__table-row" data-dropdown-btn="size-l">
                <div class="guide-size__table-col">L</div>
                <div class="guide-size__table-col">46</div>
                <div class="guide-size__table-col">168-172</div>
                <div class="guide-size__table-col">94</div>
                <div class="guide-size__table-col">74</div>
                <div class="guide-size__table-col">102</div>
            </div>
        </div>
        <div class="guide-size__size-content active" data-dropdown-box="size-xs">
            <div class="guide-size__size">размер “XS”</div>
            <div class="guide-size__box">
                <div class="guide-size__item">
                    <div class="guide-size__length">Длина рукава</div>
                    <div class="guide-size__measure">см</div>
                    <div class="guide-size__number">54,5</div>
                </div>
                <div class="guide-size__item">
                    <div class="guide-size__length">Длина изделия</div>
                    <div class="guide-size__measure">см</div>
                    <div class="guide-size__number">83</div>
                </div>
            </div>
        </div>
        <div class="guide-size__size-content" data-dropdown-box="size-s">
            <div class="guide-size__size">размер “S”</div>
            <div class="guide-size__box">
                <div class="guide-size__item">
                    <div class="guide-size__length">Длина рукава</div>
                    <div class="guide-size__measure">см</div>
                    <div class="guide-size__number">54,5</div>
                </div>
                <div class="guide-size__item">
                    <div class="guide-size__length">Длина изделия</div>
                    <div class="guide-size__measure">см</div>
                    <div class="guide-size__number">83</div>
                </div>
            </div>
        </div>
        <div class="guide-size__size-content" data-dropdown-box="size-m">
            <div class="guide-size__size">размер “M”</div>
            <div class="guide-size__box">
                <div class="guide-size__item">
                    <div class="guide-size__length">Длина рукава</div>
                    <div class="guide-size__measure">см</div>
                    <div class="guide-size__number">54,5</div>
                </div>
                <div class="guide-size__item">
                    <div class="guide-size__length">Длина изделия</div>
                    <div class="guide-size__measure">см</div>
                    <div class="guide-size__number">83</div>
                </div>
            </div>
        </div>
        <div class="guide-size__size-content" data-dropdown-box="size-l">
            <div class="guide-size__size">размер “L”</div>
            <div class="guide-size__box">
                <div class="guide-size__item">
                    <div class="guide-size__length">Длина рукава</div>
                    <div class="guide-size__measure">см</div>
                    <div class="guide-size__number">54,5</div>
                </div>
                <div class="guide-size__item">
                    <div class="guide-size__length">Длина изделия</div>
                    <div class="guide-size__measure">см</div>
                    <div class="guide-size__number">83</div>
                </div>
            </div>
        </div>
        <button class="menus__close"></button>
    </div>
    <div class="main">
        <div class="mbox">
            <div class="card__wrap">
                <div class="card">
                    <div class="card__sliders">
                        <div class="navigator__slider js-nav-slider">
                            <div class="navigator__slide">
                                <img src="images/card_nav.png" alt="" data-object-fit="cover">
                            </div>
                            <div class="navigator__slide">
                                <img src="images/card_nav.png" alt="" data-object-fit="cover">
                            </div>
                            <div class="navigator__slide">
                                <img src="images/card_nav.png" alt="" data-object-fit="cover">
                            </div>
                            <div class="navigator__slide">
                                <img src="images/card_nav.png" alt="" data-object-fit="cover">
                            </div>
                            <div class="navigator__slide">
                                <img src="images/card_nav.png" alt="" data-object-fit="cover">
                            </div>
                            <div class="navigator__slide">
                                <img src="images/card_nav.png" alt="" data-object-fit="cover">
                            </div>
                            <div class="navigator__slide">
                                <img src="images/card_nav.png" alt="" data-object-fit="cover">
                            </div>
                        </div>
                        <div class="card__mainslider">
                            <div class="card__shower js-show-slider">
                                <div class="card__slide">
                                    <div class="card__content">
                                        <a href="images/card_big.png" data-fancybox="gal_main">
                                            <img src="images/card_big.png" alt="" data-object-fit="cover">
                                        </a>
                                    </div>
                                </div>
                                <div class="card__slide">
                                    <div class="card__content">
                                        <a href="images/card_big.png" data-fancybox="gal_main">
                                            <img src="images/card_big.png" alt="" data-object-fit="cover">
                                        </a>
                                    </div>
                                </div>
                                <div class="card__slide">
                                    <div class="card__content">
                                        <a href="images/card_big.png" data-fancybox="gal_main">
                                            <img src="images/card_big.png" alt="" data-object-fit="cover">
                                        </a>
                                    </div>
                                </div>
                                <div class="card__slide">
                                    <div class="card__content">
                                        <a href="images/card_big.png" data-fancybox="gal_main">
                                            <img src="images/card_big.png" alt="" data-object-fit="cover">
                                        </a>
                                    </div>
                                </div>
                                <div class="card__slide">
                                    <div class="card__content">
                                        <a href="images/card_big.png" data-fancybox="gal_main">
                                            <img src="images/card_big.png" alt="" data-object-fit="cover">
                                        </a>
                                    </div>
                                </div>
                                <div class="card__slide">
                                    <div class="card__content">
                                        <a href="images/card_big.png" data-fancybox="gal_main">
                                            <img src="images/card_big.png" alt="" data-object-fit="cover">
                                        </a>
                                    </div>
                                </div>
                                <div class="card__slide">
                                    <div class="card__content">
                                        <a href="https://liroom.com.ua/wp-content/uploads/2017/11/Banner_FrontPictures-Max-Barskih-Skull-3D-Mapping-Show-001.jpg" data-fancybox="gal_main">
                                        <img src="https://liroom.com.ua/wp-content/uploads/2017/11/Banner_FrontPictures-Max-Barskih-Skull-3D-Mapping-Show-001.jpg"
                                             alt="" data-object-fit="cover">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card__info">
                        //= partials/breadcrumbs.html
                        <div class="card__box">
                            <h1 class="card__header">ПЛАТЬЕ МИДИ НА ЗАПАХ</h1>
                            <div class="card__price">
                                <span>20 100 грн.</span>
                            </div>
                            <div class="card__article">
                                Арт: <span>11111</span>
                            </div>
                            <div class="card__by">
                                <div class="card__checker">
                                    <div class="card__boxes">
                                        <label>
                                            <input type="radio" name="size" checked>
                                            <i>XS</i>
                                        </label>
                                        <label>
                                            <input type="radio" name="size">
                                            <i>S</i>
                                        </label>
                                        <label>
                                            <input type="radio" name="size">
                                            <i>M</i>
                                        </label>
                                        <label>
                                            <input type="radio" name="size">
                                            <i>L</i>
                                        </label>
                                    </div>
                                    <div class="card__guide">
                                        <a href="#">Гид по размерам</a>
                                    </div>
                                </div>
                                <a href="#" class="btn">Купить</a>
                            </div>

                            <div class="basket__dropdowns">

                                <div class="tabb">
                                    <div class="tabb__head js-tab-closer">
                                        <span>Характеристики</span>
                                        <div class="tabb__closer"></div>
                                    </div>
                                    <div class="tabb__box js-tab-inputs">
                                        <p><b>Цвет:</b> Фиолетовый</p>
                                        <p><b>Материал:</b> <b>50%</b> вискоза <b>50%</b> шелк</p>
                                        <p><b>Модель на фото:</b> <b>170 см</b>, параметры <b>78-60-93 см</b> , на ней
                                            размер <b>S</b></p>
                                    </div>
                                </div>
                                <div class="tabb">
                                    <div class="tabb__head js-tab-closer active">
                                        <span>Описание</span>
                                        <div class="tabb__closer active"></div>
                                    </div>
                                    <div class="tabb__box js-tab-inputs active">
                                        Описание
                                    </div>
                                </div>

                                <div class="tabb">
                                    <div class="tabb__head js-tab-closer">
                                        <span>Доставка и оплата</span>
                                        <div class="tabb__closer"></div>
                                    </div>
                                    <div class="tabb__box js-tab-inputs">
                                        Инфо по доставке и оплате
                                    </div>
                                </div>

                                <div class="tabb">
                                    <div class="tabb__head js-tab-closer">
                                        <span>Другие цвета</span>
                                        <div class="tabb__closer"></div>
                                    </div>
                                    <div class="tabb__box js-tab-inputs">
                                        <div class="card__colors">
                                            <a href="images/card_big.png" class="card__option" data-fancybox="gal_1">
                                                <img src="images/color.png" alt="" data-object-fit="cover">
                                            </a>
                                            <a href="images/card_big.png" class="card__option" data-fancybox="gal_1">
                                                <img src="images/color.png" alt="" data-object-fit="cover">
                                            </a>
                                            <a href="images/card_big.png" class="card__option" data-fancybox="gal_1">
                                                <img src="images/color.png" alt="" data-object-fit="cover">
                                            </a>
                                            <a href="images/card_big.png" class="card__option" data-fancybox="gal_1">
                                                <img src="images/color.png" alt="" data-object-fit="cover">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card__get">
                    <a href="#" class="btn btn--white">подробнее</a>
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>