//= partials/head.html
<div class="global-wrapper">
    //= partials/menus.html
    //= partials/header.html
    <div class="main">
        <div class="mbox catalog__mbox">
            <div class="catalog">
                <div class="catalog__nav">
                    <div class="catalog__search">
                        <div class="catalog__search-svg">
                            <svg><use xlink:href="#search-icon"></use></svg>
                        </div>
                        <input type="text" placeholder="Поиск">
                        <button class="catalog__search-close"></button>
                    </div>
                    <button class="btn btn--small catalog__mob" data-dropdown-btn="catalog">Каталог</button>
                    <ul class="catalog__links">
                        <li><b>Каталог</b></li>
                        <li><a href="#">Все</a></li>
                        <li><a href="#">Пальто</a></li>
                        <li><a href="#">Шубы</a></li>
                        <li><a href="#">Платья</a></li>
                        <li><a href="#">Костюмы</a></li>
                        <li><a href="#">Комбинезоны</a></li>
                        <li><a href="#">Брюки</a></li>
                        <li><a href="#">Юбки и шорты</a></li>
                        <li><a href="#">Блузы и топы</a></li>
                        <li><a href="#">Деним</a></li>
                        <li><br></li>
                        <li><br></li>
                        <li><a href="#"><b>SALE</b></a></li>
                        <li><a href="#"><b>NEW</b></a></li>
                        <li><a href="#"><b>SS2018</b></a></li>
                    </ul>
                </div>
                <div class="catalog__right">
                    <div class="catalog__top">
                        <div class="catalog__size catalog__sort">
                            <b>Размеры</b>
                            <label><input type="checkbox"><span>XS</span></label>
                            <label><input type="checkbox" checked="checked"><span>S</span></label>
                            <label><input type="checkbox"><span>M</span></label>
                            <label><input type="checkbox"><span>L</span></label>
                        </div>
                        <div class="catalog__sort">
                            <b>Сортировка</b>
                            <div class="styled">
                                <select name=""  >
                                    <option>Наша подборка</option>
                                    <option>Наша подборка</option>
                                    <option>Наша подборка</option>
                                    <option>Наша подборка</option>
                                </select>
                            </div>
                        </div>
                        <div class="catalog__sort">
                            <b>Цвет</b>
                            <div class="styled">
                                <select name="" >
                                    <option>Все</option>
                                    <option>Наша подборка</option>
                                    <option>Наша подборка</option>
                                    <option>Наша подборка</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="catalog__box">
                        <div class="catalog__item">
                            <div class="catalog__wrap">
                                <div class="catalog__img">
                                    <a href="#" class="catalog__bg"><img src="http://mbocharova.com/upload/resize_cache/iblock/a34/1600_1600_1/a34d2423f4f201d0eea84c719dffb01d.JPG" alt="" ></a>
                                    <a href="#" class="catalog__bg catalog__bg--hover"><img src="http://mbocharova.com/images/Home-banner/banner_4.jpg" alt="" ></a>
                                    <a href="#"  class="catalog__button btn">Быстрый просмотр</a>
                                </div>
                                <div class="catalog__description">
                                    <p>Утепленное пальто</p>
                                    <p><b>11 950 Р</b><b class="gray">23 900 Р</b></p>
                                </div>
                            </div>
                        </div>
                        <div class="catalog__item">
                            <div class="catalog__wrap">
                                <div class="catalog__img">
                                    <a href="#" class="catalog__bg"><img src="http://mbocharova.com/upload/resize_cache/iblock/a34/1600_1600_1/a34d2423f4f201d0eea84c719dffb01d.JPG" alt="" ></a>
                                    <a href="#" class="catalog__bg catalog__bg--hover"><img src="http://mbocharova.com/images/Home-banner/banner_4.jpg" alt="" ></a>
                                    <a href="#"  class="catalog__button btn">Быстрый просмотр</a>
                                </div>
                                <div class="catalog__description">
                                    <p>Утепленное пальто</p>
                                    <p><b>11 950 Р</b><b class="gray">23 900 Р</b></p>
                                </div>
                            </div>
                        </div>
                        <div class="catalog__item">
                            <div class="catalog__wrap">
                                <div class="catalog__img">
                                    <a href="#" class="catalog__bg"><img src="http://mbocharova.com/upload/resize_cache/iblock/a34/1600_1600_1/a34d2423f4f201d0eea84c719dffb01d.JPG" alt="" ></a>
                                    <a href="#" class="catalog__bg catalog__bg--hover"><img src="http://mbocharova.com/images/Home-banner/banner_4.jpg" alt="" ></a>
                                    <a href="#"  class="catalog__button btn">Быстрый просмотр</a>
                                </div>
                                <div class="catalog__description">
                                    <p>Утепленное пальто</p>
                                    <p><b>11 950 Р</b><b class="gray">23 900 Р</b></p>
                                </div>
                            </div>
                        </div>
                        <div class="catalog__item">
                            <div class="catalog__wrap">
                                <div class="catalog__img">
                                    <a href="#" class="catalog__bg"><img src="http://mbocharova.com/upload/resize_cache/iblock/a34/1600_1600_1/a34d2423f4f201d0eea84c719dffb01d.JPG" alt="" ></a>
                                    <a href="#" class="catalog__bg catalog__bg--hover"><img src="http://mbocharova.com/images/Home-banner/banner_4.jpg" alt="" ></a>
                                    <a href="#"  class="catalog__button btn">Быстрый просмотр</a>
                                </div>
                                <div class="catalog__description">
                                    <p>Утепленное пальто</p>
                                    <p><b>11 950 Р</b><b class="gray">23 900 Р</b></p>
                                </div>
                            </div>
                        </div>
                        <div class="catalog__item">
                            <div class="catalog__wrap">
                                <div class="catalog__img">
                                    <a href="#" class="catalog__bg"><img src="http://mbocharova.com/images/Home-banner/banner_4.jpg" alt="" ></a>
                                    <a href="#" class="catalog__bg catalog__bg--hover"><img src="http://mbocharova.com/upload/resize_cache/iblock/a34/1600_1600_1/a34d2423f4f201d0eea84c719dffb01d.JPG" alt="" ></a>
                                    <a href="#"  class="catalog__button btn">Гарна падруга</a>
                                </div>
                                <div class="catalog__description">
                                    <p>Утепленное пальто</p>
                                    <p><b>11 950 Р</b><b class="gray">23 900 Р</b></p>
                                </div>
                            </div>
                        </div>
                    </div> <!--
                    <div class="catalog__btn">
                        <a href="#" class="btn">Показать еще</a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>
