//= partials/head.html
<div class="global-wrapper">
    //= partials/menus.html
    //= partials/header.html
    <div class="main">
        <div class="mbox">
            <div class="return">
                <h2 class="return__title">Договор публичной оферты</h2>
                <h3>1. Общие положения</h3>
                <div class="return__info">
                    <p>1.1. Настоящая оферта, является официальным предложением ТМ «mbocharova», далее по тексту —
                        «Продавец», заключить Договор купли-продажи товаров дистанционным способом, то есть через
                        Интернет-магазин, далее по тексту — «Договор», и размещает Публичную оферту (предложение) на
                        официальном интернет-сайте Продавца «http://mbocharova.com» (далее - «Интернет-сайт»).</p>
                    <p>1.2. Моментом полного и безусловного принятия Покупателем предложения Продавца (акцептом)
                        заключить электронный договор купли-продажи товаров, считается факт оплаты Покупателем заказа на
                        условиях настоящего Договора, в сроки и по ценам, указанным на Интернет-сайте Продавца.</p>
                </div>
                <h3>2. Понятия и определения</h3>
                <div class="return__info">
                    <p>2.1. В настоящей оферте, если контекст не требует иного, нижеприведенные термины имеют следующие
                        значения:</p>
                    <ul class="return__list">
                        <li><b>«товар»</b> - модели, аксессуары, комплектующие и сопроводительные предметы;</li>
                        <li><b>«Интернет-магазин»</b> - в соответствии с Законом Украины «об электронной коммерции»,
                            средство для представления или реализации товара, работы или услуги путем совершения
                            электронной сделки.
                        </li>
                        <li><b>«Продавец»</b> - компания, реализующая товары, представленные на Интернет-сайте.</li>
                        <li><b>«Покупатель»</b> - физическое лицо, заключившее с Продавцом Договор на условиях,
                            изложенных ниже.
                        </li>
                        <li><b>«Заказ»</b> - выбор отдельных позиций из перечня товаров, указанных Покупателем при
                            размещении заказа и проведении оплаты.
                        </li>
                    </ul>
                </div>
                <h3>3. Предмет Договора</h3>
                <div class="return__info">
                    <p>3.1. Продавец обязуется передать в собственность Покупателя Товар, а Покупатель обязуется
                        оплатить и принять Товар на условиях данного Договора.</p>
                    <p>Настоящий Договор регулирует куплю-продажу товаров в Интернет-магазине, в том числе:</p>
                    <ul class="return__list">
                        <li>добровольный выбор Покупателем товаров в Интернет-магазине;</li>
                        <li>самостоятельное оформление Покупателем заказа в Интернет-магазине;</li>
                        <li>оплата Покупателем заказа, оформленного в Интернет-магазине;</li>
                        <li>обработка и доставка заказа Покупателю в собственность на условиях настоящего Договора.</li>
                    </ul>
                </div>
                <h3>4. Порядок оформления заказа</h3>
                <div class="return__info">
                    <p>4.1. Покупатель имеет право оформить заказ на любой товар, представленный на Сайте
                        Интернет-магазина и имеющийся в наличии.</p>
                    <p>4.2. Каждая позиция может быть представлена в заказе в любом количестве.</p>
                    <p>4.3. При отсутствии товара на складе, Менеджер компании обязан поставить Покупателя в известность
                        (по телефону или через электронную почту).</p>
                    <p>4.4. При отсутствии товара Покупатель вправе заменить его товаром аналогичной модели, отказаться
                        от данного товара, аннулировать заказ.</p>
                </div>
                <h3>5. Порядок оплаты заказа</h3>
                <div class="returns__info">
                    <p>5.1. Оплата осуществляется по факту получения товара в отделении транспортных компании за наличный расчет в гривнах.</p>
                    <p>5.2. При не поступлении денежных средств Интернет-магазин оставляет за собой право аннулировать заказ.</p>
                </div>
                <h3>6. Условия доставки заказа</h3>
                <div class="returns__info">
                    <p>6.1. Доставка товаров, приобретенных в Интернет-магазине, осуществляется до складов транспортных компаний, где и производится выдача заказов.</p>
                    <p>6.2. Вместе с заказом Покупателю предоставляются документы согласно законодательства Украины.</p>
                </div>
                <h3>7. Права и обязанности сторон</h3>
                <div class="return__info">
                    <p>7.1. Продавец имеет право:</p>
                    <ul class="return__list">
                        <li>в одностороннем порядке приостановить оказание услуг по настоящему договору в случае нарушения Покупателем условий настоящего договора.</li>
                    </ul>
                    <p>7.2. Покупатель обязан:</p>
                    <ul class="return__list">
                        <li>своевременно оплатить и получить заказ на условиях настоящего договора.</li>
                    </ul>
                    <p>7.3. Покупатель имеет право:</p>
                    <ul class="return__list">
                        <li>оформить заказ в Интернет-магазине;</li>
                        <li>оформить электронный договор;</li>
                        <li>требовать от Продавца исполнения условий настоящего Договора.</li>
                    </ul>
                </div>
                <h3>8. Ответственность сторон</h3>
                <div class="return__info">
                    <p>8.1. Стороны несут ответственность за невыполнение или ненадлежащее выполнение условий настоящего договора в порядке, предусмотренном этим договором и действующим законодательством Украины.</p>
                    <p>8.2. Продавец не несет ответственности за:</p>
                    <ul class="return__list">
                        <li>измененный производителем внешний вид Товара;</li>
                        <li>за незначительное несоответствие цветовой гаммы товара, что может отличаться от оригинала товара исключительно из-за разной цветовой передачи мониторов персональных компьютеров отдельных моделей;</li>
                        <li>за содержание и правдивость информации, предоставляемой Покупателем при оформлении заказа;</li>
                        <li>за задержку и перебои в предоставлении Услуг (обработки заказа и доставке товара), которые происходят по причинам, находящимся вне сферы его контроля;</li>
                        <li>за противоправные незаконные действия, осуществленные Покупателем с помощью данного доступа к сети Интернет;</li>
                        <li>за передачу Покупателем своих сетевых идентификаторов - IP, MAC-адреса, логина и пароля третьим лицам;</li>
                    </ul>
                    <p>8.3. Покупатель, используя предоставленный ему доступ к сети Интернет, самостоятельно несет ответственность за вред, причиненный его действиями (лично, даже если под его логином находилось другое лицо) лицам или их имуществу, юридическим лицам, государству или моральным принципам моральности.</p>
                    <p>8.4. В случае наступления обстоятельств непреодолимой силы, стороны освобождаются от выполнения условий этого договору. Под обстоятельствами непреодолимой силы для целей настоящего договора понимаются события, имеющие чрезвычайный, непредвиденный характер, которые исключают или объективно мешают исполнению настоящего договора, наступление которых Стороны не могли предвидеть и предотвратить разумными способами.</p>
                    <p>8.5. Стороны прикладывают максимум усилий для решения любых разногласий исключительно путем переговоров.</p>
                </div>
                <h3>9. Другие условия</h3>
                <div class="return__info">
                    <p>9.1. Интернет-магазин оставляет за собой право в одностороннем порядке вносить изменения в настоящий договор при условии предварительной публикации его на сайте http://mbocharova.com</p>
                    <p>9.2. Интернет-магазин создан для организации дистанционного способа продажи товаров через Интернет.</p>
                    <p>9.3. Покупатель несет ответственность за достоверность указанной при оформлении заказа информации. При этом, при осуществлении акцепта (оформлении заказа и последующей оплаты товара) Покупатель предоставляет Продавцу свое безоговорочное согласие на сбор, обработку, хранение, использование своих персональных данных, в понимании ЗУ «О защите персональных данных».</p>
                    <p>9.4. Оплата Покупателем оформленного в Интернет-магазине заказа означает полное согласие Покупателя с условиями договора купли-продажи (публичной оферты)</p>
                    <p>9.5. Фактической датой электронного соглашения между сторонами есть дата принятия условий, в соответствии со ст. 11 Закона Украины «Об электронной коммерции»</p>
                    <p>9.6. Использование ресурса Интернет-магазина для предварительного просмотра товара, а также для оформления заказа для Покупателя есть бесплатным.</p>
                    <p>9.7. Информация, предоставляемая Покупателем является конфиденциальной. Интернет-магазин использует информацию о Покупателе исключительно в целях обработки заказа, отправления уведомлений Покупателю, доставки товара, осуществления взаиморасчетов и др.</p>
                </div>
                <h3>10. Порядок возврата товара надлежащего качества</h3>
                <div class="return__info">
                    <p>10.1. Возврат товара в Интернет-магазин производится согласно действующего законодательства Украины.</p>
                    <p>10.2. Возврат товара в Интернет-магазин производится за счет Покупателя.</p>
                    <p>10.3. При возврате Покупателем товара надлежащего качества, Интернет-магазин возвращает ему уплаченную за товар денежную сумму по факту возврата товара за вычетом компенсации расходов Интернет-магазина связанных с доставкой товара Покупателю.</p>
                </div>
                <h3>11. Срок действия договора</h3>
                <div class="return__info">
                    <p>11.1.Электронный договор считается заключенным с момента получения лицом направившим предложение заключить такой договор, ответа о принятии этого предложения в порядке, определенном частью шестой статьи 11 Закона Украины "Об электронной коммерции".</p>
                    <p>11.2. До окончания срока действия этот Договор может быть расторгнут по взаимному согласию сторон до момента фактической доставки товара, путем возврата денежных средств</p>
                    <p>11.3. Стороны имеют право расторгнуть настоящий договор в одностороннем порядке, в случае невыполнения одной из сторон условий настоящего Договора и в случаях предусмотренных действующим законодательством Украины.</p>
                </div>
                <b><i>Обращаем ваше внимание, что интернет-магазин «mbocharova.com» на официальном интернет-сайте </i><a href="https://mbocharova.com/">https://mbocharova.com/</a><i>, имеет право, в соответствии с законодательством Украины, предоставлять право пользования интернет платформой ФЛП и юридическим лицам для реализации товара.</i></b>
            </div>
        </div>
        //= partials/hidden-block.html
        //= partials/footer.html
    </div>
    </body>
    </html>