//= partials/head.html
<div class="global-wrapper">
    //= partials/menus.html
    //= partials/header.html
    <div class="main">
        <div class="mbox">
            <div class="title">
                <h2>Контакты</h2>
            </div>
            <div class="contact__wrap">
                <div class="contact__link">
                    <h5>Отдел внутренний торговли:</h5>
                    <span>Анастасия</span>
                    <a href="#" hidefocus="true" style="outline: none;">+38<span>(96) 334 88 12</span></a>
                    <a href="#" hidefocus="true" style="outline: none;">Hello@mbocharova.com</a>
                </div>
                <div class="contact__link">
                    <h5>Развитие розничной сети::</h5>
                    <span>Виктория Коммерческий директор</span>
                    <a href="#" hidefocus="true" style="outline: none;">+38<span>(97) 351 21 44</span></a>
                    <a href="#" hidefocus="true" style="outline: none;">Hello@mbocharova.com</a>
                </div>

                <div class="contact__link">
                    <h5>Адрес производства:</h5>
                    <span>г Хмельницкий <br> Подольская 92/1</span>
                </div>
            </div>
            <div class="contact__map-wrap">
                <div id="map" class="contact__map"></div>
            </div>

            <form class="contact__callback">
                <div class="contact__callback-title">свяжитесь с нами</div>
                <div class="contact__input-group">
                    <div class="contact__input"><input type="text" placeholder="Ваше имя"></div>
                    <div class="contact__input"><input type="text" placeholder="Номер телефона"></div>
                </div>
                <div class="contact__btn">
                    <button type="submit" class="btn">передзвоните мне</button>
                </div>
            </form>
            <div class="contact__text">
                Mboсharova- это украинский бренд женской одежды, основанный Марьяной Бочаровой в 2016 году. Наш путь начинался с изготовления джинсовых курток оверсайз, расписанных вручную. Они горячо полюбились фешн-блоггерам и медийным личностям из разных уголков мира, сделав нас узнаваемыми. Спустя год, Марьяна разработала и запустила в производство полноценную коллекцию повседневной одежды. Киев, Москва, Лондон, Торонто – вот далеко не полный список городов, где девушки носят Mboсharova. За 3 года существования мы побывали на всевозможных выставках, покорили «Kiev Fashion Day» в 2018-м году, и одержали победу на Фестивале Славянской Моды в мировой столице haute couture - Париже. Открыли несколько шоурумов в городах Украины и не собираемся останавливаться на достигнутом! Для нас важно, чтобы каждое изделие хорошо смотрелось на девушках и женщинах с различным типом фигур, и не только подчеркивало достоинства, но и умело корректировало особенности телосложения. При разработке будущей коллекции, мы привлекаем моделей разных комплекций для примерки пробных образцов. И лишь убедившись в том, что вещь сидит как надо – запускаем ее в производство. Особое внимание мы уделяем подбору персонала. Каждая сотрудница Mbocharova– это высококвалифицированный специалист. Все швеи и конструкторы на производстве имеют многолетний стаж работы. Консультанты в шоурумах ежегодно проходят обучение у топовых стилистов. Посещая различные фешн-мероприятия, прогуливаясь улицами Франции, Канады, и прочих стран как далекого, так и близкого зарубежья, мы все чаще видим прекрасных девушек, одетых в наши изделия. Это вдохновляет нас на новые подвиги в покорении мира моды.
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 49.426439, lng: 26.989427},
                zoom: 13
            });

            var infowindow = new google.maps.InfoWindow({
                content: ''
            });

            var icon = './images/marker.png';

            var locations = [
                ['0', 'Подольская 93', 49.426439, 26.989427]
            ];

            for (i = 0; i < locations.length; i++) {
                var title = locations[i][1];
                var content = locations[i][1];
                var id = locations[i][0];
                var pos = new google.maps.LatLng(locations[i][2], locations[i][3]);
                marker = new google.maps.Marker({
                    title: title,
                    position: pos,
                    id: id,
                    map: map,
                    icon: icon
                });
                google.maps.event.addListener(marker, 'click', (function (marker, content) {
                    return function () {
                        infowindow.setContent(content);
                        infowindow.open(map, marker);
                        map.panTo(this.getPosition());
                        map.setZoom(16);
                    }
                })(marker, content));
            }
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2IimMwvRbR9RW17iKMabcHzb5oq-vPj4&callback=initMap">
    </script>
</div>
</body>
</html>