//= partials/head.html
<div class="global-wrapper">
    //= partials/menus.html
    //= partials/header.html
    <div class="main">
        <div class="mbox">
            <div class="title">
                <h2>Контакты</h2>
            </div>
            <div class="trade">
                <div class="trade__article">
                    Компания «MBFashion» один из ведущих производителей женской одежды. Коллекции торговой марки MBocharova &nbsp;отличаются авторским дизайном, лаконичным кроем и высоким качеством исполнения. В основе каждого изделия лежат тщательно отобранные ткани и аксессуары. <br>
                    <br>
                    Нашим партнерам мы всегда можем предложить: <br>
                    - Гибкие условия сотрудничества <br>
                    - Своевременное исполнение заказов <br>
                    - Индивидуальный подход <br>
                    - Партнёрские отношения <br>
                    <br>
                    Связаться с нами Вы можете, используя форму связи, либо позвонив по номеру торгового представителя.            </div>
                <div class="trade__form">
                    <form>
                        <div class="popup__row">
                            <div class="popup__input">
                                <input type="text" placeholder="Почта" required="required">
                            </div>
                        </div>
                        <div class="popup__row">
                            <div class="popup__input">
                                <input type="text" placeholder="Почта" required="required">
                            </div>
                        </div>
                        <div class="popup__row">
                            <div class="popup__input">
                                <input type="text" placeholder="Почта" required="required">
                            </div>
                        </div>
                        <div class="popup__row">
                            <div class="popup__input">
                                <input type="text" placeholder="Почта" required="required">
                            </div>
                        </div>
                        <div class="popup__row">
                            <div class="popup__input">
                                <input type="text" placeholder="Почта" required="required">
                            </div>
                        </div>
                        <div class="popup__row">
                            <div class="popup__input">
                                <a href="#" class="btn">такі да (</a>
                            </div>
                        </div>

                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>