//= partials/head.html
<div class="global-wrapper">
    //= partials/menus.html
    //= partials/header.html
    <div class="main">
        <div class="mbox">
            <ul>
                <li><a class="pagelist__title is-active" href="main.html">Головна</a></li>
                <li><a class="pagelist__title" href="catalog.html">Catalog</a></li>
                <li><a class="pagelist__title" href="card.html">Card</a></li>
                <li><a class="pagelist__title" href="basket1.html">basket1</a></li>
                <li><a href="basket2.html">basket2</a></li>
                <li><a href="contacts.html">contacts</a></li>
                <li><a href="cooperating.html">cooperating</a></li>
                <li><a href="about.html">about</a></li>
                <li><a href="places.html">places</a></li>
                <li><a href="blog.html">blog</a></li>
                <li><a href="payment.html">payment</a></li>
                <li><a href="return.html">return</a></li>
                <li><a href="personal.html">personal</a></li>
                <li><a href="contract.html">contract</a></li>
                <li><a href="privacy.html">privacy</a></li>
                <li><a href="blog-detail.html">blog-detail</a></li>
                <li><a href="blog-detail2.html">blog-detail-2</a></li>
                <li><a href="blog-detail3.html">blog-detail-3</a></li>
                <li><a href="blog-detail4.html">blog-detail-4</a></li>
                <li><a href="blog-detail5.html">blog-detail-5</a></li>
                <li><a href="blog-detail6.html">blog-detail-6</a></li>
                <li><a href="blog-detail7.html">blog-detail-7</a></li>
                <li><a href="blog-detail8.html">blog-detail-8</a></li>
                <li><a href="blog-detail9.html">blog-detail-9</a></li>
                <li><a href="blog-detail10.html">blog-detail-10</a></li>
                <li><a href="blog-detail11.html">blog-detail-11</a></li>
                <li><a href="blog-detail12.html">blog-detail-12</a></li>
                <li><a href="blog-detail13.html">blog-detail-13</a></li>
                <li><a href="blog-detail14.html">blog-detail-14</a></li>
                <li><a href="blog-detail15.html">blog-detail-15</a></li>
                <li><a href="blog-detail16.html">blog-detail-16</a></li>
                <li><a href="blog-detail17.html">blog-detail-17</a></li>
                <li><a href="blog-detail18.html">blog-detail-18</a></li>
            </ul>
            <br>
            <hr>
            <br>
            <br>
            <br>
            <nav class="types">
                <button data-mode="mobile" data-width="375">
                    <svg class="icon icon-mobile"><use xlink:href="#icon-mobile"></use></svg>
                    <strong>Mobile</strong>
                    <span>375px</span>
                </button>
                <button data-mode="ipad" data-width="768">
                    <svg class="icon icon-tablet"><use xlink:href="#icon-tablet"></use></svg>
                    <strong>Tablet</strong>
                    <span>768px</span></button>
                <button data-mode="desktop" data-width="1024">
                    <svg class="icon icon-desktop"><use xlink:href="#icon-desktop"></use></svg>
                    <strong>Desktop</strong>
                    <span>1024px</span></button>
                <button data-mode="wide" class="is-active" data-width="1440">
                    <svg class="icon icon-wide"><use xlink:href="#icon-wide"></use></svg>
                    <strong>Desktop HD</strong>
                    <span>1440px</span>
                </button>
            </nav>
            <aside class="preview" id="preview-wrapper">
                <iframe id="preview"  width="1440" height="600" src="main.html"  frameborder="0"></iframe>
            </aside>
            <br>
            <hr>
            <ul>
                <li><h1>popups</h1></li>
                <li><a href="#popup-login" data-fancybox >popup-login</a></li>
                <li><a href="#popup-register" data-fancybox >popup-register</a></li>
                <li><a href="#popup-cart" data-fancybox >popup-cart</a></li>
                <li><a href="#popup-card" data-fancybox >popup-card</a></li>
                <li><a href="#forgot-poss" data-fancybox >forgot-poss</a></li>
                <li><a href="#popup-callme" data-fancybox >popup-cellme</a></li>
            </ul>
            <br>
            <hr>
            <div class="title">
                <h2>содержимое спрайта</h2>
            </div>
            <div class="svg-container"></div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html

    <style>

        .icon-desktop { width: 1.41em; height: 1em; fill: #000; }
        .icon-mobile { width: 0.59em; height: 1em; fill: #000; }
        .icon-tablet { width: 0.79em; height: 1em; fill: #000; }
        .icon-wide { width: 1.1em; height: 1em; fill: #000; }

        .preview{
            position: fixed;
            right: 42px;
            top: 200px;
            left: 355px;
            bottom: 40px;

        }
        iframe{
            opacity: 1;
            margin: 0 auto;
            transform-origin: 0 0;
            box-shadow: 0 0 20px rgba(0,0,0,.6);
        }

        .pagelist__title{
            color: #000;
            text-decoration: none;
            padding: 5px 8px 5px 3px;
            position: relative;
            display: inline-block;
        }
        .is-notready .pagelist__title{
            color: #aaaaaa;
            background: #fff;
            pointer-events: none;
        }
        .pagelist__title.is-active{
            background: #000;
            color: #fff;
        }

        .types{
            position: absolute;
            right: 15px;
            top: 0;
        }
        .types button,.types button:active{
            border: 1px solid #eee;
            background: #fff;
            font-size: 14px;
            color: #000;
            text-align: center;
            font-family: 'Politica', serif;
            padding: 10px 15px;
            position: relative;
            outline: none;
            cursor: pointer;
            transition: all .25s ease-in-out;
        }
        .types button:hover{
            background: #eee;
        }
        .types strong{
            font-weight: normal;
            font-family: 'PoliticaBold',sans-serif;
        }
        .types .icon{
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translate(0, -50%);
            font-size: 20px;
        }
        .types .icon-desktop{left: 5px;}
        .types .icon-wide{left: 8px;}

        .types button.is-active{
            border-color: #000;
            color: #fff;
            background: #000;
        }
        .types button.is-active .icon{
            color: #fff;
            fill: #fff;
        }
        .types span{
            display: block;
        }
        .svg-container{display: flex;justify-content: space-between; align-items: flex-start; flex-wrap: wrap;border: 1px solid #0f0f11;}
        .svg-container div{width: 200px; padding: 10px; border: 1px solid #0f0f11; flex-grow: 1;}
        .svg-container svg{width: 100%;}
    </style>
    <script>
        var navs = document.querySelectorAll('button');
        var body = document.querySelectorAll('body')[0];
        var previewButtons = document.querySelectorAll('.pagelist__title');
        var iframe = document.getElementById('preview');
        var previewWrapper = document.getElementById('preview-wrapper');

        function removeActive(){
            [].forEach.call(previewButtons, function(button) {
                button.classList.remove('is-active');
            });
        }

        function getScrollbarWidth() {
            var outer = document.createElement("div");
            outer.style.visibility = "hidden";
            outer.style.width = "100px";
            outer.style.msOverflowStyle = "scrollbar"; // needed for WinJS apps

            document.body.appendChild(outer);

            var widthNoScroll = outer.offsetWidth;
            // force scrollbars
            outer.style.overflow = "scroll";

            // add innerdiv
            var inner = document.createElement("div");
            inner.style.width = "100%";
            outer.appendChild(inner);

            var widthWithScroll = inner.offsetWidth;

            // remove divs
            outer.parentNode.removeChild(outer);

            return widthNoScroll - widthWithScroll;
        }
        var  scrollbarwidth = getScrollbarWidth();

        [].forEach.call(previewButtons, function(button) {
            button.addEventListener('click', function(event) {

                if(window.innerWidth < 780){return;}
                event.preventDefault();
                removeActive();
                var el = event.currentTarget;
                el.classList.add('is-active');
                iframe.src = el.href;
            }, false);
        });


        var mode = 'wide';
        [].forEach.call(navs, function(nav) {
            nav.addEventListener('click', function(event) {
                event.preventDefault();
                mode = event.currentTarget.dataset.mode;
                iframe.style.width = parseInt(event.currentTarget.getAttribute('data-width')) + parseInt(scrollbarwidth) + 'px';

                body.setAttribute('data-mode','is-' + mode);


                [].forEach.call(navs, function(nav) {
                    nav.classList.remove('is-active');
                })
                event.currentTarget.classList.add('is-active');

                setIframeWidth();
            }, false);

            function setIframeWidth(){
                // getting preview area width
                var pwidth = previewWrapper.offsetWidth;
                var pheight = previewWrapper.offsetHeight;

                // iframe width
                var iwidth = iframe.offsetWidth;
                var iheight = iframe.offsetHeight;

                var scaleV = pheight/iheight;
                var scaleH = pwidth/iwidth;

                if(mode=='mobile'){
                    iframe.style.transform = 'scale('+ 1 +')';
                    iframe.style.height =  pheight + 'px';


                    return;
                }
                if(scaleH>1){scaleH = 1;}
                iframe.style.transform = 'scale('+ scaleH +')';

                iframe.style.height =  pheight/scaleH + 'px';
                // console.log(pheight*(2 - scaleV) + 'px');

                var realheight = iframe.getBoundingClientRect().height;

                if(realheight>pheight){
                    iframe.style.transform = 'scale('+ scaleV +')';
                }

            }

            setIframeWidth();
            // resize event
            window.addEventListener("resize", function(){
                setIframeWidth();
            });


        });
    </script>
    <script>
        $(document).ready(function(){
            $('body>svg symbol').each(function(){
                var id = $(this).attr('id');
                var div = document.createElement('div');
                $(div).html('<svg><use xlink:href="#'+id+'"></use></svg><p>#'+id+'</p>');
                $('.svg-container').append(div);
            });
        });
    </script>
</div>
</body>
</html>


