
//= partials/head.html
<div class="global-wrapper">
    //= partials/menus.html
    //= partials/header.html
    <div class="main">
        <div class="top__slider js-top__slider">
            <div class="top__slide">
                <div class="top">
                    <div class="top__bg">
                        <img src="http://mbocharova.com/upload/iblock/443/443cfe022f50de8d90dbee28f489ee6d.jpg" alt="">
                    </div>
                    <div class="top__text">
                        <h1 class="top__title">Будь в тренде с #MBocharova</h1>
                        <a href="catalog/osen/" class="btn" >Коллекция FW’19</a>
                    </div>
                </div>
            </div>
            <div class="top__slide">
                <div class="top">
                    <div class="top__bg">
                        <img src="http://mbocharova.com/upload/iblock/443/443cfe022f50de8d90dbee28f489ee6d.jpg" alt="">
                    </div>
                    <div class="top__text">
                        <h1 class="top__title">Будь в тренде с #MBocharova</h1>
                        <a href="catalog/osen/" class="btn" >Коллекция FW’19</a>
                    </div>
                </div>
            </div>
            <div class="top__slide">
                <div class="top">
                    <div class="top__bg">
                        <img src="http://mbocharova.com/upload/iblock/443/443cfe022f50de8d90dbee28f489ee6d.jpg" alt="">
                    </div>
                    <div class="top__text">
                        <h1 class="top__title">Будь в тренде с #MBocharova</h1>
                        <a href="catalog/osen/" class="btn" >Коллекция FW’19</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="mbox">
            <div class="home-banner__box">

                    <a href="#" class="home-banner__item">
                        <div class="home-banner__back">
                            <img src="http://mbocharova.com/images/Home-banner/banner_2.jpg" alt="photo">
                        </div>
                        <div class="home-banner__title"> Instagram </div>
                    </a>
                    <a href="#" class="home-banner__item">
                        <div class="home-banner__back">
                            <img src="http://mbocharova.com/images/Home-banner/banner_1.jpg" alt="photo">
                        </div>
                        <div class="home-banner__title"> Spring/Summer 2019 </div>
                    </a>

                    <a href="#" class="home-banner__item">
                        <div class="home-banner__back">
                            <img src="http://mbocharova.com/images/Home-banner/banner_3.jpg" alt="photo">
                        </div>
                        <div class="home-banner__title"> Места продаж  </div>
                    </a>
                    <a href="#" class="home-banner__item">
                        <div class="home-banner__back">
                            <img src="http://mbocharova.com/images/Home-banner/banner_4.jpg" alt="photo">
                        </div>
                        <div class="home-banner__title">  SALE </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>
