//= partials/head.html
<div class="global-wrapper">
    //= partials/menus.html
    //= partials/header.html
    <div class="main">
        <div class="mbox">
            <div class="payment">
                <h2 class="payment__title">
                    Доставка одежды бренда MBocharva
                </h2>
                <div class="payment__info">
                    <p>Если сумма Вашего заказа превышает 1500 грн* — доставка в нужное отделение «Нова Пошта»
                        происходит за нас счет.</p>
                    <p><span class="payment__info-title">ТК «Нова Пошта»</span> <br>Наша продукция может быть доставлена в любое отделение «Нова Пошта» Украины (кроме временно
                        оккупированных территорий Донецкой, Луганской областей и АР Крым). Транспортная компания
                        оценивает срок доставки в 2-5 дней.
                    </p>
                    <p>Перед оплатой в отделении «Нова Пошта» настоятельно рекомендуем проверить целостность и
                        соответствие посылки.</p>
                    <p class="payment__italic">*В случае выбора способа оплаты «Наложенный платёж», получатель оплачивает комиссию 2% за перевод
                        денежных средств.</p>

                    <p><span class="payment__info-title">Доставка за пределы Украины</span> <br>Доставка продукции бренда MBocharva возможна по всему миру через службы «Нова Пошта» и
                        «Укрпошта». Детали международной доставки утверждаются с нашими менеджерами в индивидуальном
                        порядке.</p>
                    <p>Можете забрать заказ самостоятельно? Отлично — сотрудники наших магазинов подготовят ваш заказ
                        для самовывоза.</p>
                    <h2 class="payment__title">Для вашего удобства мы предлагаем несколько способов оплаты при покупке в
                        интернет-магазине:</h2>

                    <p><span>Наличный расчет</span> — при адресной доставке или самовывозе заказа (только для территории
                        Украины).</p>
                    <p><span>Безналичный расчет через «Приват-Банк»</span><br>
                        Вы получите реквизиты платежа от нашего менеджера. Комиссия за операции не взымается. При этом
                        способе оплаты оформление доставки возможно только после подтверждения платежа.
                    </p>
                    <p><span>Наложенный платеж в «Нова Пошта»</span><br> В этом случае у вас будет исключительная возможность осмотреть
                        товар в отделении «Нова Пошта» и лишь потом совершить оплату. Если по какой-либо причине заказ
                        вас не устраивает — вы не платите ничего.</p>
                    <p>Наши менеджеры предоставят Вам все необходимые реквизиты и подскажут самый простой способ после
                        подтверждения заказа.</p>
                </div>
            </div>
        </div>
        //= partials/hidden-block.html
        //= partials/footer.html
    </div>
    </body>
    </html>