//= partials/head.html
<div class="global-wrapper">
    //= partials/menus.html
    //= partials/header.html
    <div class="main">
        <div class="mbox">
            <div class="title">
                <h2>Личный кабинет</h2>
            </div>
            <div class="personal">
                <div class="personal__tabs-wrap">
                    <div class="personal__tabs">
                        <div class="personal__tab current" data-tab="tab-1">Личные данные</div>
                        <div class="personal__tab" data-tab="tab-2">Информация о доставке</div>
                        <div class="personal__tab" data-tab="tab-3">Ваш заказ</div>
                        <div class="personal__tab" data-tab="tab-4">Избранное</div>
                        <div class="personal__tab" data-tab="tab-5">История покупок</div>
                    </div>
                    <div class="personal__content current" id="tab-1">
                        <form class="personal__data">
                            <div class="personal__input">
                                <input type="text" placeholder="Имя">
                            </div>
                            <div class="personal__input">
                                <input type="text" placeholder="Фамилия">
                            </div>
                            <div class="personal__input">
                                <input type="text" placeholder="Номер телефона">
                            </div>
                            <div class="personal__input">
                                <input type="email" placeholder="Email">
                            </div>
                            <div class="personal__input">
                                <input type="text" placeholder="Адрес">
                            </div>
                        </form>
                    </div>
                    <div class="personal__content" id="tab-2">
                        <form class="personal__data">
                            <div class="personal__input">
                                <input type="text" placeholder="Имя">
                            </div>
                            <div class="personal__input">
                                <input type="text" placeholder="Фамилия">
                            </div>
                            <div class="personal__input">
                                <input type="text" placeholder="Номер телефона">
                            </div>
                            <div class="personal__input">
                                <input type="text" placeholder="Город">
                            </div>
                            <div class="personal__input">
                                <input type="text" placeholder="Номер отделения Новой почты">
                            </div>
                        </form>
                    </div>
                    <div class="personal__content" id="tab-3">
                        <div class="staff">
                            <div class="staff__image">
                                <img src="images/staff_1.png" alt="">
                            </div>
                            <div class="staff__desc">
                                <div class="staff__head">ПЛАТЬЕ МИДИ НА ЗАПАХ</div>
                                <div class="staff__charact">
                                    <div class="staff__col staff__col--size">
                                        <p><b>Размер:</b> S</p>
                                        <p><b>Цвет:</b> Фиолетовый</p>
                                        <p><b>Материал:</b> <b>50%</b> вискоза <b>50 %</b> шелк</p>
                                    </div>
                                    <div class="staff__col staff__col--quantity">
                                        <p><b>Количество:</b></p>
                                        <div class="staff__much">
                                            <input type="text" placeholder="1">
                                        </div>
                                    </div>
                                    <div class="staff__col staff__col--price">
                                        <p><b>Цена:</b></p>
                                        <p><b>11 950 Р</b></p>
                                        <p>11 950 Р</p>
                                    </div>

                                </div>
                                <div class="staff__delete js-staff-del">

                                </div>
                            </div>
                        </div>
                        <div class="staff">
                            <div class="staff__image">
                                <img src="images/staff_1.png" alt="">
                            </div>
                            <div class="staff__desc">
                                <div class="staff__head">ПЛАТЬЕ МИДИ НА ЗАПАХ</div>
                                <div class="staff__charact">
                                    <div class="staff__col staff__col--size">
                                        <p><b>Размер:</b> S</p>
                                        <p><b>Цвет:</b> Фиолетовый</p>
                                        <p><b>Материал:</b> <b>50%</b> вискоза <b>50 %</b> шелк</p>
                                    </div>
                                    <div class="staff__col staff__col--quantity">
                                        <p><b>Количество:</b></p>
                                        <div class="staff__much">
                                            <input type="text" placeholder="1">
                                        </div>
                                    </div>
                                    <div class="staff__col staff__col--price">
                                        <p><b>Цена:</b></p>
                                        <p><b>11 950 Р</b></p>
                                        <p>11 950 Р</p>
                                    </div>

                                </div>
                                <div class="staff__delete js-staff-del">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="personal__content" id="tab-4">
                        <div class="personal__favorites-wrap">
                            <div class="catalog__item" data-entity="item">
                                <div class="catalog__wrap">
                                    <div class="catalog__img">
                                        <a href="/catalog/denim/dzhinsovka-s-mekhom/" class="catalog__bg"><img src="https://mbocharova.com.ua/upload/resize_cache/iblock/2de/518_788_1/2de3ce7e868ea29d4762620feda4d216.jpg" alt="Джинсовая куртка с подкладкой из эко-меха"></a>
                                        <a href="/catalog/denim/dzhinsovka-s-mekhom/" class="catalog__bg catalog__bg--hover"><img src="https://mbocharova.com.ua/upload/resize_cache/iblock/2a1/518_788_1/2a1e310240e7ddb7ae115efef5672660.jpg" alt="Джинсовая куртка с подкладкой из эко-меха"></a>
                                        <a href="javascript:void(0);" id="product_1288" class="catalog__button btn">Быстрый просмотр</a>
                                    </div>
                                    <div class="catalog__description">
                                        <p>Джинсовая куртка с подкладкой из эко-меха</p>
                                        <p data-entity="price-block">
                                        <b id="bx_3966226736_1288_7e1b8e3524755c391129a9d7e6f2d206_price">
                                            3 500 ГРН.							</b>
                                        <b class="bx-basket-item-list-item-price-old gray" id="bx_3966226736_1288_7e1b8e3524755c391129a9d7e6f2d206_price_old" style="display: none;">
                                            3 500 ГРН.								</b>&nbsp;
                                        </p>
                                    </div>
                                    <div class="personal__favorites-delete"></div>
                                </div>
                            </div>
                            <div class="catalog__item" data-entity="item">
                                <div class="catalog__wrap">
                                    <div class="catalog__img">
                                        <a href="/catalog/denim/dzhinsovka-s-mekhom/" class="catalog__bg"><img src="https://mbocharova.com.ua/upload/resize_cache/iblock/2de/518_788_1/2de3ce7e868ea29d4762620feda4d216.jpg" alt="Джинсовая куртка с подкладкой из эко-меха"></a>
                                        <a href="/catalog/denim/dzhinsovka-s-mekhom/" class="catalog__bg catalog__bg--hover"><img src="https://mbocharova.com.ua/upload/resize_cache/iblock/2a1/518_788_1/2a1e310240e7ddb7ae115efef5672660.jpg" alt="Джинсовая куртка с подкладкой из эко-меха"></a>
                                        <a href="javascript:void(0);" id="product_1288" class="catalog__button btn">Быстрый просмотр</a>
                                    </div>
                                    <div class="catalog__description">
                                        <p>Джинсовая куртка с подкладкой из эко-меха</p>
                                        <p data-entity="price-block">
                                            <b id="bx_3966226736_1288_7e1b8e3524755c391129a9d7e6f2d206_price">
                                                3 500 ГРН.							</b>
                                            <b class="bx-basket-item-list-item-price-old gray" id="bx_3966226736_1288_7e1b8e3524755c391129a9d7e6f2d206_price_old" style="display: none;">
                                                3 500 ГРН.								</b>&nbsp;
                                        </p>
                                    </div>
                                    <div class="personal__favorites-delete"></div>
                                </div>
                            </div>
                            <div class="catalog__item" data-entity="item">
                                <div class="catalog__wrap">
                                    <div class="catalog__img">
                                        <a href="/catalog/denim/dzhinsovka-s-mekhom/" class="catalog__bg"><img src="https://mbocharova.com.ua/upload/resize_cache/iblock/2de/518_788_1/2de3ce7e868ea29d4762620feda4d216.jpg" alt="Джинсовая куртка с подкладкой из эко-меха"></a>
                                        <a href="/catalog/denim/dzhinsovka-s-mekhom/" class="catalog__bg catalog__bg--hover"><img src="https://mbocharova.com.ua/upload/resize_cache/iblock/2a1/518_788_1/2a1e310240e7ddb7ae115efef5672660.jpg" alt="Джинсовая куртка с подкладкой из эко-меха"></a>
                                        <a href="javascript:void(0);" id="product_1288" class="catalog__button btn">Быстрый просмотр</a>
                                    </div>
                                    <div class="catalog__description">
                                        <p>Джинсовая куртка с подкладкой из эко-меха</p>
                                        <p data-entity="price-block">
                                            <b id="bx_3966226736_1288_7e1b8e3524755c391129a9d7e6f2d206_price">
                                                3 500 ГРН.							</b>
                                            <b class="bx-basket-item-list-item-price-old gray" id="bx_3966226736_1288_7e1b8e3524755c391129a9d7e6f2d206_price_old" style="display: none;">
                                                3 500 ГРН.								</b>&nbsp;
                                        </p>
                                    </div>
                                    <div class="personal__favorites-delete"></div>
                                </div>
                            </div>
                            <div class="catalog__item" data-entity="item">
                                <div class="catalog__wrap">
                                    <div class="catalog__img">
                                        <a href="/catalog/denim/dzhinsovka-s-mekhom/" class="catalog__bg"><img src="https://mbocharova.com.ua/upload/resize_cache/iblock/2de/518_788_1/2de3ce7e868ea29d4762620feda4d216.jpg" alt="Джинсовая куртка с подкладкой из эко-меха"></a>
                                        <a href="/catalog/denim/dzhinsovka-s-mekhom/" class="catalog__bg catalog__bg--hover"><img src="https://mbocharova.com.ua/upload/resize_cache/iblock/2a1/518_788_1/2a1e310240e7ddb7ae115efef5672660.jpg" alt="Джинсовая куртка с подкладкой из эко-меха"></a>
                                        <a href="javascript:void(0);" id="product_1288" class="catalog__button btn">Быстрый просмотр</a>
                                    </div>
                                    <div class="catalog__description">
                                        <p>Джинсовая куртка с подкладкой из эко-меха</p>
                                        <p data-entity="price-block">
                                            <b id="bx_3966226736_1288_7e1b8e3524755c391129a9d7e6f2d206_price">
                                                3 500 ГРН.							</b>
                                            <b class="bx-basket-item-list-item-price-old gray" id="bx_3966226736_1288_7e1b8e3524755c391129a9d7e6f2d206_price_old" style="display: none;">
                                                3 500 ГРН.								</b>&nbsp;
                                        </p>
                                    </div>
                                    <div class="personal__favorites-delete"></div>
                                </div>
                            </div>
                            <div class="catalog__item" data-entity="item">
                                <div class="catalog__wrap">
                                    <div class="catalog__img">
                                        <a href="/catalog/denim/dzhinsovka-s-mekhom/" class="catalog__bg"><img src="https://mbocharova.com.ua/upload/resize_cache/iblock/2de/518_788_1/2de3ce7e868ea29d4762620feda4d216.jpg" alt="Джинсовая куртка с подкладкой из эко-меха"></a>
                                        <a href="/catalog/denim/dzhinsovka-s-mekhom/" class="catalog__bg catalog__bg--hover"><img src="https://mbocharova.com.ua/upload/resize_cache/iblock/2a1/518_788_1/2a1e310240e7ddb7ae115efef5672660.jpg" alt="Джинсовая куртка с подкладкой из эко-меха"></a>
                                        <a href="javascript:void(0);" id="product_1288" class="catalog__button btn">Быстрый просмотр</a>
                                    </div>
                                    <div class="catalog__description">
                                        <p>Джинсовая куртка с подкладкой из эко-меха</p>
                                        <p data-entity="price-block">
                                            <b id="bx_3966226736_1288_7e1b8e3524755c391129a9d7e6f2d206_price">
                                                3 500 ГРН.							</b>
                                            <b class="bx-basket-item-list-item-price-old gray" id="bx_3966226736_1288_7e1b8e3524755c391129a9d7e6f2d206_price_old" style="display: none;">
                                                3 500 ГРН.								</b>&nbsp;
                                        </p>
                                    </div>
                                    <div class="personal__favorites-delete"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="personal__content" id="tab-5">
                        <table class="personal__history">
                            <tr>
                                <th>№ заказа</th>
                                <th>Количество товара</th>
                                <th>Дата покупки</th>
                                <th>Сумма</th>
                                <th>Способ доставки</th>
                                <th>Статус</th>
                            </tr>
                            <tr>
                                <th>542</th>
                                <th>10</th>
                                <th>26.10.2019</th>
                                <th>15305 грн</th>
                                <th>Нова почта</th>
                                <th>Завершено</th>
                            </tr>
                            <tr>
                                <th>12</th>
                                <th>53</th>
                                <th>16.1.2019</th>
                                <th>302400 грн</th>
                                <th>Нова почта</th>
                                <th>Доставляется</th>
                            </tr>
                            <tr>
                                <th>15562</th>
                                <th>31</th>
                                <th>10.10.2019</th>
                                <th>150240 грн</th>
                                <th>Нова почта</th>
                                <th>Ожидает отправки</th>
                            </tr>
                            <tr>
                                <th>6452</th>
                                <th>1</th>
                                <th>1.10.2019</th>
                                <th>1540 грн</th>
                                <th>Нова почта</th>
                                <th>Доставлено</th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="personal__code">
            <div class="mbox">
                <form class="personal__row">
                    <div class="personal__input">
                        <input type="text" placeholder="Промокод">
                    </div>
                    <div class="personal__price">
                        <span>ИТОГО К ОПЛАТЕ :</span>
                        <span><b>1 297.00 грн.</b></span>
                    </div>
                    <div class="personal__button">
                        <button class="btn">ОФОРМИТЬ ЗАКАЗ</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="mbox">
            <div class="viewed">
                <div class="viewed__title">НЕДАВНО ПРОСМОТРЕННЫЕ</div>
                <div class="viewed__slider">
                    <div class="viewed__slide">
                        <a href="#">
                            <img src="https://mbocharova.com.ua/upload/resize_cache/iblock/2de/518_788_1/2de3ce7e868ea29d4762620feda4d216.jpg" alt="">
                            <span>ПЛАТЬЕ МИДИ НА ЗАПАХ</span>
                        </a>
                    </div>
                    <div class="viewed__slide">
                        <a href="#">
                            <img src="https://mbocharova.com.ua/upload/resize_cache/iblock/2a1/518_788_1/2a1e310240e7ddb7ae115efef5672660.jpg" alt="">
                            <span>ЧЕРНЫЕ УЗКИЕ БРЮКИ</span>
                        </a>
                    </div>
                    <div class="viewed__slide">
                        <a href="#">
                            <img src="https://mbocharova.com.ua/upload/resize_cache/iblock/2de/518_788_1/2de3ce7e868ea29d4762620feda4d216.jpg" alt="">
                            <span>КРАСНЫЙ ДВУБОРТНЫЙ ЖАКЕТ</span>
                        </a>
                    </div>
                    <div class="viewed__slide">
                        <a href="#">
                            <img src="https://mbocharova.com.ua/upload/resize_cache/iblock/2a1/518_788_1/2a1e310240e7ddb7ae115efef5672660.jpg" alt="">
                            <span>ПЛАТЬЕ МИДИ НА ЗАПАХ</span>
                        </a>
                    </div>
                    <div class="viewed__slide">
                        <a href="#">
                            <img src="https://mbocharova.com.ua/upload/resize_cache/iblock/2de/518_788_1/2de3ce7e868ea29d4762620feda4d216.jpg" alt="">
                            <span>ЧЕРНЫЕ УЗКИЕ БРЮКИ</span>
                        </a>
                    </div>
                    <div class="viewed__slide">
                        <a href="#"><img src="https://mbocharova.com.ua/upload/resize_cache/iblock/2a1/518_788_1/2a1e310240e7ddb7ae115efef5672660.jpg" alt="">
                            <span>ЧЕРНЫЕ УЗКИЕ БРЮКИ</span>
                        </a>
                    </div>
                    <div class="viewed__slide">
                        <a href="#">
                            <img src="https://mbocharova.com.ua/upload/resize_cache/iblock/2de/518_788_1/2de3ce7e868ea29d4762620feda4d216.jpg" alt="">
                            <span>ЧЕРНЫЕ УЗКИЕ БРЮКИ</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
</div>
</body>
</html>