//= partials/head.html
<div class="global-wrapper">
    //= partials/menus.html
    //= partials/header.html
    <div class="main">
        <div class="mbox">
            <div class="title title--big">
                <h2>Места продаж </h2>
                <p>Бренд женской одежды  MBocharova включает в себя собственную сеть шоурумов, а также представлен в ряде партнерских магазинов. Выберите город из списка, чтобы найти ближайшую точку продаж.</p>
            </div>
            <div class="contact__map-wrap">
                <div id="map" class="contact__map"></div>
                <div class="map__filter">
                    <div class="tabb">
                        <div class="tabb__head js-tab-closer active" data-attr="0">
                                <span>Showroom MBocharova
Хмельницкий</span>
                        </div>
                        <div class="tabb__box js-tab-inputs active">
                            <p><b>Адрес:</b> ТЦ "Квартал" <br> ул.Камянецкая 17
                                <br> Фирменный магазин на 2 этаже</p>
                        </div>
                    </div>
                    <div class="tabb">
                        <div class="tabb__head js-tab-closer" data-attr="1">
                                <span>Showroom MBocharova
Винница</span>
                        </div>
                        <div class="tabb__box js-tab-inputs">
                            <p><b>Адрес:</b> ТЦ "Мегамолл" <br> ул. 600-летия, 17
                                <br> Фирменный магазин на 1 этаже</p>
                        </div>
                    </div>
                    <div class="tabb">
                        <div class="tabb__head js-tab-closer" data-attr="2">
                                <span>Showroom MBocharova
Тернополь</span>
                        </div>
                        <div class="tabb__box js-tab-inputs">
                            <p><b>Адрес:</b> ТЦ "Подоляны" <br> ул. Текстильная, 28ч
                                <br> Фирменный магазин на 2 этаже</p>
                        </div>
                    </div>
                    <div class="tabb">
                        <div class="tabb__head js-tab-closer" data-attr="3">
                                <span>Showroom Mia Corner</span>
                        </div>
                        <div class="tabb__box js-tab-inputs">
                            <p><b>Адрес:</b> 8 Mall Salmiya <br> Salem Mubarak street
                                <br> M floor shops</p>
                        </div>
                    </div>
                    <div class="tabb">
                        <div class="tabb__head js-tab-closer" data-attr="4">
                                <span>Showroom MBocharova
Черновцы</span>
                        </div>
                        <div class="tabb__box js-tab-inputs">
                            <p><b>Адрес:</b> ТРЦ "DEPOt" <br> ул. Главная 265А
                                <br> Фирменный магазин на 2 этаже</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact__text">
                Mboсharova- это украинский бренд женской одежды, основанный Марьяной Бочаровой в 2016 году. Наш путь начинался с изготовления джинсовых курток оверсайз, расписанных вручную. Они горячо полюбились фешн-блоггерам и медийным личностям из разных уголков мира, сделав нас узнаваемыми. Спустя год, Марьяна разработала и запустила в производство полноценную коллекцию повседневной одежды. Киев, Москва, Лондон, Торонто – вот далеко не полный список городов, где девушки носят Mboсharova. За 3 года существования мы побывали на всевозможных выставках, покорили «Kiev Fashion Day» в 2018-м году, и одержали победу на Фестивале Славянской Моды в мировой столице haute couture - Париже. Открыли несколько шоурумов в городах Украины и не собираемся останавливаться на достигнутом! Для нас важно, чтобы каждое изделие хорошо смотрелось на девушках и женщинах с различным типом фигур, и не только подчеркивало достоинства, но и умело корректировало особенности телосложения. При разработке будущей коллекции, мы привлекаем моделей разных комплекций для примерки пробных образцов. И лишь убедившись в том, что вещь сидит как надо – запускаем ее в производство. Особое внимание мы уделяем подбору персонала. Каждая сотрудница Mbocharova– это высококвалифицированный специалист. Все швеи и конструкторы на производстве имеют многолетний стаж работы. Консультанты в шоурумах ежегодно проходят обучение у топовых стилистов. Посещая различные фешн-мероприятия, прогуливаясь улицами Франции, Канады, и прочих стран как далекого, так и близкого зарубежья, мы все чаще видим прекрасных девушек, одетых в наши изделия. Это вдохновляет нас на новые подвиги в покорении мира моды.
            </div>
        </div>
    </div>
</div>
//= partials/hidden-block.html
//= partials/footer.html
<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 49.428222, lng: 26.980116},
            zoom: 13
        });

        var infowindow = new google.maps.InfoWindow({
            content: ''
        });

        var icon = './images/marker.png';

        var locations = [
            ['0', 'Showroom MBocharova Хмельницкий', 49.428222, 26.980116],
            ['1', 'Showroom MBocharova Винница', 49.227883, 28.426777],
            ['2', 'Showroom MBocharova Тернополь', 49.575628, 25.639098],
            ['3', 'Showroom Mia Corner', 29.346174, 48.087068],
            ['4', 'Showroom MBocharova Черновцы', 48.258888, 25.956610]
        ];

        for (i = 0; i < locations.length; i++) {
            var title = locations[i][1];
            var content = locations[i][1];
            var id = locations[i][0];
            var pos = new google.maps.LatLng(locations[i][2], locations[i][3]);
            marker = new google.maps.Marker({
                title: title,
                position: pos,
                id: id,
                map: map,
                icon: icon
            });
            google.maps.event.addListener(marker, 'click', (function (marker, content) {
                return function () {
                    infowindow.setContent(content);
                    infowindow.open(map, marker);
                    map.panTo(this.getPosition());
                    map.setZoom(16);
                }
            })(marker, content));
        }

        $('.map__filter .js-tab-closer').on('click', function () {

            var data_attr = $(this).attr('data-attr');

            for (i = 0; i < locations.length; i++) {
                var title = locations[i][1];
                var content = locations[i][1];
                var id = locations[i][0];
                var pos = new google.maps.LatLng(locations[i][2], locations[i][3]);
                marker = new google.maps.Marker({
                    title: title,
                    position: pos,
                    id: id,
                    map: map,
                    icon: icon
                });
                google.maps.event.addListener(marker, 'click', (function (marker, content) {
                    return function () {
                        infowindow.setContent(content);
                        infowindow.open(map, marker);
                        map.panTo(this.getPosition());
                        map.setZoom(16);
                    }
                })(marker, content));
                if(data_attr == marker.id) {
                    google.maps.event.trigger(marker, 'click');
                }
            }
        });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2IimMwvRbR9RW17iKMabcHzb5oq-vPj4&callback=initMap">
</script>
</div>
</body>
</html>