//= partials/head.html
<div class="global-wrapper">
    //= partials/menus.html
    //= partials/header.html
    <div class="main">
        <div class="mbox">
<<<<<<< HEAD
            <div class="title">
                <h2>Контакты</h2>
            </div>
            <div class="contact__wrap">
                <div class="contact__link">
                    <h5>Отдел внутренний торговли:</h5>
                    <span>Анастасия</span>
                    <a href="#" hidefocus="true" style="outline: none;">+38<span>(96) 334 88 12</span></a>
                    <a href="#" hidefocus="true" style="outline: none;">Hello@mbocharova.com</a>
                </div>
                <div class="contact__link">
                    <h5>Развитие розничной сети::</h5>
                    <span>Виктория Коммерческий директор</span>
                    <a href="#" hidefocus="true" style="outline: none;">+38<span>(97) 351 21 44</span></a>
                    <a href="#" hidefocus="true" style="outline: none;">Hello@mbocharova.com</a>
                </div>

                <div class="contact__link">
                    <h5>Адрес производства:</h5>
                    <span>г Хмельницкий <br> Подольская 92/1</span>
                </div>
            </div>
            <div class="contact__map-wrap">
                <div id="map" class="contact__map"></div>
            </div>

            <form class="contact__callback">
                <div class="contact__callback-title">свяжитесь с нами</div>
                <div class="contact__input-group">
                    <div class="contact__input"><input type="text" placeholder="Ваше имя"></div>
                    <div class="contact__input"><input type="text" placeholder="Номер телефона"></div>
                </div>
                <div class="contact__btn">
                    <button type="submit" class="btn">передзвоните мне</button>
                </div>
            </form>
            <div class="contact__text">
                Mboсharova- это украинский бренд женской одежды, основанный Марьяной Бочаровой в 2016 году. Наш путь начинался с изготовления джинсовых курток оверсайз, расписанных вручную. Они горячо полюбились фешн-блоггерам и медийным личностям из разных уголков мира, сделав нас узнаваемыми. Спустя год, Марьяна разработала и запустила в производство полноценную коллекцию повседневной одежды. Киев, Москва, Лондон, Торонто – вот далеко не полный список городов, где девушки носят Mboсharova. За 3 года существования мы побывали на всевозможных выставках, покорили «Kiev Fashion Day» в 2018-м году, и одержали победу на Фестивале Славянской Моды в мировой столице haute couture - Париже. Открыли несколько шоурумов в городах Украины и не собираемся останавливаться на достигнутом! Для нас важно, чтобы каждое изделие хорошо смотрелось на девушках и женщинах с различным типом фигур, и не только подчеркивало достоинства, но и умело корректировало особенности телосложения. При разработке будущей коллекции, мы привлекаем моделей разных комплекций для примерки пробных образцов. И лишь убедившись в том, что вещь сидит как надо – запускаем ее в производство. Особое внимание мы уделяем подбору персонала. Каждая сотрудница Mbocharova– это высококвалифицированный специалист. Все швеи и конструкторы на производстве имеют многолетний стаж работы. Консультанты в шоурумах ежегодно проходят обучение у топовых стилистов. Посещая различные фешн-мероприятия, прогуливаясь улицами Франции, Канады, и прочих стран как далекого, так и близкого зарубежья, мы все чаще видим прекрасных девушек, одетых в наши изделия. Это вдохновляет нас на новые подвиги в покорении мира моды.
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 49.426439, lng: 26.989427},
                zoom: 13
            });

            var infowindow = new google.maps.InfoWindow({
                content: ''
            });

            var icon = './images/marker.png';

            var locations = [
                ['0', 'Подольская 93', 49.426439, 26.989427]
            ];

            for (i = 0; i < locations.length; i++) {
                var title = locations[i][1];
                var content = locations[i][1];
                var id = locations[i][0];
                var pos = new google.maps.LatLng(locations[i][2], locations[i][3]);
                marker = new google.maps.Marker({
                    title: title,
                    position: pos,
                    id: id,
                    map: map,
                    icon: icon
                });
                google.maps.event.addListener(marker, 'click', (function (marker, content) {
                    return function () {
                        infowindow.setContent(content);
                        infowindow.open(map, marker);
                        map.panTo(this.getPosition());
                        map.setZoom(16);
                    }
                })(marker, content));
            }
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2IimMwvRbR9RW17iKMabcHzb5oq-vPj4&callback=initMap">
    </script>
</div>
</body>
</html>
=======
            <div class="return">
                <h2 class="return__title">Политика конфиденциальности</h2>
                <h3>1. Определение терминов</h3>
                <div class="return__info">
                    <p>1.1 В настоящей Политике конфиденциальности используются следующие термины:</p>
                    <p>1.1.1. «Администрация сайта Интернет-магазина (далее – Администрация сайта) » – уполномоченные сотрудники на управления сайтом, действующие от имени интернет-магазина mbocharova, которые организуют и осуществляет обработку персональных данных, а также определяет цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия или операции, совершаемые с персональными данными.</p>
                    <p>1.1.2. «Персональные данные» - любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных).</p>
                    <p>1.1.3. «Обработка персональных данных» - любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.</p>
                    <p>1.1.4. «Конфиденциальность персональных данных» - обязательное для соблюдения Администратором или иным получившим доступ к персональным данным лицом требование не допускать их распространения без согласия субъекта персональных данных или наличия иного законного основания.
                    </p>
                    <p>1.1.5. «Пользователь сайта Интернет-магазина mbocharova» – лицо, имеющее доступ к Сайту, посредством сети Интернет и использующее Сайт интернет-магазина.
                    </p>
                    <p>1.1.6. «Cookies» — небольшой фрагмент данных, отправленный веб-сервером и хранимый на компьютере пользователя, который веб-клиент или веб-браузер каждый раз пересылает веб-серверу в HTTP-запросе при попытке открыть страницу соответствующего сайта.
                    </p>
                    <p>1.1.7. «IP-адрес» — уникальный сетевой адрес узла в компьютерной сети, построенной по протоколу IP.
                    </p>
                </div>
                <h3>2. Общие положения</h3>
                <div class="return__info">
                    <p>2.1. Использование Пользователем сайта Интернет-магазина означает согласие с настоящей Политикой конфиденциальности и условиями обработки персональных данных Пользователя.</p>
                    <p>2.2. В случае несогласия с условиями Политики конфиденциальности Пользователь должен прекратить использование сайта Интернет-магазина.
                    </p>
                    <p>2.3.Настоящая Политика конфиденциальности применяется только к сайту Интернет-магазина mbocharova. Интернет-магазин не контролирует и не несет ответственность за сайты третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на сайте Интернет-магазина.
                    </p>
                    <p>2.4. Администрация сайта не проверяет достоверность персональных данных, предоставляемых Пользователем сайта Интернет-магазина.
                    </p>
                </div>
                <h3>3. Предмет политики конфиденциальности</h3>
                <div class="return__info">
                    <p>3.1. Настоящая Политика конфиденциальности устанавливает обязательства Администрации сайта интернет-магазина по неразглашению и обеспечению режима защиты конфиденциальности персональных данных, которые Пользователь предоставляет по запросу Администрации сайта при регистрации на сайте интернет-магазина или при оформлении заказа для приобретения Товара.
                    </p>
                    <p>3.2. Персональные данные, разрешённые к обработке в рамках настоящей Политики конфиденциальности, предоставляются Пользователем путём заполнения регистрационной формы на Сайте интернет-магазина mbocharova в разделе о регистрации и включают в себя следующую информацию:
                    </p>
                    <p>3.2.1. ФИО Пользователя;
                    </p>
                    <p>3.2.2. контактный телефон Пользователя;
                    </p>
                    <p>3.2.3. адрес электронной почты (e-mail);
                    </p>
                    <p>3.2.4. адрес доставки Товара;
                    </p>
                    <p>3.2.5. место жительство Пользователя.
                    </p>
                    <p>3.3. Интернет-магазин защищает Данные, которые автоматически передаются в процессе просмотра рекламных блоков и при посещении страниц, на которых установлен статистический скрипт системы ("пиксель"):
                    </p>
                    <ul class="return__list">
                        <li>IP адрес;</li>
                        <li>информация из cookies;</li>
                        <li>информация о браузере (или иной программе, которая осуществляет доступ к показу рекламы);</li>
                        <li>время доступа;</li>
                        <li>адрес страницы, на которой расположен рекламный блок;</li>
                        <li>реферер (адрес предыдущей страницы).</li>
                    </ul>
                    <p>3.3.1. Отключение cookies может повлечь невозможность доступа к частям сайта Интернет-магазина, требующим авторизации.
                    </p>
                    <p>3.3.2. Интернет-магазин осуществляет сбор статистики об IP-адресах своих посетителей. Данная информация используется с целью выявления и решения технических проблем, для контроля законности проводимых финансовых платежей.
                    </p>
                    <p>3.4. Любая иная персональная информация, неоговоренная выше (история покупок, используемые браузеры и операционные системы и т.д.), подлежит надежному хранению и нераспространению, за исключением случаев, предусмотренных в п.п. 5.2. и 5.3. настоящей Политики конфиденциальности.
                    </p>
                </div>
                <h3>4. Цели сбора персональной информации пользователя
                </h3>
                <div class="return__info">
                    <p>4.1. Персональные данные Пользователя Администрация сайта интернет-магазина может использовать в целях:
                    </p>
                    <p>4.1.1. Идентификации Пользователя, зарегистрированного на сайте Интернет-магазина, для оформления заказа и (или) заключения Договора купли-продажи товара дистанционным способом с Интернет-магазином mbocharova.
                    </p>
                    <p>4.1.2. Предоставления Пользователю доступа к персонализированным ресурсам Сайта интернет-магазина.
                    </p>
                    <p>4.1.3. Установления с Пользователем обратной связи, включая направление уведомлений, запросов, касающихся использования Сайта интернет-магазина, оказания услуг, обработка запросов и заявок от Пользователя.
                    </p>
                    <p>4.1.4. Определения места нахождения Пользователя для обеспечения безопасности, предотвращения мошенничества.
                    </p>
                    <p>4.1.5. Подтверждения достоверности и полноты персональных данных, предоставленных Пользователем.
                    </p>
                    <p>4.1.6. Создания учетной записи для совершения покупок, если Пользователь дал согласие на создание учетной записи.
                    </p>
                    <p>4.1.7. Уведомления Пользователя Сайта интернет-магазина о состоянии Заказа.
                    </p>
                    <p>4.1.8. Обработки и получения платежей, подтверждения налога или налоговых льгот Пользователем.
                    </p>
                    <p>4.1.9. Предоставления Пользователю эффективной клиентской и технической поддержки при возникновении проблем связанных с использованием Сайта интернет-магазина.
                    </p>
                    <p>4.1.10. Предоставления Пользователю с его согласия, обновлений продукции, специальных предложений, информации о ценах, новостной рассылки и иных сведений от имени Интернет-магазина или от имени партнеров Интернет-магазина.
                    </p>
                    <p>4.1.11. Осуществления рекламной деятельности с согласия Пользователя.
                    </p>
                    <p>4.1.12. Предоставления доступа Пользователю на сайты или сервисы партнеров Интернет-магазина с целью получения продуктов, обновлений и услуг.
                    </p>
                </div>
                <h3>5. Способы и сроки обработки персональной информации
                </h3>
                <div class="returns__info">
                    <p>5.1. Обработка персональных данных Пользователя осуществляется без ограничения срока, любым законным способом, в том числе в информационных системах персональных данных с использованием средств автоматизации или без использования таких средств.
                    </p>
                    <p>5.2. Пользователь соглашается с тем, что Администрация сайта вправе передавать персональные данные третьим лицам, в частности, курьерским службам, организациями почтовой связи, операторам электросвязи, исключительно в целях выполнения заказа Пользователя, оформленного на Сайте интернет-магазина «mbocharova», включая доставку Товара.
                    </p>
                    <p>5.3. Персональные данные Пользователя могут быть переданы уполномоченным органам государственной власти Украины только по основаниям и в порядке, установленным законодательством Украины.
                    </p>
                    <p>5.4. При утрате или разглашении персональных данных Администрация сайта информирует Пользователя об утрате или разглашении персональных данных.
                    </p>
                    <p>5.5. Администрация сайта принимает необходимые организационные и технические меры для защиты персональной информации Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий третьих лиц.
                    </p>
                    <p>5.6. Администрация сайта совместно с Пользователем принимает все необходимые меры по предотвращению убытков или иных отрицательных последствий, вызванных утратой или разглашением персональных данных Пользователя.
                    </p>
                </div>
                <h3>6. Обязательства сторон</h3>
                <div class="returns__info">
                    <p>6.1. Пользователь обязан:
                    </p>
                    <p>6.1.1. Предоставить информацию о персональных данных, необходимую для пользования Сайтом интернет-магазина mbocharova.
                    </p>
                    <p>6.1.2. Обновить, дополнить предоставленную информацию о персональных данных в случае изменения данной информации.
                    </p>
                    <p>6.2. Администрация сайта обязана:
                    </p>
                    <p>6.2.1. Использовать полученную информацию исключительно для целей, указанных в п. 4 настоящей Политики конфиденциальности.
                    </p>
                    <p>6.2.2. Обеспечить хранение конфиденциальной информации в тайне, не разглашать без предварительного письменного разрешения Пользователя, а также не осуществлять продажу, обмен, опубликование, либо разглашение иными возможными способами переданных персональных данных Пользователя, за исключением п.п. 5.2. и 5.3. настоящей Политики Конфиденциальности.
                    </p>
                    <p>6.2.3. Принимать меры предосторожности для защиты конфиденциальности персональных данных Пользователя согласно порядку, обычно используемого для защиты такого рода информации в существующем деловом обороте.
                    </p>
                    <p>6.2.4. Осуществить блокирование персональных данных, относящихся к соответствующему Пользователю, с момента обращения или запроса Пользователя или его законного представителя либо уполномоченного органа по защите прав субъектов персональных данных на период проверки, в случае выявления недостоверных персональных данных или неправомерных действий.
                    </p>
                </div>
                <h3>7. Ответственность сторон</h3>
                <div class="return__info">
                    <p>7.1. Администрация сайта, не исполнившая свои обязательства, несёт ответственность за убытки, понесённые Пользователем в связи с неправомерным использованием персональных данных, в соответствии с законодательством Украины, за исключением случаев, предусмотренных п.п. 5.2., 5.3. и 7.2. настоящей Политики Конфиденциальности.
                    </p>
                    <p>7.2. В случае утраты или разглашения Конфиденциальной информации Администрация сайта не несёт ответственность, если данная конфиденциальная информация:
                    </p>
                    <p>7.2.1. Стала публичным достоянием до её утраты или разглашения.
                    </p>
                    <p>7.2.2. Была получена от третьей стороны до момента её получения Администрацией сайта.
                    </p>
                    <p>7.2.3. Была разглашена с согласия Пользователя.
                    </p>
                </div>
                <h3>8. Разрешение споров</h3>
                <div class="return__info">
                    <p>8.1. До обращения в суд с иском по спорам, возникающим из отношений между Пользователем сайта Интернет-магазина и Администрацией сайта, обязательным является предъявление претензии (письменного предложения о добровольном урегулировании спора).
                    </p>
                    <p>8.2 .Получатель претензии в течение 30 календарных дней со дня получения претензии, письменно уведомляет заявителя претензии о результатах рассмотрения претензии.
                    </p>
                    <p>8.3. При не достижении соглашения спор будет передан на рассмотрение в судебный орган в соответствии с действующим законодательством Украины.
                    </p>
                    <p>8.4. К настоящей Политике конфиденциальности и отношениям между Пользователем и Администрацией сайта применяется действующее законодательство Украины.
                    </p>
                </div>
                <h3>9. Дополнительные условия</h3>
                <div class="return__info">
                    <p>9.1. Администрация сайта вправе вносить изменения в настоящую Политику конфиденциальности без согласия Пользователя.
                    </p>
                    <p>9.2. Новая Политика конфиденциальности вступает в силу с момента ее размещения на Сайте интернет-магазина, если иное не предусмотрено новой редакцией Политики конфиденциальности.
                    </p>
                    <p>9.3. Все предложения или вопросы по настоящей Политике конфиденциальности следует сообщать в раздел <b>"КОНТАКТЫ"</b>.
                    </p>
                    <p>9.4. Действующая Политика конфиденциальности размещена на странице по адресу <a href="mbocharova.com/privacy/">"mbocharova.com/privacy/"</a>.
                    </p>
                </div>
            </div>
        </div>
        //= partials/hidden-block.html
        //= partials/footer.html
    </div>
    </body>
    </html>
>>>>>>> 118d5cd1e269c1aeb25ef0fb97a703a01fa2e818
