//= partials/head.html
<div class="global-wrapper">
    //= partials/menus.html
    //= partials/header.html
    <div class="main">
        <div class="mbox">
            <div class="return">
                <h2 class="return__title">Обмен или возврат продукции</h2>
                <div class="return__info">
                    <p>Любой товар бренда MBocharova, приобретенный в интернет-магазине или студии, может быть возвращен
                        или обменян не позднее 14 дней без учета дня покупки.</p>
                    <p>Вернуть или обменять вещь Вы вправе только при наличии товарного чека, всех сопроводительных
                        бирок и отсутствии явных следов использования товара.</p>
                    <p>Возьмите к сведению: обмен или возврат возможен лишь в той студии нашей сети, где была
                        осуществлена покупка. При себе Вам следует иметь паспорт.</p>
                    <div class="return__list-title">Что нужно сделать для возврата:</div>
                    <ul class="return__list">
                        <li>Заполнить соответствующее заявление — в случае покупки в интернет-магазине его Вам вышлет наш менеджер.</li>
                        <li> Проверить соответствие комплектации товара.</li>
                    </ul>
                </div>
                <h2 class="return__title">Способы отправки товара на возврат:</h2>
                <div class="return__info">
                    <div class="return__info-title">Возврат через транспортную компанию “Нова Пошта”.</div>
                    <p>Отправка происходит в соответствии с тарифами ТК “Нова Пошта”. Для отправки товара укажите: получатель — ???, адрес получателя — ???, телефон — ???. Не забудьте вложить в посылку помимо товара чек и заполненное заявление на возврат.</p>
                    <p>После того, как посылка успешно прибудет на наш склад и сотрудники проверят ее соответствие, отправитель получит уведомление о принятии товара к возврату. Будьте внимательны: если отправитель укажет некорректные данные, мы не можем нести ответственность за получение посылки. </p>
                    <p>Возьмите к сведению: расходы, связанные с обменом или возвратом товара без производственного брака, который был приобретен в интернет-магазине бренда MBocharova, возмещаются отправителем. </p>
                    <p><b>Важно:</b> если Вы решили вернуть вещи без производственного брака (по причине неподходящего размера или изменении желания), они должны иметь подобающий потребительский товарный вид (без следов носки, повреждений, с оригинальными ярлыками).</p>
                    <p>Возврат денежных средств за товар происходит в срок 5 банковских дней с момента принятия товара на склад вместе с заполненным заявлением. Зачисление средств происходит на банковскую карту. </p>
                    <p>Вещи с браком или ошибочной комплектации (то, что Вы не заказывали или с неверным размером) должны быть возвращены на склад в оригинальной упаковке и всеми оригинальными ярлыками.</p>
                    <p><b>В случае выявления производственного брака или ненадлежащего качества, все расходы по возврату покрываются за счет MBocharova.</b> В таком случае кроме заявления и чека к посылке необходимо приложить чек за пересылку. Мы возместим эти расходы вместе с возвратными средствами за товар.</p>
                    <p>Возьмите к сведению: существуют определенные категории товаров, которые не подлежат возврату или обмену согласно Постановлению Кабинета Министров Украины от 19 марта 1994 г. М 172 (боди, нижнее белье и т.д.)</p>
                </div>
            </div>
        </div>
        //= partials/hidden-block.html
        //= partials/footer.html
    </div>
    </body>
    </html>